Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add size prop to Select renderer component
  renderer/src/components/form.tsx
Due: tsc

Rewrite Tabs docs: add prose and Reading the Value section
  docs/components/tabs.mdx
Due: none

Rewrite Pages docs: add prose and Reading the Value section
  docs/components/pages.mdx
Due: none

Rewrite DropZone docs: consolidate Reading the Value with ForEach file list
  docs/components/drop-zone.mdx
Due: none

Rewrite input docs: add prose and Reading the Value section
  docs/components/input.mdx
Due: none

Rewrite calendar docs: add prose and Reading the Value section
  docs/components/calendar.mdx
Due: none

Rewrite radio docs: add prose and Reading the Value section
  docs/components/radio.mdx
Due: none

Rewrite combobox docs: add prose and Reading the Value section
  docs/components/combobox.mdx
Due: none

Rewrite select docs: add prose and Reading the Value section
  docs/components/select.mdx
Due: none

Rewrite dialog docs: add prose and Reading the Value section
  docs/components/dialog.mdx
Due: none

Rewrite field docs: add prose and Reading the Value section
  docs/components/field.mdx
Due: none

Rewrite popover docs: add prose and Reading the Value section
  docs/components/popover.mdx
Due: none

Rewrite date-picker docs: add prose and Reading the Value section
  docs/components/date-picker.mdx
Due: none

Rewrite textarea docs: add prose and Reading the Value section
  docs/components/textarea.mdx
Due: none

Regenerate docs build artifacts and playground examples
  docs/expressions/overview.mdx
  docs/overview.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Rewrite Select docs with prose and Reading the Value section
  docs/components/select.mdx
Due: none

Add _get_initial_value to Tabs and Pages for reactive binding
  src/prefab_ui/components/pages.py
  src/prefab_ui/components/tabs.py
Due: ty

Add Reading the Value section to Slider docs
  docs/components/slider.mdx
Due: none

Rewrite Radio docs: rename page, add prose, fix protocol schema
  docs/components/radio.mdx
Due: none

Add Reading the Value section to Checkbox docs
  docs/components/checkbox.mdx
Due: none

Add Reading the Value section to Switch docs
  docs/components/switch.mdx
Due: none

Allow Rx objects as key in ForEach
  src/prefab_ui/components/control_flow/foreach.py
  tests/components/test_foreach.py
Due: ty

Allow Rx objects as keys in state actions
  renderer/src/actions.state.test.ts
  renderer/src/actions.test.ts
  src/prefab_ui/actions/state.py
  tests/test_actions.py
Due: ty, tsc

Auto-expand preview when floating content overflows
  docs/components/combobox.mdx
  docs/snippets/component-preview.mdx
  renderer/src/embed.tsx
Due: tsc

Rework Tabs styling and add vertical orientation
  docs/components/tabs.mdx
  docs/protocol/tabs.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/compound.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/tabs.ts
  renderer/src/style-nova.css
  renderer/src/ui/tabs.tsx
  src/prefab_ui/components/tabs.py
Due: ty, tsc
