Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, typescript, css]
        exclude: ^renderer/src/ui/  # generated shadcn components

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: bash -c 'uv run loq || printf "\nloq violations not enforced... yet!\n"'
        language: system
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

Add automated label triage workflow for issues and PRs
  .github/workflows/marvin-label-triage.yml
Due: none

Split test_components.py into per-component files; add coverage
  CLAUDE.md
  pyproject.toml
  tests/components/__init__.py
  tests/components/test_accordion.py
  tests/components/test_badge.py
  tests/components/test_base.py
  tests/components/test_calendar.py
  tests/components/test_checkbox.py
  tests/components/test_code.py
  tests/components/test_date_picker.py
  tests/components/test_dialog.py
  tests/components/test_div.py
  tests/components/test_drop_zone.py
  tests/components/test_foreach.py
  tests/components/test_heading.py
  tests/components/test_image.py
  tests/components/test_input.py
  tests/components/test_label.py
  tests/components/test_layout.py
  tests/components/test_markdown.py
  tests/components/test_pages.py
  tests/components/test_popover.py
  tests/components/test_progress.py
  tests/components/test_radio.py
  tests/components/test_select.py
  tests/components/test_separator.py
  tests/components/test_slider.py
  tests/components/test_slot.py
  tests/components/test_switch.py
  tests/components/test_table.py
  tests/components/test_tabs.py
  tests/components/test_text.py
  tests/components/test_textarea.py
  tests/components/test_tooltip.py
  tests/test_components.py
  uv.lock
Due: ty

Remove coverage config
  pyproject.toml
Due: none

Split test_components.py into per-component files (#111)
  CLAUDE.md
  pyproject.toml
  tests/components/__init__.py
  tests/components/test_accordion.py
  tests/components/test_badge.py
  tests/components/test_base.py
  tests/components/test_calendar.py
  tests/components/test_checkbox.py
  tests/components/test_code.py
  tests/components/test_date_picker.py
  tests/components/test_dialog.py
  tests/components/test_div.py
  tests/components/test_drop_zone.py
  tests/components/test_foreach.py
  tests/components/test_heading.py
  tests/components/test_image.py
  tests/components/test_input.py
  tests/components/test_label.py
  tests/components/test_layout.py
  tests/components/test_markdown.py
  tests/components/test_pages.py
  tests/components/test_popover.py
  tests/components/test_progress.py
  tests/components/test_radio.py
  tests/components/test_select.py
  tests/components/test_separator.py
  tests/components/test_slider.py
  tests/components/test_slot.py
  tests/components/test_switch.py
  tests/components/test_table.py
  tests/components/test_tabs.py
  tests/components/test_text.py
  tests/components/test_textarea.py
  tests/components/test_tooltip.py
  tests/test_components.py
  uv.lock
Due: ty

Update triage labels and model for Prefab
  .github/workflows/marvin-label-triage.yml
Due: none

Add automated label triage workflow (#110)
  .github/workflows/marvin-label-triage.yml
Due: none

Move Examples above Client Interactivity in docs nav
  docs/docs.json
Due: none

Move Examples above Client Interactivity in docs nav (#112)
  docs/docs.json
Due: none

Add Fetch action for client-side HTTP requests
  docs/_preview-build/generate_protocol_pages.py
  docs/_preview-build/generate_protocol_ref.py
  docs/actions.mdx
  docs/actions/fetch.mdx
  docs/docs.json
  docs/playground-app.js
  docs/protocol/fetch.mdx
  docs/renderer.js
  renderer/src/actions-fetch.test.ts
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  schemas/fixtures/actions/fetch.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/fetch.py
  tests/actions/test_fetch.py
  tests/test_contract.py
Due: ty, tsc

Fix action newline convention in docs examples
  .claude/skills/writing-component-docs/SKILL.md
  docs/actions.mdx
  docs/actions/call-tool.mdx
  docs/actions/fetch.mdx
  docs/actions/open-link.mdx
  docs/actions/update-context.mdx
  docs/expressions/context.mdx
  docs/overview.mdx
  docs/playground-app.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add HoverCard, Tooltip delay, and showcase interactivity
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  docs/components/hover-card.mdx
  docs/components/popover.mdx
  docs/components/tooltip.mdx
  docs/docs.json
  docs/playground-app.js
  docs/protocol/hover-card.mdx
  docs/renderer.js
  docs/snippets/component-preview.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/compound.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/hover_card.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/tooltip.ts
  renderer/src/style-nova.css
  renderer/src/ui/hover-card.tsx
  renderer/src/ui/tooltip.tsx
  schemas/fixtures/components/HoverCard.json
  schemas/manifest.json
  src/prefab_ui/cli/cli.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/hover_card.py
  src/prefab_ui/components/tooltip.py
  tests/components/test_hover_card.py
  tests/components/test_tooltip.py
Due: ty, tsc

Fix Fetch params encoding, add PrefabApp.title, hide icon button labels
  renderer/src/components/button-wrapper.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/actions/fetch.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  tests/test_app.py
Due: ty, tsc

Add FastAPI integration docs and example app
  docs/playground-app.js
  docs/renderer.js
  docs/running/api.mdx
  examples/fastapi/app.py
  pyproject.toml
  uv.lock
Due: none

Add HoverCard component and showcase interactivity (#115)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  docs/components/hover-card.mdx
  docs/components/popover.mdx
  docs/components/tooltip.mdx
  docs/docs.json
  docs/playground-app.js
  docs/protocol/hover-card.mdx
  docs/renderer.js
  docs/snippets/component-preview.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/compound.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/hover_card.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/tooltip.ts
  renderer/src/style-nova.css
  renderer/src/ui/hover-card.tsx
  renderer/src/ui/tooltip.tsx
  schemas/fixtures/components/HoverCard.json
  schemas/manifest.json
  src/prefab_ui/cli/cli.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/hover_card.py
  src/prefab_ui/components/tooltip.py
  tests/components/test_hover_card.py
  tests/components/test_tooltip.py
Due: ty, tsc

FastAPI integration: docs, example app, and supporting fixes (#116)
  docs/renderer.js
  docs/running/api.mdx
  examples/fastapi/app.py
  pyproject.toml
  renderer/src/components/button-wrapper.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/actions/fetch.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  tests/test_app.py
  uv.lock
Due: ty, tsc

Rename Spinner to Loader with variant animations, make Badge a container
  docs/components/badge.mdx
  docs/components/loader.mdx
  docs/components/spinner.mdx
  docs/docs.json
  docs/protocol/badge.mdx
  docs/protocol/loader.mdx
  docs/renderer.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/badge.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/loader.ts
  renderer/src/schemas/spinner.ts
  renderer/src/ui/loader.tsx
  renderer/src/ui/spinner.tsx
  schemas/fixtures/components/Badge.json
  schemas/fixtures/components/Loader.json
  schemas/fixtures/components/Spinner.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/badge.py
  src/prefab_ui/components/loader.py
  src/prefab_ui/components/spinner.py
Due: ty, tsc

Add loader variants to welcome showcase
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Add bars and ios loader variants, rework showcase placements
  docs/components/loader.mdx
  docs/protocol/loader.mdx
  docs/renderer.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/loader.ts
  renderer/src/ui/loader.tsx
  src/prefab_ui/components/loader.py
Due: ty, tsc

Loader component with five animation variants; Badge as container (#124)
  docs/components/badge.mdx
  docs/components/loader.mdx
  docs/components/spinner.mdx
  docs/docs.json
  docs/protocol/badge.mdx
  docs/protocol/loader.mdx
  docs/protocol/spinner.mdx
  docs/renderer.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/badge.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/loader.ts
  renderer/src/schemas/spinner.ts
  renderer/src/ui/loader.tsx
  renderer/src/ui/spinner.tsx
  schemas/fixtures/components/Badge.json
  schemas/fixtures/components/Loader.json
  schemas/fixtures/components/Spinner.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/badge.py
  src/prefab_ui/components/loader.py
  src/prefab_ui/components/spinner.py
Due: ty, tsc

Remove playground.js HTML-in-JS pattern
  .gitignore
  docs/_preview-build/render_previews.py
  docs/playground.mdx
  docs/snippets/component-playground.mdx
  src/prefab_ui/cli/cli.py
Due: ty

Restore playground build step with HTML copy instead of JS wrapping
  .gitignore
  src/prefab_ui/cli/cli.py
Due: ty

Fix playground iframe height and update CDN version
  docs/playground.mdx
Due: none

Use mode:frame for playground to keep sidebar navigation
  docs/playground.mdx
Due: none

Defer playground iframe src to client-side to fix Mintlify preview
  docs/playground.mdx
Due: none

Button text wrapping: remove whitespace-nowrap, use min-h with padding
  docs/renderer.js
  renderer/src/index.css
  renderer/src/style-nova.css
  renderer/src/ui/button.tsx
Due: tsc

Hitchhiker's Guide showcase and docs examples
  docs/docs.json
  docs/examples/the-button.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
  renderer/src/playground/examples.ts
Due: tsc

Button text wrapping and Hitchhiker's Guide showcase (#126)
  docs/docs.json
  docs/examples/the-button.mdx
  docs/renderer.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/index.css
  renderer/src/playground/examples.json
  renderer/src/playground/examples.ts
  renderer/src/style-nova.css
  renderer/src/ui/button.tsx
Due: tsc

Add `suppress()` context manager to prevent auto-attachment of children
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/form.py
  tests/components/test_base.py
Due: ty

Remove playground.js HTML-in-JS pattern (#125)
  .gitignore
  docs/_preview-build/render_previews.py
  docs/playground.mdx
  docs/snippets/component-playground.mdx
  src/prefab_ui/cli/cli.py
Due: ty

Switch renderer from IIFE to ESM module format
  docs/renderer.js
  docs/snippets/component-preview.mdx
  renderer/package.json
  renderer/src/embed.tsx
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Always load renderer from /renderer.js instead of CDN
  docs/snippets/component-preview.mdx
Due: none

Lazy-load heavy renderer components (charts, code, calendar)
  .gitignore
  .pre-commit-config.yaml
  docs/_chunks/charts-C9Nyy8S5.mjs
  docs/_chunks/charts-ImjonHdd.mjs
  docs/_chunks/compound-calendar-BLDkkJAQ.mjs
  docs/_chunks/compound-calendar-BOGnDJF7.mjs
  docs/_chunks/content-B7Iqdwyp.mjs
  docs/_chunks/content-Cf5aAjmm.mjs
  docs/_chunks/embed-B1RIUKmL.mjs
  docs/_chunks/embed-Bvc4tioC.mjs
  docs/renderer.js
  docs/snippets/component-preview.mdx
  renderer/src/components/compound-calendar.tsx
  renderer/src/components/compound.tsx
  renderer/src/components/content.tsx
  renderer/src/components/image.tsx
  renderer/src/components/registry.ts
  renderer/src/embed.tsx
  renderer/src/ui/chart.tsx
  renderer/vite-plugins.ts
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Remove stale chunk hashes from previous builds
  docs/_chunks/charts-ImjonHdd.mjs
  docs/_chunks/compound-calendar-BLDkkJAQ.mjs
  docs/_chunks/content-B7Iqdwyp.mjs
  docs/_chunks/embed-Bvc4tioC.mjs
Due: none

Update docs-build-pipeline skill for ESM + code splitting architecture
  .claude/skills/docs-build-pipeline/SKILL.md
Due: none

Load renderer chunks from CDN for deployed Mintlify
  docs/renderer.js
  renderer/package.json
  renderer/vite-plugins.ts
Due: tsc

Lazy-load lucide-react icon barrel to reduce core bundle by ~900KB
  docs/_chunks/charts-Ckkk8hPy.mjs
  docs/_chunks/compound-calendar-CkB6I6pK.mjs
  docs/_chunks/content-B4bn72c2.mjs
  docs/_chunks/embed-B1RIUKmL.mjs
  docs/_chunks/embed-CQ69ppdm.mjs
  docs/_chunks/icons-xEV2Rqfo.mjs
  docs/renderer.js
  renderer/src/components/alert-wrapper.tsx
  renderer/src/components/button-wrapper.tsx
  renderer/src/components/drop-zone.tsx
  renderer/src/components/icon-wrapper.tsx
  renderer/src/lib/icons-barrel.ts
  renderer/src/lib/icons.tsx
  renderer/vite.config.renderer.ts
Due: tsc
