Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Fix pipe args dropping type info (#350)
  renderer/src/custom-handlers.test.ts
  renderer/src/custom-handlers.ts
  renderer/src/expression.test.ts
  renderer/src/expression.ts
Due: tsc

Upgrade ty 0.0.25 → 0.0.26
  uv.lock
Due: none

Upgrade ty 0.0.25 → 0.0.26 (#351)
  uv.lock
Due: none

Expandable DataTable rows
  docs/components/conditional.mdx
  docs/components/data-table.mdx
  docs/components/metric.mdx
  docs/concepts/components.mdx
  docs/concepts/expressions.mdx
  docs/examples/file-upload.mdx
  docs/examples/todo.mdx
  docs/expressions/operators.mdx
  docs/expressions/pipes.mdx
  renderer/src/components/data-display.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style.css
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
  tools/render_previews.py
Due: ty, tsc

Expandable DataTable rows (#353)
  docs/components/conditional.mdx
  docs/components/data-table.mdx
  docs/components/metric.mdx
  docs/concepts/components.mdx
  docs/concepts/expressions.mdx
  docs/examples/file-upload.mdx
  docs/examples/todo.mdx
  docs/expressions/operators.mdx
  docs/expressions/pipes.mdx
  renderer/src/components/data-display.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style.css
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
  tools/render_previews.py
Due: ty, tsc

Fix playground example errors
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.ts
  renderer/src/pyodide/executor.ts
  tests/test_executor_harness.py
Due: ty, tsc

Regenerate playground bundle after rebase
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Fix playground example errors (#355)
  renderer/src/playground/examples.json
  renderer/src/playground/examples.ts
  renderer/src/pyodide/executor.ts
  tests/test_executor_harness.py
Due: ty, tsc

Gate PRs on fresh docs, purge all CDN files on release
  .github/workflows/publish-renderer.yml
  .github/workflows/regenerate-docs.yml
Due: none

Gate PRs on fresh docs, purge all CDN files on release (#358)
  .github/workflows/publish-renderer.yml
  .github/workflows/regenerate-docs.yml
Due: none

Fix DropZone rejecting files when accept="*/*"
  renderer/src/file-utils.ts
Due: tsc

Fix ScatterChart infinite re-render loop in MCP clients
  renderer/src/components/charts.tsx
Due: tsc

Fix ScatterChart infinite re-render loop in MCP clients (#360)
  renderer/src/components/charts.tsx
Due: tsc

Fix DropZone rejecting files when accept="*/*" (#359)
  renderer/src/file-utils.ts
Due: tsc

Support Tailwind arbitrary values in css_class
  docs/styling/css.mdx
  renderer/src/app.tsx
  renderer/src/arbitrary-css.ts
  renderer/src/embed.tsx
  src/prefab_ui/app.py
  src/prefab_ui/css.py
  tests/test_arbitrary_css.py
Due: ty, tsc

Address review: escape CSS in HTML output, scan defs for classes
  renderer/src/app.tsx
  renderer/src/arbitrary-css.ts
  renderer/src/embed.tsx
  src/prefab_ui/app.py
Due: ty, tsc

Rebuild docs
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add @tailwindcss/browser for runtime CSS generation
  renderer/package-lock.json
  renderer/package.json
  renderer/src/index.css
  renderer/src/main.tsx
Due: tsc

Add @tailwindcss/browser to generative renderer entry point
  renderer/src/generative-main.tsx
Due: tsc

Use @tailwindcss/browser for runtime CSS generation (#362)
  renderer/package-lock.json
  renderer/package.json
  renderer/src/generative-main.tsx
  renderer/src/index.css
  renderer/src/main.tsx
Due: tsc

Replace hand-maintained CSS safelist with auto-extracted preview classes
  renderer/src/index.css
  src/prefab_ui/cli/cli.py
  tools/extract_preview_classes.py
  tools/input.css
  tools/preview-classes.html
  tools/safelist.html
Due: ty

Replace CSS safelist with auto-extracted preview classes (#364)
  renderer/src/index.css
  src/prefab_ui/cli/cli.py
  tools/extract_preview_classes.py
  tools/input.css
  tools/preview-classes.html
  tools/safelist.html
Due: ty

Fix CSS extraction gaps and add browser compiler to playground
  .gitignore
  renderer/src/playground/main.tsx
  tools/extract_preview_classes.py
  tools/preview-classes.html
Due: tsc

Keep preview-classes.html committed to avoid build failures
  .gitignore
  tools/preview-classes.html
Due: none

Fix CSS extraction gaps and add browser compiler to playground (#365)
  renderer/src/playground/main.tsx
  tools/extract_preview_classes.py
  tools/preview-classes.html
Due: tsc

Filter junk tokens from preview class extraction, add CI staleness check
  .github/workflows/regenerate-docs.yml
  tools/extract_preview_classes.py
  tools/preview-classes.html
Due: none

Allow numeric-prefixed classes like 2xl:grid-cols-4
  tools/extract_preview_classes.py
  tools/preview-classes.html
Due: none

Filter junk tokens from class extraction, add CI check (#366)
  .github/workflows/regenerate-docs.yml
  tools/extract_preview_classes.py
  tools/preview-classes.html
Due: none

Fix stale variant/size docs in Button and Alert
  src/prefab_ui/components/alert.py
  src/prefab_ui/components/button.py
Due: ty

Rebuild
  docs/protocol/alert.mdx
  docs/protocol/button.mdx
  renderer/src/playground/bundle.json
Due: none

Fix stale variant/size docs in Button and Alert (#368)
  docs/protocol/alert.mdx
  docs/protocol/button.mdx
  renderer/src/playground/bundle.json
  src/prefab_ui/components/alert.py
  src/prefab_ui/components/button.py
Due: ty

Document bundled renderer purpose and use cases
  dev-docs/build-pipeline.md
Due: none

Add prefab dev build-renderers, document build pipeline
  CLAUDE.md
  dev-docs/build-pipeline.md
  src/prefab_ui/cli/cli.py
  src/prefab_ui/cli/docs_server.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/renderer/generative.html
Due: ty

Regenerate playground bundle
  renderer/src/playground/bundle.json
Due: none

Consolidate to one bundled renderer, remove generative.html
  dev-docs/build-pipeline.md
  src/prefab_ui/cli/cli.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/generative.html
Due: ty

Add bundled renderer staleness check to CI
  .github/workflows/regenerate-docs.yml
Due: none

Check all generated files for staleness, not just a hardcoded list
  .github/workflows/regenerate-docs.yml
Due: none

Check for npx before invoking vite in build-renderers
  src/prefab_ui/cli/cli.py
Due: ty

Consolidate build docs into single build-pipeline.md
  CLAUDE.md
  dev-docs/build-pipeline.md
  dev-docs/renderer-build-release.md
Due: none

Update test: bundled renderer now includes Pyodide CDN ref
  tests/test_renderer.py
Due: ty

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
