Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add Rx.__getitem__ and accept Rx in component name fields
  src/prefab_ui/components/base.py
  src/prefab_ui/rx.py
  tests/components/test_foreach.py
  tests/components/test_input.py
  tests/test_actions.py
  tests/test_rx.py
Due: ty

Validate state proxy key access against declared keys
  src/prefab_ui/app.py
  src/prefab_ui/rx.py
  tests/test_app.py
  tests/test_rx.py
Due: ty

Make SetState and AppendState value required
  docs/actions/update-state.mdx
  docs/concepts/expression-reference.mdx
  docs/expressions/context.mdx
  schemas/fixtures/actions/appendState.json
  schemas/fixtures/actions/setState.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/state.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty

Compile bold/italic to CSS classes instead of protocol props
  src/prefab_ui/components/typography.py
  tests/components/test_text.py
Due: ty

Prevent infinite iteration on Rx and accept Rx in chart data fields
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/rx.py
  tests/test_rx.py
Due: ty

Rebuild docs after bold/italic and Rx iteration fixes
  docs/components/date-picker.mdx
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/components/typography.mdx
  docs/concepts/composition.mdx
  docs/examples/threshold-meter.mdx
  docs/protocol/append-state.mdx
  docs/protocol/block-quote.mdx
  docs/protocol/h1.mdx
  docs/protocol/h2.mdx
  docs/protocol/h3.mdx
  docs/protocol/h4.mdx
  docs/protocol/heading.mdx
  docs/protocol/inline-code.mdx
  docs/protocol/large.mdx
  docs/protocol/lead.mdx
  docs/protocol/muted.mdx
  docs/protocol/p.mdx
  docs/protocol/set-state.mdx
  docs/protocol/small.mdx
  docs/protocol/text.mdx
  renderer/src/playground/bundle.json
Due: none

Add RequestDisplayMode action for MCP Apps display mode API
  docs-build/generate_protocol_pages.py
  docs/actions/request-display-mode.mdx
  docs/docs.json
  docs/protocol/request-display-mode.mdx
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  src/prefab_ui/actions/mcp.py
  tests/actions/test_mcp.py
  tests/test_actions.py
Due: ty, tsc

Add RequestDisplayMode to schema generator and contract fixtures
  schemas/fixtures/actions/requestDisplayMode.json
  schemas/manifest.json
  scripts/generate_schemas.py
Due: none

Add RequestDisplayMode to Python contract test action list
  tests/test_contract.py
Due: ty

Add HOST reactive variable for MCP host context
  docs/actions/request-display-mode.mdx
  renderer/src/app.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx/__init__.py
  src/prefab_ui/rx/mcp.py
  tests/rx/test_rx_mcp.py
Due: ty, tsc

Add reactive variable docs, rename Components to Reference
  docs/docs.json
  docs/expressions/context.mdx
  docs/reactive/error.mdx
  docs/reactive/event.mdx
  docs/reactive/host.mdx
  docs/reactive/index.mdx
  docs/reactive/item.mdx
  docs/reactive/state.mdx
  renderer/src/playground/examples.json
Due: none

Split UI Elements into Display and Form Controls
  docs/docs.json
Due: none

Rename Reactive Variables to Special Variables
  docs/docs.json
Due: none

Support callable tool references in CallTool
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/app.py
  tests/actions/test_mcp.py
Due: ty

Reorganize Reference nav into 7 groups, add from_iframe to Embed
  docs/docs.json
Due: none

Fix playground Pyodide failure on pydantic-core
  docs-build/generate_playground_bundle.py
  renderer/src/playground/bundle.json
  renderer/src/playground/pyodide.ts
  renderer/vite.config.playground.ts
Due: tsc

Fix playground Pyodide: add rx to bundle, pre-load pydantic
  renderer/src/playground/pyodide.ts
Due: tsc

Brighten chart and semantic color palettes
  renderer/src/theme.css
  src/prefab_ui/themes.py
Due: ty

Regenerate playground bundle with updated theme values
  renderer/src/playground/bundle.json
Due: none

Add playground theme picker and fix __LOCAL_BUNDLE__ for dev server
  docs/playground.mdx
  renderer/src/playground/playground.tsx
  renderer/src/playground/theme-picker.tsx
  renderer/vite.config.ts
Due: tsc

Use single-file playground build for prefab playground CLI
  src/prefab_ui/cli/cli.py
Due: ty
