Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, typescript, css]
        exclude: ^renderer/src/ui/  # generated shadcn components

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: bash -c 'uv run loq || printf "\nloq violations not enforced... yet!\n"'
        language: system
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

Add docs.json and improve just docs recipe
  docs/docs.json
  justfile
Due: none

Set strictPort on Vite dev server
  renderer/vite.config.ts
Due: tsc

Fix docs.json theme and justfile process cleanup
  docs/docs.json
  justfile
Due: none

Add README
  README.md
Due: none

Use context manager style in README hero example
  README.md
Due: none

Reframe Why Prefab around the actual motivation
  README.md
Due: none

Add welcome page to docs
  docs/docs.json
  docs/welcome.mdx
Due: none

Accept height prop on ComponentPreview
  docs/snippets/component-preview.mdx
Due: none

Auto-size ComponentPreview iframes via postMessage
  docs/snippets/component-preview.mdx
Due: none

Sync dark mode between Mintlify and renderer iframes
  docs/apps/actions/open-link.mdx
  docs/snippets/component-preview.mdx
  renderer/src/dev-preview.tsx
Due: tsc

Center doc preview content in iframes
  renderer/src/dev-preview.tsx
Due: tsc

Set 120px minimum height on preview iframes
  docs/snippets/component-preview.mdx
Due: none

Vertically center content in doc preview iframes
  renderer/src/dev-preview.tsx
Due: tsc

Use generous padding instead of min-height for preview breathing room
  docs/snippets/component-preview.mdx
  renderer/src/dev-preview.tsx
Due: tsc

Remove initial iframe height floor, adjust preview padding
  docs/snippets/component-preview.mdx
  renderer/src/dev-preview.tsx
Due: tsc

Replace flex centering with text-center for preview layout
  renderer/src/dev-preview.tsx
Due: tsc

Remove centering from preview wrapper, use padding only
  renderer/src/dev-preview.tsx
Due: tsc

Create banner.png
  docs/assets/banner.png
Due: none

Measure document scroll height for iframe sizing
  renderer/src/dev-preview.tsx
Due: tsc

Center checkbox previews with w-fit mx-auto
  docs/apps/components/checkbox.mdx
  renderer/src/index.css
Due: none

Add vision document
  VISION.md
Due: none

Add Apache License 2.0
  LICENSE
Due: none

Fix CI failures: ty types, prek config, pydantic bump, lockfile
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/docs.json
  docs/welcome.mdx
  pyproject.toml
  renderer/package-lock.json
  src/prefab_ui/__init__.py
  tests/conftest.py
  tests/test_contract.py
  uv.lock
Due: ty

Reformat with pinned ruff 0.14.10, fix duplicate dict key
  docs/_preview-build/generate_playground_bundle.py
  docs/_preview-build/scope_css.py
  src/prefab_ui/testing.py
  tests/test_components.py
  tests/test_simulator.py
Due: ty

Bump ruff to v0.15.0, add npm ci to CI, reformat renderer with prettier
  .github/workflows/run-static.yml
  .pre-commit-config.yaml
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
  renderer/src/components/compound.tsx
  renderer/src/components/content.tsx
  renderer/src/components/data-display.tsx
  renderer/src/components/layout.tsx
  renderer/src/components/typography.tsx
  renderer/src/conditions.test.ts
  renderer/src/conditions.ts
  renderer/src/contract.test.ts
  renderer/src/dev-preview.tsx
  renderer/src/index.css
  renderer/src/interpolation.test.ts
  renderer/src/interpolation.ts
  renderer/src/lib/utils.ts
  renderer/src/main.tsx
  renderer/src/renderer.tsx
  renderer/src/schemas/badge.ts
  renderer/src/schemas/button.ts
  renderer/src/schemas/data_table.ts
  renderer/src/schemas/heading.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/input.ts
  renderer/src/schemas/table.ts
  renderer/src/schemas/typography.ts
  renderer/src/state.ts
  renderer/src/style-nova.css
Due: tsc

Enforce loq at 750 lines, split oversized files
  loq.toml
  renderer/src/demo-data.ts
  renderer/src/dev-preview.tsx
  tests/test_components.py
  tests/test_form_model.py
Due: ty, tsc

Enforce loq in pre-commit (no longer advisory)
  .pre-commit-config.yaml
Due: none

Enforce loq at 750 lines (#4)
  .pre-commit-config.yaml
  loq.toml
  renderer/src/demo-data.ts
  renderer/src/dev-preview.tsx
  tests/test_components.py
  tests/test_form_model.py
Due: ty, tsc

Add protocol version to wire format envelope
  renderer/src/app.tsx
  src/prefab_ui/response.py
  tests/test_response.py
Due: ty, tsc

Add protocol version to wire format envelope (#6)
  renderer/src/app.tsx
  src/prefab_ui/response.py
  tests/test_response.py
Due: ty, tsc

Add interactive playground
  docs/_preview-build/extract_examples.py
  docs/_preview-build/generate_playground_bundle.py
  docs/apps/playground.mdx
  docs/docs.json
  justfile
  renderer/package-lock.json
  renderer/package.json
  renderer/playground.html
  renderer/src/playground/bundle.json
  renderer/src/playground/editor.tsx
  renderer/src/playground/examples.ts
  renderer/src/playground/main.tsx
  renderer/src/playground/playground.tsx
  renderer/src/playground/pyodide.ts
  renderer/vite.config.ts
Due: tsc

Add interactive playground (#7)
  docs/_preview-build/extract_examples.py
  docs/_preview-build/generate_playground_bundle.py
  docs/apps/playground.mdx
  docs/docs.json
  justfile
  renderer/package-lock.json
  renderer/package.json
  renderer/playground.html
  renderer/src/playground/bundle.json
  renderer/src/playground/editor.tsx
  renderer/src/playground/examples.ts
  renderer/src/playground/main.tsx
  renderer/src/playground/playground.tsx
  renderer/src/playground/pyodide.ts
  renderer/vite.config.ts
Due: tsc

Add Protocol Reference sections to all component and action docs
  docs/_preview-build/generate_protocol_ref.py
  docs/apps/actions/call-tool.mdx
  docs/apps/actions/open-link.mdx
  docs/apps/actions/send-message.mdx
  docs/apps/actions/set-state.mdx
  docs/apps/actions/update-context.mdx
  docs/apps/components/accordion.mdx
  docs/apps/components/alert.mdx
  docs/apps/components/badge.mdx
  docs/apps/components/button-group.mdx
  docs/apps/components/button.mdx
  docs/apps/components/calendar.mdx
  docs/apps/components/card.mdx
  docs/apps/components/checkbox.mdx
  docs/apps/components/code.mdx
  docs/apps/components/data-table.mdx
  docs/apps/components/date-picker.mdx
  docs/apps/components/dialog.mdx
  docs/apps/components/foreach.mdx
  docs/apps/components/image.mdx
  docs/apps/components/input.mdx
  docs/apps/components/label.mdx
  docs/apps/components/layout.mdx
  docs/apps/components/markdown.mdx
  docs/apps/components/pages.mdx
  docs/apps/components/popover.mdx
  docs/apps/components/progress.mdx
  docs/apps/components/radio.mdx
  docs/apps/components/select.mdx
  docs/apps/components/separator.mdx
  docs/apps/components/slider.mdx
  docs/apps/components/switch.mdx
  docs/apps/components/table.mdx
  docs/apps/components/tabs.mdx
  docs/apps/components/textarea.mdx
  docs/apps/components/tooltip.mdx
  docs/apps/components/typography.mdx
Due: none
