Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, typescript, css]
        exclude: ^renderer/src/ui/  # generated shadcn components

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: bash -c 'uv run loq || printf "\nloq violations not enforced... yet!\n"'
        language: system
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

Update layout component docs with inline JSON schema
  docs/apps/components/layout.mdx
Due: none

Update pages component docs with Basic Usage section and inline JSON schema
  docs/apps/components/pages.mdx
Due: none

Update popover component docs with Basic Usage section and inline JSON schema
  docs/apps/components/popover.mdx
Due: none

Update radio component docs with Basic Usage section and inline JSON schema
  docs/apps/components/radio.mdx
Due: none

Update progress component docs with Basic Usage section and inline JSON schema
  docs/apps/components/progress.mdx
Due: none

Update select component docs with Basic Usage section and inline JSON schema
  docs/apps/components/select.mdx
Due: none

Update slider component docs with Basic Usage section and inline JSON schema
  docs/apps/components/slider.mdx
Due: none

Update separator component docs with Basic Usage section and inline JSON schema
  docs/apps/components/separator.mdx
Due: none

Update state component docs with Basic Usage section and inline JSON schema
  docs/apps/components/state.mdx
Due: none

Update switch component docs with Basic Usage section and inline JSON schema
  docs/apps/components/switch.mdx
Due: none

Update tabs component docs with Basic Usage section and inline JSON schema
  docs/apps/components/tabs.mdx
Due: none

Update table component docs with Basic Usage section and inline JSON schema
  docs/apps/components/table.mdx
Due: none

Update textarea component docs with Basic Usage section and inline JSON schema
  docs/apps/components/textarea.mdx
Due: none

Update tooltip component docs with Basic Usage section and inline JSON schema
  docs/apps/components/tooltip.mdx
Due: none

Update typography component docs with Basic Usage section and inline JSON schema
  docs/apps/components/typography.mdx
Due: none

Fix doc inconsistencies and centralize interpolation docs
  docs/apps/components/accordion.mdx
  docs/apps/components/alert.mdx
  docs/apps/components/badge.mdx
  docs/apps/components/button.mdx
  docs/apps/components/card.mdx
  docs/apps/components/checkbox.mdx
  docs/apps/components/code.mdx
  docs/apps/components/data-table.mdx
  docs/apps/components/image.mdx
  docs/apps/components/input.mdx
  docs/apps/components/label.mdx
  docs/apps/components/layout.mdx
  docs/apps/components/markdown.mdx
  docs/apps/components/progress.mdx
  docs/apps/components/radio.mdx
  docs/apps/components/select.mdx
  docs/apps/components/separator.mdx
  docs/apps/components/slider.mdx
  docs/apps/components/state.mdx
  docs/apps/components/switch.mdx
  docs/apps/components/table.mdx
  docs/apps/components/textarea.mdx
  docs/apps/components/typography.mdx
  docs/apps/patterns/interpolation.mdx
  docs/development/writing-component-docs.mdx
  docs/docs.json
Due: none

Add Protocol nav anchor and generate-protocol-ref recipe
  docs/docs.json
  justfile
Due: none

Fix accordion property name in data-display pattern docs
  docs/apps/patterns/data-display.mdx
Due: none

Add protocol reference page generation script
  docs/_preview-build/generate_protocol_pages.py
Due: none

Add .loq_cache to gitignore
  .gitignore
Due: none

Add prefab dev docs command with graceful port handling
  .gitignore
  docs/apps/patterns/data-display.mdx
  docs/apps/playground.mdx
  docs/snippets/component-preview.mdx
  docs/styles/style.css
  justfile
  renderer/vite.config.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add prefab dev docs command with graceful port handling (#17)
  .gitignore
  docs/apps/patterns/data-display.mdx
  docs/apps/playground.mdx
  docs/snippets/component-preview.mdx
  docs/styles/style.css
  justfile
  renderer/vite.config.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Remove icon from protocol overview page
  docs/apps/protocol/overview.mdx
Due: none

Add prefab dev build-docs command
  docs/_preview-build/scope_css.py
  justfile
  src/prefab_ui/cli/cli.py
Due: ty

Update dev docs to reference prefab dev build-docs
  docs/development/writing-component-docs.mdx
Due: none

Add prefab dev build-docs command (#18)
  docs/_preview-build/scope_css.py
  docs/development/writing-component-docs.mdx
  justfile
  src/prefab_ui/cli/cli.py
Due: ty

Upgrade thin component docs and remove per-field interpolation callouts
  docs/apps/components/badge.mdx
  docs/apps/components/code.mdx
  docs/apps/components/dialog.mdx
  docs/apps/components/foreach.mdx
  docs/apps/components/pages.mdx
  docs/apps/components/popover.mdx
  src/prefab_ui/components/alert.py
  src/prefab_ui/components/badge.py
  src/prefab_ui/components/button.py
  src/prefab_ui/components/checkbox.py
  src/prefab_ui/components/code.py
  src/prefab_ui/components/div.py
  src/prefab_ui/components/heading.py
  src/prefab_ui/components/image.py
  src/prefab_ui/components/input.py
  src/prefab_ui/components/label.py
  src/prefab_ui/components/markdown.py
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/radio.py
  src/prefab_ui/components/select.py
  src/prefab_ui/components/slider.py
  src/prefab_ui/components/switch.py
  src/prefab_ui/components/text.py
  src/prefab_ui/components/textarea.py
  src/prefab_ui/components/typography.py
Due: ty

Upgrade thin component docs and remove per-field interpolation callouts (#19)
  docs/apps/components/badge.mdx
  docs/apps/components/code.mdx
  docs/apps/components/dialog.mdx
  docs/apps/components/foreach.mdx
  docs/apps/components/pages.mdx
  docs/apps/components/popover.mdx
  src/prefab_ui/components/alert.py
  src/prefab_ui/components/badge.py
  src/prefab_ui/components/button.py
  src/prefab_ui/components/checkbox.py
  src/prefab_ui/components/code.py
  src/prefab_ui/components/div.py
  src/prefab_ui/components/heading.py
  src/prefab_ui/components/image.py
  src/prefab_ui/components/input.py
  src/prefab_ui/components/label.py
  src/prefab_ui/components/markdown.py
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/radio.py
  src/prefab_ui/components/select.py
  src/prefab_ui/components/slider.py
  src/prefab_ui/components/switch.py
  src/prefab_ui/components/text.py
  src/prefab_ui/components/textarea.py
  src/prefab_ui/components/typography.py
Due: ty

Clean up wire envelope: version/view/defs/state keys
  renderer/src/actions.ts
  renderer/src/app.tsx
  src/prefab_ui/response.py
  src/prefab_ui/testing.py
Due: ty, tsc

Update tests for v0.2 envelope format
  renderer/src/actions.test.ts
  tests/test_define_use_state.py
  tests/test_response.py
Due: ty, tsc

Update docs for v0.2 envelope format
  VISION.md
  docs/apps/patterns/reusable-components.mdx
  docs/apps/protocol/overview.mdx
Due: none

Clean up wire envelope format (#20)
  VISION.md
  docs/apps/patterns/reusable-components.mdx
  docs/apps/protocol/overview.mdx
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
  src/prefab_ui/response.py
  src/prefab_ui/testing.py
  tests/test_define_use_state.py
  tests/test_response.py
Due: ty, tsc

Replace iframe-based ComponentPreview with shadow DOM
  docs/snippets/component-preview.mdx
  renderer/src/embed.tsx
  renderer/src/portal-container.tsx
  renderer/src/ui/dialog.tsx
  renderer/src/ui/popover.tsx
  renderer/src/ui/select.tsx
Due: tsc

Replace iframe-based ComponentPreview with shadow DOM (#21)
  docs/snippets/component-preview.mdx
  renderer/src/embed.tsx
  renderer/src/portal-container.tsx
  renderer/src/ui/dialog.tsx
  renderer/src/ui/popover.tsx
  renderer/src/ui/select.tsx
Due: tsc

Move @property transform from runtime to Vite plugin
  renderer/src/embed.tsx
  renderer/vite.config.ts
Due: tsc

Create CLAUDE.md
  CLAUDE.md
Due: none

Move @property transform from runtime to Vite plugin (#22)
  CLAUDE.md
  renderer/src/embed.tsx
  renderer/vite.config.ts
Due: tsc

Default renderer URL to CDN, add get_renderer_csp()
  src/prefab_ui/renderer/__init__.py
  tests/test_renderer.py
Due: ty

Fix npm scope: @prefecthq/prefab-ui (not @prefect)
  README.md
  docs/welcome.mdx
  renderer/package-lock.json
  renderer/package.json
  src/prefab_ui/renderer/__init__.py
  tests/test_renderer.py
Due: ty
