Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Expression docs with live previews
  docs/docs.json
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/expressions/templates.mdx
  docs/patterns/expressions.mdx
  docs/patterns/interpolation.mdx
  docs/renderer.js
  renderer/src/playground/examples.json
Due: none

Document expression syntax and consecutive-If chain behavior
  docs/components/conditional.mdx
Due: none

Make conditional doc examples interactive
  docs/components/conditional.mdx
Due: none

Match Condition protocol page to auto-generated format
  docs/protocol/condition.mdx
Due: none

Add distributable skills for generative-prefab-ui and writing-prefab-python
  .claude/skills/writing-component-docs/SKILL.md
  skills/generative-prefab-ui/SKILL.md
  skills/generative-prefab-ui/references/actions.md
  skills/generative-prefab-ui/references/components.md
  skills/generative-prefab-ui/references/expressions.md
  skills/writing-prefab-python/SKILL.md
  skills/writing-prefab-python/references/forms.md
  skills/writing-prefab-python/references/testing.md
Due: none

Add Simulator testing docs page
  docs/docs.json
  docs/testing.mdx
  docs/welcome.mdx
Due: none

Distributable agent skills and Simulator testing docs (#50)
  .claude/skills/writing-component-docs/SKILL.md
  docs/docs.json
  docs/testing.mdx
  docs/welcome.mdx
  skills/generative-prefab-ui/SKILL.md
  skills/generative-prefab-ui/references/actions.md
  skills/generative-prefab-ui/references/components.md
  skills/generative-prefab-ui/references/expressions.md
  skills/writing-prefab-python/SKILL.md
  skills/writing-prefab-python/references/forms.md
  skills/writing-prefab-python/references/testing.md
Due: none

Introduce both $index and $item upfront in ForEach docs
  docs/components/foreach.mdx
Due: none

Remove _item, use $item everywhere
  docs/components/foreach.mdx
  docs/components/state.mdx
  docs/patterns/data-display.mdx
  docs/renderer.js
  renderer/src/demo-data.ts
  renderer/src/expression.test.ts
  renderer/src/foreach.test.ts
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
Due: tsc

Expose $index and $item in ForEach iteration scope
  docs/components/foreach.mdx
  docs/renderer.js
  renderer/src/foreach.test.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
Due: tsc

Update skills for Condition, $index/$item, remove visibleWhen
  .claude/skills/docs-build-pipeline/SKILL.md
  .claude/skills/writing-component-docs/SKILL.md
  skills/generative-prefab-ui/SKILL.md
  skills/generative-prefab-ui/references/components.md
  skills/writing-prefab-python/SKILL.md
Due: none

Remove set_data, clean up redundant SetState, fix action Protocol Reference
  docs/_preview-build/generate_protocol_ref.py
  docs/_preview-build/render_previews.py
  docs/actions.mdx
  docs/actions/call-tool.mdx
  docs/actions/open-link.mdx
  docs/actions/send-message.mdx
  docs/actions/set-state.mdx
  docs/actions/update-context.mdx
  docs/components/conditional.mdx
  docs/components/foreach.mdx
  docs/components/state.mdx
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/templates.mdx
  renderer/src/playground/examples.json
  renderer/src/playground/pyodide.ts
Due: tsc

Remove redundant ToggleState on named Switches
  docs/components/conditional.mdx
  docs/expressions/operators.mdx
  renderer/src/playground/examples.json
Due: none

Complete auto-binding component list, remove remaining ToggleState
  docs/actions.mdx
Due: none

Add check/cross emoji to correct/wrong code example
  docs/components/conditional.mdx
Due: none

prefab docs
  docs/vercel.json
Due: none

Build and serve playground in docs
  .gitignore
  .pre-commit-config.yaml
  docs/playground-app.js
  docs/playground.mdx
  docs/renderer.js
  docs/styles/style.css
  renderer/src/playground/examples.json
  src/prefab_ui/cli/cli.py
Due: ty

Auto-import all components and actions in playground harness
  docs/playground-app.js
  renderer/src/playground/playground.tsx
  renderer/src/playground/pyodide.ts
Due: tsc

Fix emoji crash in playground URL hash encoding
  docs/playground-app.js
  renderer/src/playground/playground.tsx
Due: tsc

Show wildcard imports in default playground example
  docs/playground-app.js
  renderer/src/playground/playground.tsx
Due: tsc

Build and serve playground.html in docs (#51)
  .gitignore
  .pre-commit-config.yaml
  docs/playground-app.js
  docs/playground.mdx
  docs/styles/style.css
  renderer/src/playground/playground.tsx
  renderer/src/playground/pyodide.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add AppendState, PopState, and dot-path state support
  docs/actions/set-state.mdx
  docs/docs.json
  docs/protocol/append-state.mdx
  docs/protocol/pop-state.mdx
  docs/protocol/set-state.mdx
  docs/protocol/toggle-state.mdx
  docs/renderer.js
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  renderer/src/state.test.ts
  renderer/src/state.ts
  renderer/src/testing/state-store.ts
  schemas/fixtures/actions/appendState.json
  schemas/fixtures/actions/popState.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/__init__.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/state.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Rewrite state action docs with live previews
  docs/actions/set-state.mdx
  renderer/src/playground/examples.json
Due: none

Rewrite State component docs for clarity
  docs/components/state.mdx
  renderer/src/playground/examples.json
Due: none

Fix State doc framing — it's about state, not just expressions
  docs/components/state.mdx
  renderer/src/playground/examples.json
Due: none

Rewrite state action docs with live previews
  docs/actions/set-state.mdx
Due: none

Simplify dot-path example, clarify integer segment rule
  docs/actions/set-state.mdx
Due: none

Fix popState/appendState index schema to accept template strings, add array path example
  docs/actions/set-state.mdx
  renderer/src/schemas/actions.ts
Due: tsc

Add AppendState, PopState, and dot-path state support (#54)
  docs/actions/set-state.mdx
  docs/components/state.mdx
  docs/docs.json
  docs/protocol/append-state.mdx
  docs/protocol/pop-state.mdx
  docs/protocol/set-state.mdx
  docs/protocol/toggle-state.mdx
  docs/renderer.js
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  renderer/src/state.test.ts
  renderer/src/state.ts
  renderer/src/testing/state-store.ts
  schemas/fixtures/actions/appendState.json
  schemas/fixtures/actions/popState.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/__init__.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/state.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Fix nested ForEach key interpolation, add expression keywords, support template paths
  docs/expressions/operators.mdx
  docs/protocol/button.mdx
  docs/renderer.js
  renderer/src/expression.test.ts
  renderer/src/expression.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/button.ts
  src/prefab_ui/actions/state.py
  src/prefab_ui/components/button.py
Due: ty, tsc

Document button disabled template expression support
  docs/components/button.mdx
Due: none

Add Responsive class for breakpoint-aware layout properties
  src/prefab_ui/__init__.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/grid.py
  tests/test_responsive.py
Due: ty

Pass minColumnWidth as JSON prop with inline style rendering
  docs/components/grid.mdx
  docs/playground-app.js
  docs/protocol/grid.mdx
  docs/renderer.js
  renderer/src/components/layout.tsx
  renderer/src/playground/bundle.json
  renderer/src/schemas/grid.ts
  src/prefab_ui/components/base.py
  src/prefab_ui/components/grid.py
  tests/test_responsive.py
Due: ty, tsc

Add resizable previews, responsive layouts doc, and build pipeline fixes
  docs/_preview-build/render_previews.py
  docs/components/grid.mdx
  docs/docs.json
  docs/patterns/responsive-layouts.mdx
  docs/playground-app.js
  docs/renderer.js
  docs/snippets/component-preview.mdx
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add CSS helpers module, clean up package imports, fix SelectOption
  docs/actions.mdx
  docs/actions/call-tool.mdx
  docs/actions/open-link.mdx
  docs/actions/send-message.mdx
  docs/actions/set-state.mdx
  docs/actions/update-context.mdx
  docs/components/conditional.mdx
  docs/components/define-use.mdx
  docs/css.mdx
  docs/docs.json
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/overview.mdx
  docs/patterns/confirmation.mdx
  docs/patterns/forms.mdx
  docs/patterns/interactivity.mdx
  docs/patterns/responsive-layouts.mdx
  docs/patterns/reusable-components.mdx
  docs/playground-app.js
  docs/renderer.js
  docs/testing.mdx
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style-nova.css
  src/prefab_ui/__init__.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/select.py
  src/prefab_ui/css.py
  src/prefab_ui/define.py
  src/prefab_ui/response.py
  src/prefab_ui/use.py
  tests/test_define_use_state.py
  tests/test_responsive.py
Due: ty

Fix nested ForEach rendering and add not/and/or expression keywords
  docs/playground-app.js
  docs/renderer.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
