Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add custom-pipes example, organize examples into folders with READMEs
  examples/budget-allocator/README.md
  examples/budget-allocator/app.py
  examples/custom-pipes/README.md
  examples/custom-pipes/app.py
Due: none

Live custom pipe demos in docs with stars, tempColor, and initials
  docs/concepts/custom-handlers.mdx
  docs/custom-pipes-demo.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add YAML syntax exploration comparing component tree representations
  dev-docs/yaml-syntax-exploration.md
Due: none

Text inline formatting, text modifiers, Span as text component
  docs-build/render_previews.py
  docs/components/div-span.mdx
  docs/components/row.mdx
  docs/components/separator.mdx
  docs/components/typography.mdx
  docs/protocol/block-quote.mdx
  docs/protocol/h1.mdx
  docs/protocol/h2.mdx
  docs/protocol/h3.mdx
  docs/protocol/h4.mdx
  docs/protocol/heading.mdx
  docs/protocol/inline-code.mdx
  docs/protocol/large.mdx
  docs/protocol/lead.mdx
  docs/protocol/muted.mdx
  docs/protocol/p.mdx
  docs/protocol/small.mdx
  docs/protocol/span.mdx
  docs/protocol/text.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/pyodide.ts
  renderer/src/schemas/typography.ts
  src/prefab_ui/components/div.py
  src/prefab_ui/components/text.py
  src/prefab_ui/components/typography.py
Due: ty, tsc

Call initHandlers in embed renderer for doc preview custom pipes
  renderer/src/embed.tsx
Due: tsc

Lazy handler lookup, live doc previews, initials uppercase
  docs/concepts/custom-handlers.mdx
  docs/custom-pipes-demo.js
  examples/budget-allocator/app.py
  renderer/src/app.tsx
  renderer/src/custom-handlers.test.ts
  renderer/src/custom-handlers.ts
  renderer/src/embed.tsx
  renderer/src/playground/examples.json
  src/prefab_ui/renderer/app.html
Due: tsc

Custom JavaScript handlers for pipes and actions (#311)
  docs/actions/call-handler.mdx
  docs/concepts/actions.mdx
  docs/concepts/custom-handlers.mdx
  docs/custom-pipes-demo.js
  docs/docs.json
  docs/protocol/call-handler.mdx
  examples/budget-allocator/README.md
  examples/budget-allocator/app.py
  examples/custom-pipes/README.md
  examples/custom-pipes/app.py
  examples/peak_vs_target.py
  renderer/src/actions.ts
  renderer/src/custom-handlers.test.ts
  renderer/src/custom-handlers.ts
  renderer/src/expression.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  schemas/fixtures/actions/callHandler.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/custom.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  tests/actions/test_custom.py
  tests/test_contract.py
Due: ty, tsc

Add Link component for inline anchor tags
  docs-build/generate_content.py
  docs/components/typography.mdx
  docs/protocol/link.mdx
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/gradients.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/div.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Link.json
  schemas/fixtures/components/Span.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/div.py
Due: ty, tsc

Reorganize docs: merge expressions, promote Apps to top-level group
  docs/concepts/actions.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/docs.json
  renderer/src/playground/examples.json
Due: none

Add Link component for inline anchor tags (#315)
  docs-build/generate_content.py
  docs/components/typography.mdx
  docs/protocol/link.mdx
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/gradients.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/div.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Link.json
  schemas/fixtures/components/Span.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/div.py
Due: ty, tsc

Rename Composition to Components, fix Array Operations [object Object] bug
  docs/components/slider.mdx
  docs/concepts/components.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expressions.mdx
  docs/docs.json
  docs/expressions/overview.mdx
  docs/getting-started/quickstart.mdx
  renderer/src/playground/examples.json
Due: none

Clarify Array Operations demo with explanatory prose and direct labels
  docs/concepts/expressions.mdx
  renderer/src/playground/examples.json
Due: none

Reorganize docs: merge expressions, rename Components, promote Apps (#317)
  docs/components/slider.mdx
  docs/concepts/actions.mdx
  docs/concepts/components.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/docs.json
  docs/expressions/overview.mdx
  docs/getting-started/quickstart.mdx
  renderer/src/playground/examples.json
Due: none

Fix card padding, remove Dashboard theme, fix Presentation padding
  dev-docs/theming-architecture.md
  docs/styling/themes.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style.css
  src/prefab_ui/themes/__init__.py
  src/prefab_ui/themes/dashboard.py
  src/prefab_ui/themes/minimal.py
  src/prefab_ui/themes/presentation.py
  tests/test_themes.py
Due: ty

Fix card padding, remove Dashboard theme, fix Presentation padding (#316)
  dev-docs/theming-architecture.md
  docs/styling/themes.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style.css
  src/prefab_ui/themes/__init__.py
  src/prefab_ui/themes/dashboard.py
  src/prefab_ui/themes/minimal.py
  src/prefab_ui/themes/presentation.py
  tests/test_themes.py
Due: ty

Fix themes docs: CardContent, Presentation padding, remove Dashboard/shadcn sections
  docs/styling/themes.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/themes/presentation.py
Due: ty

Fix themes docs: CardContent, Presentation padding, remove Dashboard/shadcn sections (#319)
  docs/styling/themes.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/themes/presentation.py
Due: ty

Remove stale memory file from repo
  .claude/projects/-Users-jlowin-Developer-prefab/memory/project_budget_allocator_todos.md
Due: none

Remove stale memory file from repo (#320)
  .claude/projects/-Users-jlowin-Developer-prefab/memory/project_budget_allocator_todos.md
Due: none

Resolve string tool names through the tool resolver
  docs/actions/call-tool.mdx
  src/prefab_ui/actions/mcp.py
  tests/test_actions.py
Due: ty

Resolve string tool names through the tool resolver (#322)
  docs/actions/call-tool.mdx
  src/prefab_ui/actions/mcp.py
  tests/test_actions.py
Due: ty

Fix playground code scrolling under line numbers
  renderer/src/playground/editor.tsx
Due: tsc

Fix playground code scrolling under line numbers (#323)
  renderer/src/playground/editor.tsx
Due: tsc

Fix review issues: auto-name.ts RadioGroup path, demo-data, Zod schemas, welcome.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  renderer/src/auto-name.test.ts
  renderer/src/auto-name.ts
  renderer/src/demo-data.ts
  renderer/src/playground/examples.json
  renderer/src/schemas/combobox.ts
  renderer/src/schemas/date_picker.ts
  renderer/src/schemas/drop_zone.ts
  renderer/src/schemas/select.ts
Due: tsc

Replace Rx("$event") with EVENT in docs examples
  docs/components/checkbox.mdx
  docs/components/slider.mdx
  docs/components/switch.mdx
Due: none

Add release instructions to CLAUDE.md
  CLAUDE.md
Due: none

Add release instructions to CLAUDE.md (#325)
  CLAUDE.md
Due: none

Pass FastMCPApp identity on callServerTool requests
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
Due: tsc
