Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Use local paths with .js extension for chunks (remove CDN)
  docs/_chunks/charts-ChXGqs92.js
  docs/_chunks/compound-calendar-Xe1hYJDB.js
  docs/_chunks/content-vdQQZqN2.js
  docs/_chunks/embed-B5ulJcKa.js
  docs/_chunks/icons-xEV2Rqfo.js
  docs/renderer.js
  renderer/package.json
  renderer/vite-plugins.ts
  renderer/vite.config.renderer.ts
Due: tsc

Serve chunks from CDN with .mjs extension
  docs/_chunks/charts-B9pxPib5.mjs
  docs/_chunks/compound-calendar-DOC33V6C.mjs
  docs/_chunks/content-DK71iMl_.mjs
  docs/_chunks/embed-DNN8TWNC.mjs
  docs/_chunks/icons-xEV2Rqfo.mjs
  docs/renderer.js
  renderer/vite-plugins.ts
  renderer/vite.config.renderer.ts
Due: tsc

Derive CDN version from git tag instead of package.json
  renderer/package.json
  renderer/vite-plugins.ts
Due: tsc

ESM renderer with lazy-loaded code splitting (#128)
  .claude/skills/docs-build-pipeline/SKILL.md
  .gitignore
  .pre-commit-config.yaml
  docs/_chunks/charts-B9pxPib5.mjs
  docs/_chunks/compound-calendar-DOC33V6C.mjs
  docs/_chunks/content-DK71iMl_.mjs
  docs/_chunks/embed-DNN8TWNC.mjs
  docs/_chunks/icons-xEV2Rqfo.mjs
  docs/renderer.js
  docs/snippets/component-preview.mdx
  renderer/package.json
  renderer/src/components/alert-wrapper.tsx
  renderer/src/components/button-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  renderer/src/components/compound.tsx
  renderer/src/components/content.tsx
  renderer/src/components/drop-zone.tsx
  renderer/src/components/icon-wrapper.tsx
  renderer/src/components/image.tsx
  renderer/src/components/registry.ts
  renderer/src/embed.tsx
  renderer/src/lib/icons-barrel.ts
  renderer/src/lib/icons.tsx
  renderer/src/ui/chart.tsx
  renderer/vite-plugins.ts
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Rebuild docs/renderer.js with v0.3.0 CDN URL
  docs/renderer.js
Due: none

Rebuild docs/renderer.js with v0.3.0 CDN URL (#129)
  docs/renderer.js
Due: none

Fix playground rendering as raw HTML on deployed docs
  docs/playground.mdx
Due: none

Use fetch + blob URL for playground iframe
  docs/playground.mdx
Due: none

Fix playground rendering as raw HTML on deployed docs (#130)
  docs/playground.mdx
Due: none

Note FastMCP dev branch requirement in docs
  docs/running/fastmcp.mdx
Due: none

MCP example, shared Hitchhiker's Guide, and renderer width/height fixes
  docs/running/api.mdx
  docs/running/fastmcp.mdx
  examples/fastapi/app.py
  examples/hitchhikers-guide/api_server.py
  examples/hitchhikers-guide/data.py
  examples/hitchhikers-guide/mcp_server.py
  renderer/src/index.css
  renderer/src/playground/examples.json
  src/prefab_ui/renderer/app.html
Due: none

Remove build-renderer CI workflow
  .github/workflows/build-renderer.yml
  docs/renderer.js
Due: none

MCP example and FastMCP docs (#127)
  .github/workflows/build-renderer.yml
  docs/running/api.mdx
  docs/running/fastmcp.mdx
  examples/fastapi/app.py
  examples/hitchhikers-guide/api_server.py
  examples/hitchhikers-guide/data.py
  examples/hitchhikers-guide/mcp_server.py
  renderer/src/index.css
  renderer/src/playground/examples.json
  src/prefab_ui/renderer/app.html
Due: none

Rename `suppress` → `detached` for clarity
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/form.py
  tests/components/test_base.py
Due: ty

Add dev-docs/ with renderer build & release reference
  CLAUDE.md
  dev-docs/renderer-build-release.md
Due: none

Add SetInterval action for repeating timers and delayed execution
  .gitignore
  docs/actions/set-interval.mdx
  docs/docs.json
  docs/expressions/templates.mdx
  docs/protocol/set-interval.mdx
  renderer/src/actions-setinterval.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
  renderer/src/embed.tsx
  renderer/src/schemas/actions.ts
  renderer/src/state.ts
  schemas/fixtures/actions/setInterval.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/timing.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Add dev-docs/ with renderer build & release reference (#131)
  CLAUDE.md
  dev-docs/renderer-build-release.md
Due: none

Fix manifest.json and playground version pin
  docs/playground.mdx
  schemas/manifest.json
Due: none

Marvin-ify the one-shot delay toast
  docs/actions/set-interval.mdx
Due: none

Add SetInterval action (#134)
  .gitignore
  docs/actions/set-interval.mdx
  docs/docs.json
  docs/expressions/templates.mdx
  docs/playground.mdx
  docs/protocol/set-interval.mdx
  renderer/src/actions-setinterval.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
  renderer/src/embed.tsx
  renderer/src/schemas/actions.ts
  renderer/src/state.ts
  schemas/fixtures/actions/setInterval.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/timing.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Use @latest CDN URL so renderer.js never needs version updates
  .github/workflows/publish-renderer.yml
  .gitignore
  docs/_chunks/charts-B9pxPib5.mjs
  docs/_chunks/compound-calendar-DOC33V6C.mjs
  docs/_chunks/content-DK71iMl_.mjs
  docs/_chunks/embed-DNN8TWNC.mjs
  docs/_chunks/icons-xEV2Rqfo.mjs
  docs/renderer.js
  renderer/vite-plugins.ts
Due: tsc

Use @latest CDN URL so renderer.js never needs version updates (#136)
  .github/workflows/publish-renderer.yml
  .gitignore
  docs/_chunks/charts-B9pxPib5.mjs
  docs/_chunks/compound-calendar-DOC33V6C.mjs
  docs/_chunks/content-DK71iMl_.mjs
  docs/_chunks/embed-DNN8TWNC.mjs
  docs/_chunks/icons-xEV2Rqfo.mjs
  docs/renderer.js
  renderer/vite-plugins.ts
Due: tsc

Add `detached()` context manager for component construction
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/form.py
  tests/components/test_base.py
Due: ty

Add "Building UIs" docs page
  .pre-commit-config.yaml
  docs/building-uis.mdx
  docs/docs.json
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Rename _chunks to _renderer and fix entry loader + build-docs
  .claude/skills/docs-build-pipeline/SKILL.md
  .github/workflows/publish-renderer.yml
  .gitignore
  dev-docs/renderer-build-release.md
  docs/renderer.js
  renderer/vite-plugins.ts
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add detached() context manager, Building UIs docs, and renderer fixes (#137)
  .claude/skills/docs-build-pipeline/SKILL.md
  .github/workflows/publish-renderer.yml
  .gitignore
  .pre-commit-config.yaml
  dev-docs/renderer-build-release.md
  docs/building-uis.mdx
  docs/docs.json
  docs/renderer.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/vite-plugins.ts
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/form.py
  tests/components/test_base.py
Due: ty, tsc

Update file upload example description to clarify files aren't uploaded
  docs/examples/file-upload.mdx
Due: none

Auto-remove explicit children from outer stack parent
  src/prefab_ui/components/base.py
  tests/components/test_base.py
Due: ty

Auto-remove explicit children from outer stack parent (#138)
  src/prefab_ui/components/base.py
  tests/components/test_base.py
Due: ty

Add DashboardGrid and DashboardItem components
  docs/components/dashboard-grid.mdx
  docs/docs.json
  docs/protocol/dashboard-grid.mdx
  docs/protocol/dashboard-item.mdx
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/dashboard.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/DashboardGrid.json
  schemas/fixtures/components/DashboardItem.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/dashboard.py
  tests/components/test_dashboard.py
Due: ty, tsc

Improve DashboardGrid docs with Grid vs Dashboard comparison
  docs/components/dashboard-grid.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add DashboardGrid to skill catalogs, fix docs icon
  docs/components/dashboard-grid.mdx
  skills/generative-prefab-ui/references/components.md
  skills/writing-prefab-python/SKILL.md
Due: none

Add content-sized rows example to Dashboard docs
  docs/components/dashboard-grid.mdx
Due: none

Rename DashboardGrid to Dashboard
  docs/components/dashboard-grid.mdx
  docs/protocol/dashboard-item.mdx
  docs/protocol/dashboard.mdx
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/dashboard.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Dashboard.json
  schemas/manifest.json
  skills/generative-prefab-ui/references/components.md
  skills/writing-prefab-python/SKILL.md
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/dashboard.py
  tests/components/test_dashboard.py
Due: ty, tsc

Fix build-docs renderer/playground skip detection
  .gitignore
  src/prefab_ui/cli/cli.py
Due: ty

Update file upload example description to clarify files aren't uploaded (#139)
  docs/examples/file-upload.mdx
Due: none

Add Dashboard component for explicit grid placement (#140)
  .gitignore
  docs/components/dashboard-grid.mdx
  docs/docs.json
  docs/protocol/dashboard-item.mdx
  docs/protocol/dashboard.mdx
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/dashboard.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Dashboard.json
  schemas/fixtures/components/DashboardItem.json
  schemas/manifest.json
  skills/generative-prefab-ui/references/components.md
  skills/writing-prefab-python/SKILL.md
  src/prefab_ui/cli/cli.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/dashboard.py
  tests/components/test_dashboard.py
Due: ty, tsc

Reorganize docs nav: alphabetize groups, split control flow, add MCP
  docs/actions/overview.mdx
  docs/building-uis.mdx
  docs/docs.json
  docs/expressions/overview.mdx
  docs/welcome.mdx
Due: none

Reorganize docs nav: alphabetize groups, split control flow, add MCP (#141)
  docs/actions/overview.mdx
  docs/building-uis.mdx
  docs/docs.json
  docs/expressions/overview.mdx
  docs/welcome.mdx
Due: none

Reorder nav groups: Layout → UI Elements → Control Flow → Actions → Charts
  docs/docs.json
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
