Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

State actions accept stateful components as keys
  docs/actions/update-state.mdx
  docs/components/pages.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/actions/state.py
  tests/actions/test_state.py
  tests/test_actions.py
Due: ty

Update welcome page title
  docs/welcome.mdx
Due: none

Fix welcome showcase grid overlapping on mobile
  docs-build/input.css
  docs-build/safelist.html
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/index.css
  renderer/src/playground/examples.json
  src/prefab_ui/cli/cli.py
Due: ty

Unwrap FastMCP result envelope via _meta.fastmcp.wrap_result
  renderer/src/actions.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Purge jsDelivr cache after renderer publish
  .github/workflows/publish-renderer.yml
Due: none

Add Sparkline component
  docs-build/render_previews.py
  docs/components/metric.mdx
  docs/components/sparkline.mdx
  docs/docs.json
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  loq.toml
  renderer/src/components/charts.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  renderer/src/schemas/index.ts
  renderer/src/style-nova.css
  schemas/fixtures/components/Sparkline.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/components/charts/__init__.py
  tests/test_contract.py
Due: ty, tsc

Update welcome showcase card layouts
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
Due: none

🤖 Slider thumb color follows track variant (#271)
  loq.toml
  renderer/src/style-nova.css
  renderer/src/ui/slider.tsx
Due: tsc

Add smooth curve interpolation to Sparkline (#274)
  renderer/src/components/charts.tsx
  renderer/src/components/sparkline.tsx
Due: tsc

Compress playground URLs with gzip instead of plain base64
  docs-build/render_previews.py
  renderer/package-lock.json
  renderer/package.json
  renderer/src/playground/playground.tsx
Due: tsc

Render Metric delta as a Badge pill instead of raw colored text
  docs/components/metric.mdx
  loq.toml
  renderer/src/components/metric.tsx
Due: tsc

Fix 29 broken doc links and add broken-links CI check
  .github/workflows/run-static.yml
  docs/actions/update-state.mdx
  docs/components/grid.mdx
  docs/components/sparkline.mdx
  docs/concepts/actions.mdx
  docs/concepts/composition.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/examples/todo.mdx
  docs/expressions/overview.mdx
  docs/getting-started/quickstart.mdx
  docs/overview.mdx
  docs/welcome.mdx
Due: none

Slider variant colors handle, filled solid; track stays default
  renderer/src/playground/examples.json
  renderer/src/style-nova.css
  renderer/src/ui/slider.tsx
Due: tsc

Add line numbers to playground editor and line info in errors
  renderer/src/playground/editor.tsx
  renderer/src/playground/pyodide.ts
Due: tsc

Add smooth curve to sparkline docs
  docs/components/sparkline.mdx
Due: none

Remove unused cn import from charts.tsx
  renderer/src/components/charts.tsx
Due: tsc

Bundle Python source in published playground build
  renderer/package.json
Due: none

Document playground build variants and Pyodide loading
  dev-docs/renderer-build-release.md
Due: none

Add line numbers to playground editor and line info in errors (#281)
  dev-docs/renderer-build-release.md
  renderer/package.json
  renderer/src/playground/editor.tsx
  renderer/src/playground/pyodide.ts
Due: tsc

DataTable cells can render Prefab components
  renderer/src/components/data-display.tsx
  renderer/src/render-context.tsx
  renderer/src/renderer.tsx
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Add component cells example to DataTable docs
  docs/components/data-table.mdx
Due: none

Remove worktree artifacts from index
  .claude/hooks/session-init.sh
  .claude/projects/-Users-jlowin-Developer-prefab/memory/project_budget_allocator_todos.md
  .claude/settings.json
  .claude/skills/docs-build-pipeline/SKILL.md
  .claude/skills/writing-component-docs/SKILL.md
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
