Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

fix: center zero-value ring labels (#499)
  renderer/src/components/ring.test.ts
  renderer/src/components/ring.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Close sandbox subprocess pipes cleanly
  src/prefab_ui/sandbox/_pyodide.py
  tests/sandbox/test_pyodide.py
Due: ty

Remove obsolete ty suppressions
  src/prefab_ui/app.py
  src/prefab_ui/components/form.py
  tests/test_executor_harness.py
Due: ty

Refresh vulnerable dependencies
  renderer/package-lock.json
  renderer/package.json
  src/prefab_ui/renderer/app.html
  uv.lock
Due: none

Fix generated checks for fork PRs
  .github/workflows/regenerate-docs.yml
Due: none

Regenerate bundled renderer
  src/prefab_ui/renderer/app.html
Due: none

Disable animation for reactive charts
  docs/examples/cross-filter.mdx
  renderer/src/playground/bundle.json
  skills/prefab-ui/references/charts.md
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/renderer/app.html
  tests/components/test_chart.py
Due: ty

Add DataTable search placeholder
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/data_table.ts
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/data_table.py
  src/prefab_ui/renderer/app.html
  tests/components/test_table.py
Due: ty, tsc

Upgrade ty
  pyproject.toml
  uv.lock
Due: none

Close Deno sandbox subprocess handles (#508)
  src/prefab_ui/sandbox/_pyodide.py
  tests/sandbox/test_pyodide.py
Due: ty

Handle null DataTable search placeholders
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Handle reactive chart JSON defaults
  renderer/src/raw-prop-defaults.test.ts
  renderer/src/raw-prop-defaults.ts
  renderer/src/renderer.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Document DataTable search placeholder
  docs/components/data-table.mdx
Due: none

Fix generated checks for fork PRs (#511)
  .github/workflows/regenerate-docs.yml
  src/prefab_ui/renderer/app.html
Due: none

Support app tools in preview renderers
  renderer/src/dev-preview.test.ts
  renderer/src/dev-preview.tsx
  renderer/src/main.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Upgrade ty and remove obsolete suppressions (#509)
  pyproject.toml
  renderer/src/playground/bundle.json
  src/prefab_ui/app.py
  src/prefab_ui/components/form.py
  src/prefab_ui/renderer/app.html
  tests/test_executor_harness.py
  uv.lock
Due: ty

Regenerate combined renderer artifact
  src/prefab_ui/renderer/app.html
Due: none

Upgrade DOMPurify to 3.4.14
  renderer/package-lock.json
  renderer/package.json
  src/prefab_ui/renderer/app.html
Due: none

Refresh vulnerable dependencies (#510)
  renderer/package-lock.json
  renderer/package.json
  src/prefab_ui/renderer/app.html
  uv.lock
Due: none

Regenerate combined chart renderer
  src/prefab_ui/renderer/app.html
Due: none

Pin established fast-uri release
  renderer/package-lock.json
  renderer/package.json
Due: none

Detect nested reactive chart values
  renderer/src/playground/bundle.json
  renderer/src/raw-prop-defaults.test.ts
  renderer/src/raw-prop-defaults.ts
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/renderer/app.html
  tests/components/test_chart.py
Due: ty, tsc

Close Deno pipe streams after shutdown
  src/prefab_ui/sandbox/_pyodide.py
  tests/sandbox/test_pyodide.py
Due: ty

Disable animation for reactive charts by default (#512)
  docs/examples/cross-filter.mdx
  renderer/src/playground/bundle.json
  renderer/src/raw-prop-defaults.test.ts
  renderer/src/raw-prop-defaults.ts
  renderer/src/renderer.tsx
  skills/prefab-ui/references/charts.md
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/sandbox/_pyodide.py
  tests/components/test_chart.py
  tests/sandbox/test_pyodide.py
Due: ty, tsc

Regenerate renderer after main merge
  src/prefab_ui/renderer/app.html
Due: none

Add a custom DataTable search placeholder (#513)
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/data_table.ts
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/data_table.py
  src/prefab_ui/renderer/app.html
  tests/components/test_table.py
Due: ty, tsc

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
