Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Rebuild bundled renderer after rebase
  src/prefab_ui/renderer/app.html
Due: none

Add build-renderers command, rebuild bundled HTML, document build pipeline (#367)
  .github/workflows/regenerate-docs.yml
  CLAUDE.md
  dev-docs/build-pipeline.md
  dev-docs/renderer-build-release.md
  renderer/src/playground/bundle.json
  src/prefab_ui/cli/cli.py
  src/prefab_ui/cli/docs_server.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/renderer/generative.html
  tests/test_renderer.py
Due: ty

Update Don't Panic messaging and version pinning docs
  README.md
  docs/getting-started/installation.mdx
  docs/running/fastmcp.mdx
  docs/welcome.mdx
Due: none

Update Don't Panic messaging and version pinning docs (#370)
  README.md
  docs/getting-started/installation.mdx
  docs/running/fastmcp.mdx
  docs/welcome.mdx
Due: none

CDN-first unified renderer
  .github/workflows/publish-renderer.yml
  CLAUDE.md
  dev-docs/build-pipeline.md
  dev-docs/generative-ui-architecture.md
  renderer/mcp.html
  renderer/package.json
  renderer/src/app.tsx
  renderer/src/bridge.ts
  renderer/src/early-bridge.ts
  renderer/src/generative-app.tsx
  renderer/src/generative-main.tsx
  renderer/src/main.tsx
  renderer/src/playground/bundle.json
  renderer/vite.config.bundled.ts
  renderer/vite.config.cdn.ts
  renderer/vite.config.mcp.ts
  skills/prefab-dev-build/SKILL.md
  src/prefab_ui/cli/cli.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  tests/test_renderer.py
Due: ty, tsc

Regenerate build artifacts
  renderer/src/playground/bundle.json
  src/prefab_ui/renderer/app.html
Due: none

CDN-first unified renderer (#372)
  .github/workflows/publish-renderer.yml
  CLAUDE.md
  dev-docs/build-pipeline.md
  dev-docs/generative-ui-architecture.md
  renderer/mcp.html
  renderer/package.json
  renderer/src/app.tsx
  renderer/src/bridge.ts
  renderer/src/early-bridge.ts
  renderer/src/generative-app.tsx
  renderer/src/generative-main.tsx
  renderer/src/main.tsx
  renderer/src/playground/bundle.json
  renderer/vite.config.bundled.ts
  renderer/vite.config.cdn.ts
  renderer/vite.config.mcp.ts
  skills/prefab-dev-build/SKILL.md
  src/prefab_ui/cli/cli.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  tests/test_renderer.py
Due: ty, tsc

Redesign search_components output for LLM clarity
  src/prefab_ui/generative.py
  tests/test_generative.py
Due: ty

Add build artifact rebuild instruction to CLAUDE.md
  CLAUDE.md
Due: none

Redesign search_components output for LLM clarity (#373)
  CLAUDE.md
  renderer/src/playground/bundle.json
  src/prefab_ui/generative.py
  src/prefab_ui/renderer/app.html
  tests/test_generative.py
Due: ty

Trim npm package to only published artifacts
  renderer/package.json
Due: none

Clean stale embed chunks on build, trim npm package
  renderer/package.json
Due: none

Split docs embed into @prefecthq/prefab-ui-docs, simplify entry points
  .github/workflows/publish-renderer.yml
  renderer/docs-package/package.json
  renderer/index.html
  renderer/package.json
  renderer/renderer.html
  renderer/vite-plugins.ts
  renderer/vite.config.bundled.ts
  renderer/vite.config.cdn.ts
  renderer/vite.config.mcp.ts
  renderer/vite.config.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Split playground into @prefecthq/prefab-ui-playground, update docs
  .github/workflows/publish-renderer.yml
  dev-docs/build-pipeline.md
  docs/renderer.js
  renderer/package.json
  renderer/playground-package/package.json
Due: none

Fix bundled output path: index.html not renderer.html
  src/prefab_ui/cli/cli.py
Due: ty

Trim npm package: split docs + playground into separate packages (#374)
  .github/workflows/publish-renderer.yml
  dev-docs/build-pipeline.md
  docs/renderer.js
  renderer/docs-package/package.json
  renderer/index.html
  renderer/package.json
  renderer/playground-package/package.json
  renderer/renderer.html
  renderer/vite-plugins.ts
  renderer/vite.config.bundled.ts
  renderer/vite.config.cdn.ts
  renderer/vite.config.mcp.ts
  renderer/vite.config.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add READMEs to satellite npm packages
  renderer/docs-package/README.md
  renderer/playground-package/README.md
Due: none

Add READMEs to satellite npm packages (#375)
  renderer/docs-package/README.md
  renderer/playground-package/README.md
Due: none

Purge playground CDN cache on release
  .github/workflows/publish-renderer.yml
Due: none

Purge playground CDN cache on release (#376)
  .github/workflows/publish-renderer.yml
Due: none

Fix black borders: move border-color rule outside @layer base
  renderer/src/index.css
  src/prefab_ui/renderer/app.html
Due: none

Fix black borders from runtime Tailwind reset (#377)
  renderer/src/index.css
  src/prefab_ui/renderer/app.html
Due: none

Default show_legend=True on all chart types
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/histogram.py
Due: ty

Fix border colors, default show_legend=True on all charts
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/histogram.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/components/radar-chart.mdx
  docs/components/scatter-chart.mdx
  docs/examples/cross-filter.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/radar-chart.mdx
  docs/protocol/radial-chart.mdx
  renderer/schemas/fixtures/components/AreaChart.json
  renderer/schemas/fixtures/components/BarChart.json
  renderer/schemas/fixtures/components/LineChart.json
  renderer/schemas/fixtures/components/PieChart.json
  renderer/schemas/fixtures/components/RadarChart.json
  renderer/schemas/fixtures/components/RadialChart.json
  renderer/schemas/fixtures/components/ScatterChart.json
  renderer/src/index.css
  renderer/src/main.tsx
  renderer/src/playground/bundle.json
  renderer/src/style.css
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/histogram.py
  src/prefab_ui/renderer/app.html
  tests/components/test_chart.py
  tests/components/test_histogram.py
Due: ty, tsc

Fix border colors, default show_legend=True on all charts (#378)
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/histogram.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/components/radar-chart.mdx
  docs/components/scatter-chart.mdx
  docs/examples/cross-filter.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/radar-chart.mdx
  docs/protocol/radial-chart.mdx
  renderer/schemas/fixtures/components/AreaChart.json
  renderer/schemas/fixtures/components/BarChart.json
  renderer/schemas/fixtures/components/LineChart.json
  renderer/schemas/fixtures/components/PieChart.json
  renderer/schemas/fixtures/components/RadarChart.json
  renderer/schemas/fixtures/components/RadialChart.json
  renderer/schemas/fixtures/components/ScatterChart.json
  renderer/src/index.css
  renderer/src/main.tsx
  renderer/src/playground/bundle.json
  renderer/src/style.css
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/histogram.py
  src/prefab_ui/renderer/app.html
  tests/components/test_chart.py
  tests/components/test_histogram.py
Due: ty, tsc

Add Mermaid diagram component
  renderer/package-lock.json
  renderer/package.json
  renderer/schemas/fixtures/components/Label.json
  renderer/schemas/fixtures/components/Mermaid.json
  renderer/schemas/manifest.json
  renderer/src/components/mermaid.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/schemas/index.ts
  renderer/src/schemas/mermaid.ts
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/mermaid.py
  src/prefab_ui/renderer/app.html
  tests/components/test_mermaid.py
Due: ty, tsc

Add Mermaid docs: component page and protocol reference
  docs/components/mermaid.mdx
  docs/docs.json
  docs/protocol/mermaid.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Improve Mermaid docs: richer examples with colors, ER diagrams, nested states
  docs/components/mermaid.mdx
  renderer/src/playground/examples.json
Due: none

Fix playground CSS import order for consistent border colors
  renderer/src/playground/main.tsx
Due: tsc

Add border-border to every remaining uncolored border in renderer
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  renderer/src/components/content.tsx
  renderer/src/components/typography.tsx
  renderer/src/playground/playground.tsx
  renderer/src/playground/theme-picker.tsx
  renderer/src/ui/dialog.tsx
  renderer/src/ui/radio-group.tsx
Due: tsc

Add Mermaid component, fix all border colors (#379)
  docs/components/mermaid.mdx
  docs/docs.json
  docs/protocol/mermaid.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/schemas/fixtures/components/Label.json
  renderer/schemas/fixtures/components/Mermaid.json
  renderer/schemas/manifest.json
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  renderer/src/components/content.tsx
  renderer/src/components/mermaid.tsx
  renderer/src/components/registry.ts
  renderer/src/components/typography.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/main.tsx
  renderer/src/playground/playground.tsx
  renderer/src/playground/theme-picker.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/mermaid.ts
  renderer/src/ui/dialog.tsx
  renderer/src/ui/radio-group.tsx
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/mermaid.py
  src/prefab_ui/renderer/app.html
  tests/components/test_mermaid.py
Due: ty, tsc

Support f-strings with Rx in .then() and other combinators
  skills/prefab-ui/references/reactive.md
  src/prefab_ui/rx/__init__.py
Due: ty

Support f-strings with Rx in .then() and combinators (#380)
  skills/prefab-ui/references/reactive.md
  src/prefab_ui/rx/__init__.py
Due: ty

Auto-commit regenerated build artifacts in CI
  .github/workflows/regenerate-docs.yml
Due: none

Use Python 3.12 for docs CI to match dev environment
  .github/workflows/regenerate-docs.yml
Due: none

Reactive SetInterval duration
  docs/protocol/set-interval.mdx
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  src/prefab_ui/actions/timing.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc

Reactive SetInterval duration (#382)
  docs/protocol/set-interval.mdx
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  src/prefab_ui/actions/timing.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc
