Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add threshold meter example and reorganize example groups
  docs/docs.json
  docs/examples/threshold-meter.mdx
  renderer/src/playground/examples.json
Due: none

Add Ring component (circular progress indicator)
  docs/components/ring.mdx
  docs/docs.json
  docs/protocol/ring.mdx
  renderer/src/components/registry.ts
  renderer/src/components/ring.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/ring.ts
  renderer/src/style-nova.css
  schemas/fixtures/components/Ring.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/ring.py
  tests/components/test_ring.py
Due: ty, tsc

Implement Rx operator DSL and rewrite reactivity docs
  docs/actions/overview.mdx
  docs/docs.json
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/expressions/templates.mdx
  docs/overview.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx.py
  tests/test_rx.py
Due: ty

Implement Rx operator DSL and rewrite reactivity docs (#168)
  docs/actions/overview.mdx
  docs/docs.json
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/expressions/templates.mdx
  docs/overview.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx.py
  tests/test_rx.py
Due: ty

Use Rx DSL and .rx in all docs Python examples
  docs/actions/show-toast.mdx
  docs/components/code.mdx
  docs/components/conditional.mdx
  docs/components/define-use.mdx
  docs/components/dialog.mdx
  docs/components/popover.mdx
  docs/examples/cross-filter.mdx
  docs/overview.mdx
  docs/running/api.mdx
  docs/running/fastmcp.mdx
Due: none

Convert component and action docs to Rx DSL
  docs/actions/call-tool.mdx
  docs/actions/fetch.mdx
  docs/actions/open-link.mdx
  docs/actions/send-message.mdx
  docs/actions/update-context.mdx
  docs/actions/update-state.mdx
  docs/components/checkbox.mdx
  docs/components/progress.mdx
  docs/components/radio.mdx
  docs/components/select.mdx
  docs/components/slider.mdx
  docs/components/switch.mdx
  docs/expressions/overview.mdx
  docs/running/api.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Align Slider and Progress with shared features, add vertical orientation and bar handle style
  docs/expressions/overview.mdx
  docs/protocol/progress.mdx
  docs/protocol/slider.mdx
  docs/welcome.mdx
  loq.toml
  renderer/.gitignore
  renderer/src/playground/bundle.json
  renderer/src/renderer.tsx
  renderer/src/schemas/progress.ts
  renderer/src/schemas/slider.ts
  renderer/src/style-nova.css
  renderer/src/ui/progress.tsx
  renderer/src/ui/slider.tsx
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/slider.py
  tests/components/test_progress.py
  tests/components/test_slider.py
Due: ty, tsc

Add theming system with built-in color themes and shadcn compatibility
  docs/docs.json
  docs/theming.mdx
  renderer/gallery.html
  renderer/src/app.tsx
  renderer/src/embed.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/themes.ts
  src/prefab_ui/__init__.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/themes.py
  tests/test_themes.py
Due: ty, tsc

Add docs for Slider and Progress new features (variants, orientation, handle styles)
  docs/components/drop-zone.mdx
  docs/components/histogram.mdx
  docs/components/metric.mdx
  docs/components/progress.mdx
  docs/components/ring.mdx
  docs/components/slider.mdx
  renderer/src/playground/examples.json
Due: none

Remove third-party theme generator link from theming docs
  docs/theming.mdx
Due: none

Add defer/insert for forward-referencing component state
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/expressions/overview.mdx
  docs/getting-started/composition.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/form.py
  tests/components/test_base.py
Due: ty

Add theming system with built-in color themes (#171)
  docs/docs.json
  docs/theming.mdx
  renderer/gallery.html
  renderer/src/app.tsx
  renderer/src/embed.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/themes.ts
  src/prefab_ui/__init__.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/themes.py
  tests/test_themes.py
Due: ty, tsc

Update step
  docs/components/slider.mdx
  renderer/src/playground/examples.json
Due: none

Add styling and orientation options to Slider and Progress (#170)
  docs/components/drop-zone.mdx
  docs/components/histogram.mdx
  docs/components/metric.mdx
  docs/components/progress.mdx
  docs/components/ring.mdx
  docs/components/slider.mdx
  docs/expressions/overview.mdx
  docs/protocol/progress.mdx
  docs/protocol/slider.mdx
  docs/welcome.mdx
  loq.toml
  renderer/.gitignore
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/progress.ts
  renderer/src/schemas/slider.ts
  renderer/src/style-nova.css
  renderer/src/ui/progress.tsx
  renderer/src/ui/slider.tsx
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/slider.py
  tests/components/test_progress.py
  tests/components/test_slider.py
Due: ty, tsc

Re-export ForEach/If/Elif/Else from prefab_ui.components and fix name validation
  docs/actions/update-state.mdx
  docs/components/drop-zone.mdx
  docs/examples/todo.mdx
  renderer/src/playground/bundle.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  tests/test_contract.py
Due: ty

Snap Slider initial value to nearest step in model_post_init
  src/prefab_ui/components/slider.py
  tests/components/test_slider.py
Due: ty

Snap Slider initial value to nearest step in model_post_init (#172)
  src/prefab_ui/components/slider.py
  tests/components/test_slider.py
Due: ty

Add workflow to fast-forward release branch on publish
  .github/workflows/update-release-branch.yml
Due: none

Add Reading the Value section to Checkbox docs
  docs/components/checkbox.mdx
Due: none

Add Reading the Value section to Switch docs
  docs/components/switch.mdx
Due: none

Add Reading the Value section to Slider docs
  docs/components/slider.mdx
Due: none

Rewrite Select docs with prose and Reading the Value section
  docs/components/select.mdx
Due: none

Rewrite Radio docs: rename page, add prose, fix protocol schema
  docs/components/radio.mdx
Due: none

Rename release branch to published-docs
  .github/workflows/update-published-docs.yml
  .github/workflows/update-release-branch.yml
  dev-docs/renderer-build-release.md
Due: none

Use force-push instead of fast-forward for published-docs
  .github/workflows/update-published-docs.yml
  dev-docs/renderer-build-release.md
Due: none

Fix Tabs variant='line' having no visual difference from default
  renderer/src/style-nova.css
  renderer/src/ui/tabs.tsx
  tests/components/test_tabs.py
Due: ty, tsc

Update CLAUDE.md with development rules from FastMCP
  CLAUDE.md
Due: none

Never amend commits, period
  CLAUDE.md
Due: none

Allow Rx objects as keys in state actions
  renderer/src/actions.state.test.ts
  renderer/src/actions.test.ts
  src/prefab_ui/actions/state.py
  tests/test_actions.py
Due: ty, tsc

Allow Rx objects as key in ForEach
  src/prefab_ui/components/control_flow/foreach.py
  tests/components/test_foreach.py
Due: ty

Add _get_initial_value to Tabs and Pages for reactive binding
  src/prefab_ui/components/pages.py
  src/prefab_ui/components/tabs.py
Due: ty

Fix combobox dropdown overflow in ComponentPreview docs
  docs/components/combobox.mdx
  docs/snippets/component-preview.mdx
  renderer/src/embed.tsx
Due: tsc
