Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Add animate prop to all charts, fix SetInterval duration schema
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/histogram.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/components/pie-chart.mdx
  docs/components/radar-chart.mdx
  docs/components/radial-chart.mdx
  docs/components/scatter-chart.mdx
  docs/examples/cross-filter.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/radar-chart.mdx
  docs/protocol/radial-chart.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/schemas/fixtures/components/AreaChart.json
  renderer/schemas/fixtures/components/BarChart.json
  renderer/schemas/fixtures/components/LineChart.json
  renderer/schemas/fixtures/components/PieChart.json
  renderer/schemas/fixtures/components/RadarChart.json
  renderer/schemas/fixtures/components/RadialChart.json
  renderer/schemas/fixtures/components/ScatterChart.json
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  renderer/src/schemas/chart.ts
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/histogram.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc

Remove live streaming example from LineChart docs
  docs/components/line-chart.mdx
Due: none

Add animate prop to charts, fix reactive SetInterval schema (#383)
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/histogram.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/components/pie-chart.mdx
  docs/components/radar-chart.mdx
  docs/components/radial-chart.mdx
  docs/components/scatter-chart.mdx
  docs/examples/cross-filter.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/radar-chart.mdx
  docs/protocol/radial-chart.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/schemas/fixtures/components/AreaChart.json
  renderer/schemas/fixtures/components/BarChart.json
  renderer/schemas/fixtures/components/LineChart.json
  renderer/schemas/fixtures/components/PieChart.json
  renderer/schemas/fixtures/components/RadarChart.json
  renderer/schemas/fixtures/components/RadialChart.json
  renderer/schemas/fixtures/components/ScatterChart.json
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/actions.ts
  renderer/src/schemas/chart.ts
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/histogram.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc

Update actions/setup-node to v6
  .github/workflows/publish-renderer.yml
  .github/workflows/run-renderer-tests.yml
Due: none

Update actions/setup-node to v6 (#384)
  .github/workflows/publish-renderer.yml
  .github/workflows/run-renderer-tests.yml
Due: none

Add Carousel component
  docs/components/carousel.mdx
  docs/docs.json
  docs/protocol/carousel.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/schemas/fixtures/components/Carousel.json
  renderer/schemas/manifest.json
  renderer/src/components/carousel.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/carousel.ts
  renderer/src/schemas/index.ts
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/carousel.py
  src/prefab_ui/renderer/app.html
  tests/components/test_carousel.py
  tools/preview-classes.html
Due: ty, tsc

Fix vertical carousel, add visible/gap/fade/dim/controlsPosition
  docs/components/carousel.mdx
  docs/protocol/carousel.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/src/components/carousel.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/carousel.ts
  src/prefab_ui/components/carousel.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc

Rewrite Carousel docs with comprehensive examples
  docs/components/carousel.mdx
  renderer/src/playground/examples.json
  tools/preview-classes.html
Due: none

Carousel: docs rewrite, default gap, fade/vertical fixes
  docs/components/carousel.mdx
  docs/protocol/carousel.mdx
  renderer/schemas/fixtures/components/Carousel.json
  renderer/src/components/carousel.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/pyodide/executor.ts
  src/prefab_ui/components/carousel.py
  src/prefab_ui/renderer/app.html
  tests/components/test_carousel.py
  tools/preview-classes.html
Due: ty, tsc

Add w-full to Carousel in doc examples, fix visible=None for marquee
  docs/components/carousel.mdx
  renderer/src/components/carousel.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/components/carousel.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc

Regenerate build artifacts
  src/prefab_ui/renderer/app.html
Due: none

Add missing carousel-logic module
  renderer/src/components/carousel-logic.test.ts
  renderer/src/components/carousel-logic.ts
  renderer/src/pyodide/executor.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Add Carousel component (#385)
  docs/components/carousel.mdx
  docs/docs.json
  docs/protocol/carousel.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/schemas/fixtures/components/Carousel.json
  renderer/schemas/manifest.json
  renderer/src/components/carousel-logic.test.ts
  renderer/src/components/carousel-logic.ts
  renderer/src/components/carousel.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/pyodide/executor.ts
  renderer/src/schemas/carousel.ts
  renderer/src/schemas/index.ts
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/carousel.py
  src/prefab_ui/renderer/app.html
  tests/components/test_carousel.py
  tools/preview-classes.html
Due: ty, tsc

Move Carousel to Layout in docs nav, add to agent skill
  docs/docs.json
  skills/prefab-ui/SKILL.md
Due: none

Move Carousel to Layout section, add to agent skill (#387)
  docs/docs.json
  skills/prefab-ui/SKILL.md
Due: none

Document Carousel align parameter, fix peek description
  docs/components/carousel.mdx
  docs/docs.json
Due: none

Document Carousel align parameter (#388)
  docs/components/carousel.mdx
  docs/docs.json
Due: none

Add GA4 analytics to docs
  docs/docs.json
Due: none

Add GA4 analytics to docs (#389)
  docs/docs.json
Due: none

Fix playground loading from wrong npm package
  docs/playground.mdx
Due: none

Fix playground CDN URL (#395)
  docs/playground.mdx
Due: none

Rename check_docs job to check_generated
  .github/workflows/regenerate-docs.yml
Due: none

Rename check_docs job to check_generated (#396)
  .github/workflows/regenerate-docs.yml
Due: none

Rewrite welcome page and README positioning copy
  README.md
  docs/welcome.mdx
Due: none

Rework welcome page layout and copy
  docs/snippets/component-preview.mdx
  docs/welcome.mdx
Due: none

Sync README with welcome page updates
  README.md
Due: none

Rework welcome page and README layout
  README.md
  docs/welcome.mdx
Due: none

Add `prefab export` command
  docs/docs.json
  docs/export.mdx
  src/prefab_ui/app.py
  src/prefab_ui/cli/cli.py
  src/prefab_ui/renderer/__init__.py
Due: ty

Tighten intro copy, add composition thesis to Why Prefab
  README.md
  docs/welcome.mdx
Due: none

Thread renderer_mode through csp() to match html()
  src/prefab_ui/app.py
Due: ty

Extract welcome page showcase to examples/showcase.py
  examples/showcase.py
Due: none

Revert "Extract welcome page showcase to examples/showcase.py"
  examples/showcase.py
Due: none

Add prefab export command (#399)
  docs/docs.json
  docs/export.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/app.py
  src/prefab_ui/cli/cli.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
Due: ty

Align quickstart with welcome page hello world
  docs/getting-started/quickstart.mdx
  renderer/src/playground/examples.json
Due: none

Rewrite welcome page and README positioning copy (#398)
  README.md
  docs/getting-started/quickstart.mdx
  docs/snippets/component-preview.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Move showcase to examples/hitchhikers-guide/dashboard.py, load from src
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/playground/examples.json
  tools/render_previews.py
Due: none

Regenerate docs
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/playground/examples.json
Due: none

Extract welcome showcase to examples/hitchhikers-guide/dashboard.py (#400)
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/playground/examples.json
  tools/render_previews.py
Due: none

Fix vertical carousel gap and add gutter controls position
  docs/components/carousel.mdx
  docs/protocol/carousel.mdx
  renderer/src/components/carousel-logic.test.ts
  renderer/src/components/carousel-logic.ts
  renderer/src/components/carousel.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/carousel.ts
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/carousel.py
  tests/components/test_carousel.py
  tools/preview-classes.html
Due: ty, tsc

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
