Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Pass FastMCPApp identity on callServerTool requests (#326)
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
Due: tsc

Rebrand from "agentic frontend framework" to "generative UI framework"
  .github/workflows/marvin-label-triage.yml
  README.md
  docs/components/define-use.mdx
  docs/docs.json
  docs/welcome.mdx
  pyproject.toml
  renderer/README.md
  renderer/package.json
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Rebrand from "agentic frontend framework" to "generative UI framework" (#327)
  .github/workflows/marvin-label-triage.yml
  README.md
  docs/components/define-use.mdx
  docs/docs.json
  docs/welcome.mdx
  pyproject.toml
  renderer/README.md
  renderer/package.json
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add parent= kwarg for imperative tree-building
  dev-docs/generative-ui.md
  src/prefab_ui/components/base.py
  tests/components/test_base.py
Due: ty

Add parent= kwarg for imperative tree-building (#328)
  dev-docs/generative-ui.md
  src/prefab_ui/components/base.py
  tests/components/test_base.py
Due: ty

Add sandbox module for executing LLM-generated Prefab code
  dev-docs/generative-ui.md
  pyproject.toml
  src/prefab_ui/sandbox.py
  tests/test_sandbox.py
  uv.lock
Due: ty

Rewrite sandbox module with handle-based shims tested against Monty
  pyproject.toml
  src/prefab_ui/sandbox.py
  tests/test_sandbox.py
Due: ty

Add PrefabApp shim and broaden registry to support both returns
  src/prefab_ui/sandbox.py
  tests/test_sandbox.py
Due: ty

Fix ComponentRegistry docstring
  src/prefab_ui/sandbox.py
Due: ty

Use dict handles for reactive state access in sandbox
  src/prefab_ui/sandbox.py
  tests/test_sandbox.py
Due: ty

Accept Rx() for DataTable rows
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty

Update generative UI docs with Pyodide sandbox decision
  dev-docs/generative-ui.md
Due: none

Soften sandbox section in generative UI docs
  dev-docs/generative-ui.md
Due: none

Accept Rx() for DataTable rows (#331)
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty

Add Pyodide sandbox for executing LLM-generated Prefab code
  src/prefab_ui/sandbox/__init__.py
  src/prefab_ui/sandbox/_sandbox.py
  src/prefab_ui/sandbox/runner.js
  tests/test_sandbox.py
Due: ty

Lazy start and auto-restart for Sandbox
  src/prefab_ui/sandbox/_sandbox.py
Due: ty

Add (optional) indicator to form labels
  examples/forms/from_model.py
  examples/forms/manual.py
  renderer/schemas/fixtures/components/Label.json
  renderer/src/components/form.tsx
  renderer/src/components/registry.ts
  renderer/src/schemas/label.ts
  renderer/src/style.css
  src/prefab_ui/components/form.py
  src/prefab_ui/components/label.py
  tests/test_form_model.py
Due: ty, tsc

Refine optional styling and add docs
  docs/components/form.mdx
  docs/components/label.mdx
  renderer/src/components/form.tsx
  renderer/src/style.css
  src/prefab_ui/renderer/app.html
Due: tsc

Add (optional) indicator to form labels (#332)
  docs/components/calendar.mdx
  docs/components/checkbox.mdx
  docs/components/combobox.mdx
  docs/components/date-picker.mdx
  docs/components/dialog.mdx
  docs/components/field.mdx
  docs/components/form.mdx
  docs/components/input.mdx
  docs/components/label.mdx
  docs/components/popover.mdx
  docs/components/progress.mdx
  docs/components/select.mdx
  docs/components/slider.mdx
  docs/components/switch.mdx
  docs/components/tabs.mdx
  docs/components/textarea.mdx
  docs/concepts/components.mdx
  docs/concepts/state.mdx
  docs/protocol/label.mdx
  examples/forms/from_model.py
  examples/forms/manual.py
  renderer/schemas/fixtures/components/Label.json
  renderer/src/components/form.tsx
  renderer/src/components/registry.ts
  renderer/src/schemas/label.ts
  renderer/src/style.css
  src/prefab_ui/components/form.py
  src/prefab_ui/components/label.py
  src/prefab_ui/renderer/app.html
  tests/test_form_model.py
Due: ty, tsc

Add $prefab envelope and PrefabApp.from_json()
  renderer/src/app.tsx
  src/prefab_ui/app.py
  tests/test_app.py
  tests/test_define_use_state.py
Due: ty, tsc

Rework from_json to populate real fields instead of wire override
  src/prefab_ui/app.py
  tests/test_app.py
Due: ty

Take overrides as kwargs in from_json instead of mutation
  src/prefab_ui/app.py
  tests/test_app.py
Due: ty

Make from_json overrides explicit kwargs
  src/prefab_ui/app.py
Due: ty

Add $prefab envelope and PrefabApp.from_json() (#333)
  renderer/src/app.tsx
  src/prefab_ui/app.py
  tests/test_app.py
  tests/test_define_use_state.py
Due: ty, tsc

Add Pyodide sandbox, generative UI example, and dev docs
  dev-docs/generative-ui.md
  examples/generative-ui/server.py
  src/prefab_ui/sandbox/__init__.py
  src/prefab_ui/sandbox/_sandbox.py
  src/prefab_ui/sandbox/runner.js
  tests/test_sandbox.py
Due: ty

Vendor-agnostic sandbox: rename to PyodideSandbox, skip tests without Deno
  src/prefab_ui/sandbox/__init__.py
  src/prefab_ui/sandbox/_pyodide.py
  tests/test_sandbox.py
Due: ty

Install Deno in CI, remove skip-without-deno hack
  .github/actions/run-pytest/action.yml
  tests/test_sandbox.py
Due: ty

Fix CI: serialize sandbox tests, add architecture doc
  dev-docs/generative-ui-architecture.md
  tests/test_sandbox.py
Due: ty

Fix empty error on sandbox startup failure, allow-write for Deno cache
  src/prefab_ui/sandbox/_pyodide.py
Due: ty

Skip sandbox tests on Windows, only install Deno on Linux/macOS
  .github/actions/run-pytest/action.yml
  tests/test_sandbox.py
Due: ty

Share one sandbox across all tests, fix CI timeout issue
  tests/test_sandbox.py
Due: ty

Add Pyodide sandbox for generative UI (#334)
  .github/actions/run-pytest/action.yml
  dev-docs/generative-ui-architecture.md
  dev-docs/generative-ui.md
  examples/generative-ui/server.py
  src/prefab_ui/sandbox/__init__.py
  src/prefab_ui/sandbox/_pyodide.py
  src/prefab_ui/sandbox/runner.js
  tests/test_sandbox.py
Due: ty

Add generative renderer with browser-side Pyodide execution
  .pre-commit-config.yaml
  loq.toml
  renderer/generative.html
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  renderer/src/generative-main.tsx
  renderer/src/playground/pyodide.ts
  renderer/src/pyodide/executor.ts
  renderer/vite.config.generative.ts
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/generative.html
Due: ty, tsc

Fix race condition, lazy Pyodide loading, extract shared utils
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  renderer/src/shared-app-utils.ts
  src/prefab_ui/renderer/generative.html
Due: tsc

Add debug logging to generative renderer, eager Pyodide loading
  docs/concepts/generative-ui.mdx
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  src/prefab_ui/renderer/generative.html
Due: tsc

Generative renderer: code healing, simplified harness, no debug panel
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  renderer/src/pyodide/executor.ts
  renderer/vite.config.generative.ts
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/generative.html
Due: ty, tsc

Fix flaky sandbox test: re-init if process died
  tests/test_sandbox.py
Due: ty

Fix sandbox tests: per-test sandbox instead of flaky global
  tests/test_sandbox.py
Due: ty

Pre-cache Deno deps in CI to prevent parallel download conflicts
  .github/actions/run-pytest/action.yml
Due: none

Add generative renderer with streaming Pyodide execution (#337)
  .github/actions/run-pytest/action.yml
  .pre-commit-config.yaml
  docs/concepts/generative-ui.mdx
  loq.toml
  renderer/generative.html
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  renderer/src/generative-main.tsx
  renderer/src/playground/pyodide.ts
  renderer/src/pyodide/executor.ts
  renderer/src/shared-app-utils.ts
  renderer/vite.config.generative.ts
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/generative.html
  tests/test_sandbox.py
Due: ty, tsc

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
