Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

DataTable wrapper defaults to w-full; flatten Users sparkline data
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
Due: tsc

Remove caption prop from DataTable
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/schemas/data_table.ts
  src/prefab_ui/components/data_table.py
Due: ty, tsc

Add computed state: named derived values from expressions
  docs/concepts/state.mdx
  renderer/src/computed.test.ts
  renderer/src/computed.ts
  renderer/src/state.ts
  renderer/src/testing/state-store.ts
  src/prefab_ui/app.py
  src/prefab_ui/rx/__init__.py
  tests/rx/__init__.py
  tests/rx/test_computed.py
Due: ty, tsc

Regenerate DataTable docs after caption removal
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
Due: none

Add Watch component for reacting to state changes
  docs/concepts/actions.mdx
  docs/concepts/state.mdx
  renderer/src/components/registry.ts
  renderer/src/components/watch.tsx
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/watch.ts
  schemas/fixtures/components/Watch.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/watch.py
  tests/components/test_watch.py
Due: ty, tsc

DataTable: default to full width (#284)
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/schemas/data_table.ts
  src/prefab_ui/components/data_table.py
Due: ty, tsc

Add column width, min/max width, and alignment to DataTable
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/schemas/data_table.ts
  schemas/fixtures/components/DataTable.json
  src/prefab_ui/components/data_table.py
Due: ty, tsc

Rename DataTable searchable to search
  docs/examples/sales-dashboard.mdx
  docs/protocol/data-table.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/demo-data.ts
  renderer/src/playground/examples.ts
  renderer/src/schemas/table.ts
  skills/generative-prefab-ui/SKILL.md
  skills/generative-prefab-ui/references/components.md
  tests/components/test_table.py
Due: ty, tsc

Convert watcher doc examples to ComponentPreview blocks
  docs/concepts/state.mdx
  docs/protocol/watch.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Convert computed state doc examples to ComponentPreview blocks
  docs-build/render_previews.py
  docs/concepts/state.mdx
Due: none

Add cell formatting to DataTableColumn
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/schemas/data_table.ts
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Add pandas DataFrame support to DataTable
  docs/components/data-table.mdx
  pyproject.toml
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty

Add row selection to DataTable
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/prop-transforms.ts
  renderer/src/schemas/data_table.ts
  schemas/fixtures/components/DataTable.json
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Test: serve renderer chunks directly instead of CDN
  .gitignore
  docs/_renderer/charts-B9i6PDHu.mjs
  docs/_renderer/compound-calendar-B_5zICcE.mjs
  docs/_renderer/content-DPfJayaU.mjs
  docs/_renderer/embed-CGSdzR6S.mjs
  docs/_renderer/embed.mjs
  docs/_renderer/icons-CImNZgDa.mjs
  docs/_renderer/svg-CjmyTZ3y.mjs
  docs/components/button.mdx
  docs/playground.html
  docs/playground.mdx
  docs/renderer.js
  pyproject.toml
Due: none

Fix nondeterministic playground links in build-docs
  docs-build/render_previews.py
Due: none

Add CI check that docs/ is up to date with build-docs
  .github/workflows/run-static.yml
Due: none

Add cell formatting to DataTableColumn (#289)
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/schemas/data_table.ts
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Pin static analysis to Python 3.12 for deterministic docs check
  .github/workflows/run-static.yml
Due: none

CI regenerates docs automatically instead of checking
  .github/workflows/run-static.yml
Due: none

Add Watch component docs page, nav entries, and actions cross-reference
  docs/components/watch.mdx
  docs/concepts/actions.mdx
  docs/docs.json
  docs/protocol/watch.mdx
  renderer/src/components/registry.ts
  renderer/src/components/watch.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/watch.ts
  schemas/fixtures/components/Watch.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/watch.py
  tests/components/test_watch.py
Due: ty, tsc

Add Watch component docs page, nav entries, and actions cross-reference
  docs/components/watch.mdx
  docs/concepts/actions.mdx
  docs/docs.json
  renderer/src/playground/examples.json
Due: none

Add regenerate-docs workflow
  .github/workflows/regenerate-docs.yml
Due: none

Remove docs steps from static analysis workflow
  .github/workflows/run-static.yml
Due: none

Move broken links check to dedicated docs-links workflow
  .github/workflows/check-docs-links.yml
  .github/workflows/run-static.yml
Due: none

Add regenerate-docs and check-docs-links workflows
  .github/workflows/check-docs-links.yml
  .github/workflows/regenerate-docs.yml
  .github/workflows/run-static.yml
Due: none

Use plain base64 for playground links instead of gzip
  docs-build/render_previews.py
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/playground.tsx
Due: tsc

Lead computed state docs with price calculator, move normalization second
  docs/concepts/state.mdx
Due: none

DataTable: filter prop, column widths, alignment, header/cell classes
  docs/components/data-table.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/data-table-column.mdx
  docs/protocol/data-table.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/data-display.tsx
  renderer/src/playground/examples.ts
  renderer/src/schemas/data_table.ts
  schemas/fixtures/components/DataTable.json
  skills/generative-prefab-ui/SKILL.md
  skills/generative-prefab-ui/references/components.md
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Fix broken links across docs
  docs/actions/update-state.mdx
  docs/components/grid.mdx
  docs/components/sparkline.mdx
  docs/concepts/actions.mdx
  docs/concepts/composition.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/examples/todo.mdx
  docs/expressions/overview.mdx
  docs/overview.mdx
  docs/welcome.mdx
Due: none

Add missing protocol/sparkline page and restore link
  docs/components/sparkline.mdx
  docs/protocol/sparkline.mdx
Due: none

Fix broken links across docs (#298)
  docs/actions/update-state.mdx
  docs/components/data-table.mdx
  docs/components/grid.mdx
  docs/concepts/actions.mdx
  docs/concepts/composition.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/examples/todo.mdx
  docs/expressions/overview.mdx
  docs/overview.mdx
  docs/protocol/data-table-column.mdx
  docs/protocol/sparkline.mdx
  docs/welcome.mdx
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
