Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Add w-full to Column and Grid so they fill their flex parent
  renderer/src/components/layout.tsx
Due: tsc

Add align and justify to layout docs
  docs/components/layout.mdx
Due: none

Split layout docs into separate Row, Column, Grid, and Div/Span pages
  docs/components/column.mdx
  docs/components/div-span.mdx
  docs/components/grid.mdx
  docs/components/layout.mdx
  docs/components/row.mdx
  docs/docs.json
  renderer/src/playground/examples.json
Due: none

Add line highlights and tabbed variant examples to layout docs
  docs/components/column.mdx
  docs/components/grid.mdx
  docs/components/row.mdx
Due: none

Add explanation of baseline alignment in Row docs
  docs/components/row.mdx
Due: none

Add gap=1 to justify examples so items don't look like one blob
  docs/components/row.mdx
Due: none

Preserve code block annotations (line highlights) in build-docs
  docs/_preview-build/render_previews.py
  docs/components/row.mdx
Due: none

Add dashed borders and highlight syntax to layout doc examples
  docs/components/column.mdx
  docs/components/grid.mdx
  docs/components/row.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Build embed.tsx as static bundle for Mintlify docs
  .claude/skills/docs-build-pipeline/SKILL.md
  .github/workflows/build-embed.yml
  .gitignore
  .pre-commit-config.yaml
  docs/docs.json
  docs/embed.js
  docs/snippets/component-preview.mdx
  renderer/package.json
  renderer/vite-plugins.ts
  renderer/vite.config.embed.ts
  renderer/vite.config.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Switch embed bundle to IIFE format for Mintlify compatibility
  .claude/skills/docs-build-pipeline/SKILL.md
  docs/embed.js
  docs/snippets/component-preview.mdx
  renderer/vite.config.embed.ts
Due: tsc

Rename embed CI workflow for clarity
  .github/workflows/build-embed.yml
Due: none

Build embed.tsx as static bundle for Mintlify (#35)
  .claude/skills/docs-build-pipeline/SKILL.md
  .github/workflows/build-embed.yml
  .gitignore
  .pre-commit-config.yaml
  docs/docs.json
  docs/embed.js
  docs/snippets/component-preview.mdx
  renderer/package.json
  renderer/vite-plugins.ts
  renderer/vite.config.embed.ts
  renderer/vite.config.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Make ForEach layout-transparent with display:contents
  renderer/src/renderer.tsx
Due: tsc

Fix set_data/set_initial_state closure ordering in build-docs
  docs/_preview-build/render_previews.py
Due: none

Update component docs: fix kwargs, add previews, add expressions page
  docs/actions/set-state.mdx
  docs/components/calendar.mdx
  docs/components/date-picker.mdx
  docs/components/foreach.mdx
  docs/components/pages.mdx
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/components/state.mdx
  docs/embed.js
  docs/patterns/expressions.mdx
  renderer/src/playground/examples.json
Due: none

Add note that doc examples are rendered from Python via Prefab
  docs/welcome.mdx
Due: none

Add assessment: Colin for docs rendering pipeline
  docs/_assessments/colin-for-docs-pipeline.md
Due: none

Revise Colin assessment: genuine fit as compilation orchestrator
  docs/_assessments/colin-for-docs-pipeline.md
Due: none

Rewrite as proving-ground plan with required Colin changes
  docs/_assessments/colin-for-docs-pipeline.md
Due: none

Skip unchanged file writes in build-docs pipeline
  docs/_preview-build/generate_protocol_pages.py
  docs/_preview-build/scope_css.py
  src/prefab_ui/cli/cli.py
Due: ty

Skip unchanged file writes in build-docs pipeline (#38)
  docs/_preview-build/generate_protocol_pages.py
  docs/_preview-build/scope_css.py
  src/prefab_ui/cli/cli.py
Due: ty

Add note that doc examples are rendered from Python via Prefab (#37)
  docs/welcome.mdx
Due: none

Scope theme CSS tokens to .prefab-preview in docs
  docs/_preview-build/scope_css.py
Due: none

Remove css_class from standalone checkbox doc examples
  docs/components/checkbox.mdx
  renderer/src/playground/examples.json
Due: none

Add live preview to welcome page and fix build pipeline
  .claude/skills/writing-component-docs/SKILL.md
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/line-chart.mdx
  docs/components/pie-chart.mdx
  docs/components/radar-chart.mdx
  docs/components/radial-chart.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
  src/prefab_ui/cli/cli.py
Due: ty

Remove icon
  docs/welcome.mdx
Due: none

Remove icon (#42)
  docs/welcome.mdx
Due: none

Align preview envelope keys with wire protocol (view/state)
  docs/_preview-build/render_previews.py
  docs/actions/set-state.mdx
  docs/components/calendar.mdx
  docs/components/date-picker.mdx
  docs/components/foreach.mdx
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/components/state.mdx
  docs/welcome.mdx
  renderer/src/dev-preview.tsx
  renderer/src/embed.tsx
  renderer/src/playground/playground.tsx
Due: tsc

Show only the component in Protocol tabs, not the envelope
  docs/_preview-build/render_previews.py
  docs/actions/set-state.mdx
  docs/components/calendar.mdx
  docs/components/date-picker.mdx
  docs/components/foreach.mdx
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/components/state.mdx
  docs/welcome.mdx
Due: none

Rename embed to renderer and publish to npm
  .github/workflows/build-renderer.yml
  .github/workflows/publish-renderer.yml
  .gitignore
  .pre-commit-config.yaml
  docs/embed.js
  docs/playground.mdx
  docs/renderer.js
  docs/snippets/component-preview.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/vite.config.playground.ts
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Rename embed to renderer and publish to npm (#45)
  .github/workflows/build-renderer.yml
  .github/workflows/publish-renderer.yml
  .gitignore
  .pre-commit-config.yaml
  docs/playground.mdx
  docs/renderer.js
  docs/snippets/component-preview.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/vite.config.playground.ts
  renderer/vite.config.renderer.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Drop $protocol key and _tree/_state backwards compat
  docs/_preview-build/render_previews.py
  renderer/src/dev-preview.tsx
  renderer/src/embed.tsx
  renderer/src/playground/playground.tsx
Due: tsc

Unified expression engine with arithmetic, ternaries, and pipes
  renderer/src/conditions.test.ts
  renderer/src/conditions.ts
  renderer/src/expression.test.ts
  renderer/src/expression.ts
  renderer/src/interpolation.test.ts
  renderer/src/interpolation.ts
Due: tsc

Fix 0 rendering as empty string in Text components
  renderer/src/renderer.tsx
Due: tsc

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
