Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Monkey-patch set_initial_state so prefab_ui.app imports work in playground
  renderer/src/playground/pyodide.ts
Due: tsc

Default slider step to (max - min) / 100 when not specified
  renderer/src/ui/slider.tsx
Due: tsc

Add total downloads chart, direct line, and in-memory caching to PyPI example
  examples/pypi-downloads/api_server.py
  examples/pypi-downloads/dashboard.py
  examples/pypi-downloads/data.py
  examples/pypi-downloads/pyproject.toml
  examples/pypi-downloads/query.py
  examples/pypi-downloads/query_total.sql
Due: none

Move docs/guides to docs/concepts
  docs/concepts/actions.mdx
  docs/concepts/composition.mdx
  docs/concepts/core-concepts.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/docs.json
Due: none

Fix playground link redirect to use /docs/playground in production
  README.md
  docs/snippets/component-preview.mdx
  renderer/README.md
Due: none

Require explicit $item scope in ForEach, add ITEM/EVENT/ERROR/INDEX constants
  docs-build/generate_protocol_pages.py
  docs/components/foreach.mdx
  docs/concepts/composition.mdx
  docs/concepts/expressions.mdx
  docs/examples/todo.mdx
  docs/expressions/overview.mdx
  examples/hitchhikers-guide/api_server.py
  examples/hitchhikers-guide/mcp_server.py
  renderer/src/demo-data.ts
  renderer/src/foreach.test.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/control_flow/foreach.py
  src/prefab_ui/rx.py
  tests/components/test_foreach.py
  tests/test_rx.py
Due: ty, tsc

Modernize doc examples to use Rx instead of {{ }} strings
  docs/actions/set-interval.mdx
  docs/components/metric.mdx
  docs/examples/the-button.mdx
  docs/examples/threshold-meter.mdx
  docs/expressions/overview.mdx
  docs/protocol/slider.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/actions/timing.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/slider.py
  src/prefab_ui/rx.py
Due: ty

Fix bool formatting in pipe args, use Rx keys in SetState examples
  docs/actions/set-interval.mdx
  docs/examples/the-button.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx.py
Due: ty

Lazy Rx operators + lambda forward references
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/concepts/composition.mdx
  docs/concepts/expressions.mdx
  docs/examples/threshold-meter.mdx
  docs/expressions/overview.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx.py
  tests/test_rx.py
Due: ty

Fix percent() on 0-100 sliders: use (vol / 100).percent()
  docs/concepts/composition.mdx
  docs/expressions/overview.mdx
Due: none

Add Lambda Rx h3 under Forward references with intro paragraph
  docs/concepts/composition.mdx
Due: none

Refactor Rx from closure chains to expression tree
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx.py
Due: ty

Add comprehensive forward-reference tests for Rx expression tree
  tests/test_rx.py
  tests/test_rx_forward_refs.py
Due: ty

Replace per-operator forward-ref tests with compound expression tests
  tests/test_rx_expressions.py
  tests/test_rx_forward_refs.py
Due: ty

Rx expression tree + lambda forward references (#209)
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/concepts/composition.mdx
  docs/concepts/expressions.mdx
  docs/examples/threshold-meter.mdx
  docs/expressions/overview.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/rx.py
  tests/test_rx.py
  tests/test_rx_expressions.py
Due: ty

Bump pydantic floor to >=2.11, fix annotation resolution
  pyproject.toml
  src/prefab_ui/components/base.py
  uv.lock
Due: ty

Bump pydantic floor to >=2.11, fix annotation resolution (#210)
  pyproject.toml
  src/prefab_ui/components/base.py
  uv.lock
Due: ty

DropZone and OpenFilePicker always return FileData[]
  docs/actions/open-file-picker.mdx
  docs/components/drop-zone.mdx
  renderer/src/actions.ts
  renderer/src/auto-name.ts
  renderer/src/components/drop-zone.tsx
  renderer/src/file-utils.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  src/prefab_ui/actions/file.py
  src/prefab_ui/components/drop_zone.py
  tests/components/test_drop_zone.py
Due: ty, tsc

DropZone and OpenFilePicker always return FileData[] (#211)
  docs/actions/open-file-picker.mdx
  docs/components/drop-zone.mdx
  renderer/src/actions.ts
  renderer/src/auto-name.ts
  renderer/src/components/drop-zone.tsx
  renderer/src/file-utils.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  src/prefab_ui/actions/file.py
  src/prefab_ui/components/drop_zone.py
  tests/components/test_drop_zone.py
Due: ty, tsc

Use Rx patterns (ITEM, INDEX) in ForEach doc examples
  docs/components/foreach.mdx
  docs/examples/file-upload.mdx
  docs/examples/todo.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/actions/state.py
  tests/components/test_foreach.py
Due: ty

ForEach auto-bind: capture $item/$index via scoped let bindings
  docs/actions/update-state.mdx
  docs/components/drop-zone.mdx
  docs/components/foreach.mdx
  docs/concepts/actions.mdx
  docs/concepts/composition.mdx
  docs/examples/file-upload.mdx
  docs/examples/todo.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/components/control_flow/foreach.py
  src/prefab_ui/rx.py
  tests/components/test_foreach.py
Due: ty

Add STATE proxy for convenient state key references
  docs/concepts/state.mdx
  docs/examples/file-upload.mdx
  docs/examples/the-button.mdx
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/rx.py
  tests/test_rx.py
Due: ty

Rewrite ForEach docs with richer prose and better structure
  docs/components/foreach.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Update all doc examples to use state proxy inline
  docs/actions/update-state.mdx
  docs/components/conditional.mdx
  docs/components/foreach.mdx
  docs/components/metric.mdx
  docs/components/slider.mdx
  docs/concepts/actions.mdx
  docs/concepts/composition.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/examples/file-upload.mdx
  docs/examples/the-button.mdx
  docs/examples/todo.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  renderer/src/playground/examples.json
Due: none
