Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, typescript, css]
        exclude: ^renderer/src/ui/  # generated shadcn components

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: bash -c 'uv run loq || printf "\nloq violations not enforced... yet!\n"'
        language: system
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

Remove unnecessary NODE_AUTH_TOKEN from npm publish workflow
  .github/workflows/publish-renderer.yml
Due: none

Remove unnecessary NODE_AUTH_TOKEN from npm publish workflow (#93)
  .github/workflows/publish-renderer.yml
Due: none

Add quickstart page and restructure docs navigation
  docs/docs.json
  docs/overview.mdx
  docs/quickstart.mdx
  docs/running/api.mdx
  docs/running/mcp.mdx
  docs/welcome.mdx
  renderer/src/dev-preview.tsx
  renderer/src/embed.tsx
Due: tsc

Fix toast styling in shadow DOM embeds
  docs/playground-app.js
  docs/renderer.js
  renderer/src/embed.tsx
  renderer/src/playground/examples.json
Due: tsc

Surface agent and MCP use cases in README and welcome page
  README.md
  docs/welcome.mdx
Due: none

Update welcome
  .gitignore
  README.md
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Back to toast
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Add quickstart page and fix toast in doc embeds (#94)
  .gitignore
  README.md
  docs/docs.json
  docs/overview.mdx
  docs/playground-app.js
  docs/quickstart.mdx
  docs/renderer.js
  docs/running/api.mdx
  docs/running/mcp.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/dev-preview.tsx
  renderer/src/embed.tsx
  renderer/src/playground/examples.json
Due: tsc

Dissolve Patterns section into component and action pages
  docs/actions.mdx
  docs/actions/show-toast.mdx
  docs/components/dialog.mdx
  docs/components/form.mdx
  docs/components/popover.mdx
  docs/docs.json
  docs/patterns/confirmation.mdx
  docs/patterns/data-display.mdx
  docs/patterns/interactivity.mdx
  docs/patterns/responsive-layouts.mdx
  docs/patterns/reusable-components.mdx
Due: none

Regenerate playground examples after pattern page removal
  renderer/src/playground/examples.json
Due: none

Update badge links and documentation references
  README.md
Due: none

Update badge links and documentation references (#97)
  README.md
Due: none

Add fields_only to Form.from_model(); fix context isolation
  src/prefab_ui/components/form.py
  tests/test_form_model.py
Due: ty

Extend gap safelist through gap-32
  renderer/src/index.css
Due: none

Add Form component doc page with from_model and fields_only examples
  docs/actions/show-toast.mdx
  docs/components/form.mdx
  docs/playground-app.js
  docs/renderer.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Fix show-toast button variants and simplify ToolCall demo
  docs/actions/show-toast.mdx
  docs/components/dialog.mdx
  docs/playground-app.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Dissolve Patterns section into component and action pages (#96)
  docs/actions.mdx
  docs/actions/show-toast.mdx
  docs/components/dialog.mdx
  docs/components/form.mdx
  docs/components/popover.mdx
  docs/docs.json
  docs/patterns/confirmation.mdx
  docs/patterns/data-display.mdx
  docs/patterns/forms.mdx
  docs/patterns/interactivity.mdx
  docs/patterns/responsive-layouts.mdx
  docs/patterns/reusable-components.mdx
  docs/playground-app.js
  docs/renderer.js
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/components/form.py
  tests/test_form_model.py
Due: ty

Add CloseOverlay action for dismissing Dialog and Popover overlays
  docs/components/dialog.mdx
  docs/components/popover.mdx
  docs/playground-app.js
  docs/protocol/close-overlay.mdx
  docs/renderer.js
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/components/compound.tsx
  renderer/src/overlay-context.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/actions.ts
  renderer/src/ui/dialog.tsx
  schemas/fixtures/actions/closeOverlay.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/ui.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Add CloseOverlay action for dismissing Dialog and Popover overlays (#98)
  docs/components/dialog.mdx
  docs/components/popover.mdx
  docs/playground-app.js
  docs/protocol/close-overlay.mdx
  docs/renderer.js
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/components/compound.tsx
  renderer/src/overlay-context.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/actions.ts
  renderer/src/ui/dialog.tsx
  schemas/fixtures/actions/closeOverlay.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/ui.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Add custom column widths to Grid via list syntax
  docs/components/grid.mdx
  docs/playground-app.js
  docs/protocol/grid.mdx
  docs/renderer.js
  renderer/src/components/layout.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/grid.ts
  src/prefab_ui/components/grid.py
  tests/test_responsive.py
Due: ty, tsc

Add custom column widths to Grid via list syntax (#99)
  docs/components/grid.mdx
  docs/playground-app.js
  docs/protocol/grid.mdx
  docs/renderer.js
  renderer/src/components/layout.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/grid.ts
  src/prefab_ui/components/grid.py
  tests/test_responsive.py
Due: ty, tsc

Add align kwarg to text components; consolidate Text/Heading inheritance
  renderer/src/schemas/heading.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/text.ts
  schemas/fixtures/components/Heading.json
  schemas/fixtures/components/Text.json
  src/prefab_ui/components/heading.py
  src/prefab_ui/components/text.py
  src/prefab_ui/components/typography.py
  tests/test_components.py
Due: ty, tsc

Update thumbnail
  docs/assets/thumbnail-background.jpeg
  docs/docs.json
Due: none

Update thumbnail (#101)
  docs/assets/thumbnail-background.jpeg
  docs/docs.json
Due: none

Update docs.json
  docs/docs.json
Due: none

Update docs.json (#103)
  docs/docs.json
Due: none

Point welcome page MCP App links to /running/mcp; show PrefabApp on MCP page
  docs/running/mcp.mdx
  docs/welcome.mdx
Due: none

Rename MCP Server page to FastMCP; rewrite prose and consolidate examples
  docs/docs.json
  docs/quickstart.mdx
  docs/running/fastmcp.mdx
  docs/welcome.mdx
Due: none

Fix stale /patterns/ links and widen welcome showcase
  docs/components/code.mdx
  docs/components/define-use.mdx
  docs/components/grid.mdx
  docs/css.mdx
  docs/quickstart.mdx
  docs/welcome.mdx
Due: none

Rename MCP Server to FastMCP; fix stale pattern links (#104)
  docs/components/code.mdx
  docs/components/define-use.mdx
  docs/components/grid.mdx
  docs/css.mdx
  docs/docs.json
  docs/quickstart.mdx
  docs/running/fastmcp.mdx
  docs/running/mcp.mdx
  docs/welcome.mdx
Due: none

Update tagline to "even humans can use"
  README.md
  docs/docs.json
  docs/playground-app.js
  docs/welcome.mdx
  pyproject.toml
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
Due: ty, tsc

Update FastMCP links to PrefectHQ/fastmcp
  docs/running/fastmcp.mdx
  docs/welcome.mdx
Due: none

Update tagline and FastMCP links (#105)
  README.md
  docs/docs.json
  docs/playground-app.js
  docs/running/fastmcp.mdx
  docs/welcome.mdx
  pyproject.toml
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
Due: ty, tsc

Showcase newline
  docs/snippets/gen/welcome/code_showcase.mdx
Due: none

Showcase newline (#107)
  docs/snippets/gen/welcome/code_showcase.mdx
Due: none

Add OpenFilePicker action and DropZone component
  CLAUDE.md
  renderer/src/actions.ts
  renderer/src/components/drop-zone.tsx
  renderer/src/components/registry.ts
  renderer/src/file-utils.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/actions.ts
  renderer/src/schemas/drop_zone.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/actions/openFilePicker.json
  schemas/fixtures/components/DropZone.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/file.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/drop_zone.py
  tests/test_actions.py
  tests/test_components.py
  tests/test_contract.py
Due: ty, tsc

Add docs, pluralize pipe, and File Inbox example
  .claude/skills/writing-component-docs/SKILL.md
  docs/actions/open-file-picker.mdx
  docs/components/drop-zone.mdx
  docs/docs.json
  docs/examples/file-upload.mdx
  docs/expressions/pipes.mdx
  docs/playground-app.js
  docs/protocol/drop-zone.mdx
  docs/protocol/file-upload.mdx
  docs/protocol/open-file-picker.mdx
  docs/renderer.js
  renderer/src/expression-pipes.test.ts
  renderer/src/expression.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: tsc
