Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Update Tabs fixture with orientation field
  schemas/fixtures/components/Tabs.json
Due: none

Fix Tabs variant='line' having no visual difference from default
  renderer/src/style-nova.css
  renderer/src/ui/tabs.tsx
  tests/components/test_tabs.py
Due: ty, tsc

Never amend commits, period
  CLAUDE.md
Due: none

Rework Tabs styling and add vertical orientation
  docs/components/tabs.mdx
  docs/protocol/tabs.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/compound.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/tabs.ts
  renderer/src/style-nova.css
  renderer/src/ui/tabs.tsx
  src/prefab_ui/components/tabs.py
Due: ty, tsc

Update CLAUDE.md with development rules from FastMCP
  CLAUDE.md
Due: none

Restructure guides into Concepts section
  docs/docs.json
  docs/getting-started/composition.mdx
  docs/guides/actions.mdx
  docs/guides/composition.mdx
  docs/guides/core-concepts.mdx
  docs/guides/expression-reference.mdx
  docs/guides/expressions.mdx
  docs/guides/state.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/components/base.py
Due: ty

Add SessionStart hook to install gh CLI in cloud sessions
  .claude/hooks/session-init.sh
  .claude/settings.json
Due: none

Fix playground wide-mode CSS on client-side navigation
  docs/playground.mdx
Due: none

Fix playground production mode and local bundle generation
  docs-build/generate_playground_bundle.py
  docs/playground.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  renderer/src/playground/pyodide.ts
  renderer/vite.config.playground.ts
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add upgrade checks workflow
  .github/workflows/run-upgrade-checks.yml
Due: none

Tone down Open in Playground link color
  docs/snippets/component-preview.mdx
Due: none

Further mute Open in Playground link, strip underline/border
  docs/snippets/component-preview.mdx
Due: none

Use opacity for Open in Playground link so it works in any color mode
  docs/snippets/component-preview.mdx
Due: none

Rename link to 'Try in Playground'
  docs/snippets/component-preview.mdx
Due: none

Bump Open in Playground link opacity to 0.4
  docs/snippets/component-preview.mdx
Due: none

Rename link to 'Run in Playground'
  docs/snippets/component-preview.mdx
Due: none

Remove magic wildcard imports from playground harness
  renderer/src/playground/pyodide.ts
Due: tsc

Lighten Run in Playground font weight
  docs/snippets/component-preview.mdx
Due: none

Lock playground height to prevent resize when switching to JSON mode
  renderer/src/playground/playground.tsx
Due: tsc

Fix playground example imports and remove magic wildcard imports from default
  renderer/src/playground/examples.ts
  renderer/src/playground/playground.tsx
Due: tsc

Add copy link button to playground toolbar with checkmark feedback
  renderer/src/playground/playground.tsx
Due: tsc
