Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add PrefabApp context manager and css_class
  src/prefab_ui/app.py
  tests/test_app.py
Due: ty

Make PrefabApp re-entrant, error on view= + context manager
  src/prefab_ui/app.py
  tests/test_app.py
Due: ty

Update docs to show PrefabApp context manager as canonical pattern
  docs/concepts/generative-ui.mdx
  docs/getting-started/quickstart.mdx
  docs/reference/app.mdx
  docs/running/fastmcp.mdx
  docs/serve.mdx
  examples/generative-ui/server.py
Due: none

Expand PrefabApp docs: context manager, functional, and from_json patterns
  docs/reference/app.mdx
Due: none

Add pf-app-root class with per-theme styling
  docs/reference/app.mdx
  renderer/src/style.css
  src/prefab_ui/app.py
  src/prefab_ui/themes/minimal.py
  src/prefab_ui/themes/presentation.py
  tests/test_app.py
Due: ty

Rewrite PrefabApp docs, rebuild app.html with shared harness
  docs/reference/app.mdx
  src/prefab_ui/renderer/app.html
Due: none

Flatten PrefabApp docs TOC
  docs/reference/app.mdx
Due: none

Fix PrefabApp docs: proper H2/H3 hierarchy
  docs/reference/app.mdx
Due: none

Track unbound PrefabApp instances in harness
  renderer/src/pyodide/executor.ts
  src/prefab_ui/renderer/app.html
  src/prefab_ui/renderer/generative.html
Due: tsc

PrefabApp as context manager with css_class (#339)
  docs/concepts/generative-ui.mdx
  docs/getting-started/quickstart.mdx
  docs/reference/app.mdx
  docs/running/fastmcp.mdx
  docs/serve.mdx
  docs/styling/themes.mdx
  examples/generative-ui/server.py
  renderer/src/pyodide/executor.ts
  renderer/src/style.css
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/renderer/generative.html
  src/prefab_ui/themes/minimal.py
  src/prefab_ui/themes/presentation.py
  tests/test_app.py
Due: ty, tsc

Update ty ignore comments for 0.0.25 compatibility
  pyproject.toml
  src/prefab_ui/actions/base.py
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/app.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/control_flow/foreach.py
  src/prefab_ui/components/form.py
  src/prefab_ui/rx/__init__.py
  tests/components/test_base.py
  tests/test_auto_name.py
  uv.lock
Due: ty

Update ty ignore comments for 0.0.25 compatibility (#340)
  pyproject.toml
  src/prefab_ui/actions/base.py
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/app.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/control_flow/foreach.py
  src/prefab_ui/components/form.py
  src/prefab_ui/rx/__init__.py
  tests/components/test_base.py
  tests/test_auto_name.py
  uv.lock
Due: ty

Regenerate playground bundle and examples
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Skip sandbox tests gracefully when Pyodide fails to start
  tests/test_sandbox.py
Due: ty

Regenerate playground bundle and examples (#341)
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  tests/test_sandbox.py
Due: ty

Generative renderer: debug panel, dark mode, executor fixes
  renderer/src/app.tsx
  renderer/src/assets/fastmcp-logo-dark.svg
  renderer/src/assets/fastmcp-logo-light.svg
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  renderer/src/pyodide/executor.ts
  renderer/src/shared-app-utils.ts
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/renderer/generative.html
Due: ty, tsc

Add executor harness tests
  tests/test_executor_harness.py
Due: ty

PrefabApp always wraps view in pf-app-root Div
  renderer/src/style.css
  src/prefab_ui/app.py
  tests/actions/test_mcp.py
  tests/test_actions.py
  tests/test_app.py
  tests/test_define_use_state.py
  tests/test_executor_harness.py
  tests/test_form_model.py
  tests/test_sandbox.py
Due: ty

Generative renderer: debug panel, dark mode, executor hardening, pf-app-root (#343)
  docs/concepts/custom-handlers.mdx
  docs/styling/themes.mdx
  renderer/src/app.tsx
  renderer/src/assets/fastmcp-logo-dark.svg
  renderer/src/assets/fastmcp-logo-light.svg
  renderer/src/generative-app.tsx
  renderer/src/generative-bridge.ts
  renderer/src/pyodide/executor.ts
  renderer/src/shared-app-utils.ts
  renderer/src/style.css
  src/prefab_ui/app.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/renderer/generative.html
  tests/actions/test_mcp.py
  tests/test_actions.py
  tests/test_app.py
  tests/test_define_use_state.py
  tests/test_executor_harness.py
  tests/test_form_model.py
  tests/test_sandbox.py
Due: ty, tsc

CLAUDE.md: docstrings are markdown, not rST
  CLAUDE.md
Due: none

Move chart/form/reactive skills to references under writing-prefab-python
  CLAUDE.md
  skills/writing-prefab-python/references/charts.md
  skills/writing-prefab-python/references/forms.md
  skills/writing-prefab-python/references/reactive.md
Due: none

Rename writing-prefab-python skill to prefab-ui
  CLAUDE.md
  skills/prefab-ui/SKILL.md
  skills/prefab-ui/references/charts.md
  skills/prefab-ui/references/forms.md
  skills/prefab-ui/references/reactive.md
Due: none

Update prefab-ui skill description trigger keywords
  skills/prefab-ui/SKILL.md
Due: none

Skill: add DataTable example, point to component search for API details
  renderer/src/pyodide/executor.ts
  skills/prefab-ui.zip
  skills/prefab-ui/SKILL.md
  src/prefab_ui/renderer/generative.html
Due: tsc

Accept _BoundStateProxy in PrefabApp(state=), update skill with Tabs/Metric/DataTable patterns
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/data-table.mdx
  docs/protocol/fetch.mdx
  docs/protocol/grid-item.mdx
  docs/protocol/heading.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/pop-state.mdx
  docs/protocol/radar-chart.mdx
  docs/protocol/radial-chart.mdx
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  src/prefab_ui/app.py
  src/prefab_ui/renderer/generative.html
Due: ty

Remove set_initial_state from skill and execute() docstring — use PrefabApp(state={}) instead
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  skills/prefab-ui/references/reactive.md
  src/prefab_ui/generative.py
  src/prefab_ui/renderer/generative.html
Due: ty

Remove set_initial_state from examples and doc code blocks
  docs/actions/update-state.mdx
  docs/components/conditional.mdx
  docs/components/foreach.mdx
  docs/components/metric.mdx
  docs/components/slot.mdx
  docs/concepts/actions.mdx
  docs/concepts/components.mdx
  docs/concepts/custom-handlers.mdx
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/examples/cross-filter.mdx
  docs/examples/file-upload.mdx
  docs/examples/the-button.mdx
  docs/examples/todo.mdx
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/reactive/state.mdx
  docs/reference/app.mdx
  examples/budget-allocator/app.py
  examples/custom-pipes/app.py
  renderer/src/playground/examples.json
Due: none

Delete set_initial_state and all related infrastructure
  docs/concepts/expressions.mdx
  docs/concepts/state.mdx
  docs/examples/todo.mdx
  docs/expressions/context.mdx
  docs/expressions/overview.mdx
  docs/reactive/state.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/app.py
  src/prefab_ui/generative.py
  src/prefab_ui/rx/__init__.py
  tests/test_app.py
  tests/test_rx.py
  tools/render_previews.py
Due: ty

Fix test references to renamed prefab-ui skill
  tests/test_generative.py
Due: ty

Skip sandbox tests in CI when Deno is not installed
  tests/test_generative.py
Due: ty

Fix OpenLink action in prefab serve mode
  renderer/src/actions.ts
Due: tsc

Fix ty errors: narrow execute.__doc__ before str operations
  tests/test_generative.py
Due: ty

Fix OpenLink in prefab serve mode (#348)
  renderer/src/actions.ts
Due: tsc

Sanitize NaN/Inf to null in JSON serialization
  src/prefab_ui/app.py
  src/prefab_ui/components/base.py
  src/prefab_ui/rx/__init__.py
  tests/test_app.py
Due: ty

Sanitize NaN/Inf to null in JSON serialization (#349)
  src/prefab_ui/app.py
  src/prefab_ui/components/base.py
  src/prefab_ui/rx/__init__.py
  tests/test_app.py
Due: ty

Fix pipe args dropping type info (| default:false returned string "false")
  renderer/src/custom-handlers.test.ts
  renderer/src/custom-handlers.ts
  renderer/src/expression.test.ts
  renderer/src/expression.ts
Due: tsc
