Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add chart value formatting
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/components/pie-chart.mdx
  docs/components/radial-chart.mdx
  docs/examples/cross-filter.mdx
  docs/examples/expense-tracker.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/radial-chart.mdx
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/presentation/cost_overview.py
  renderer/schemas/fixtures/components/AreaChart.json
  renderer/schemas/fixtures/components/BarChart.json
  renderer/schemas/fixtures/components/LineChart.json
  renderer/schemas/fixtures/components/PieChart.json
  renderer/schemas/fixtures/components/RadialChart.json
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  renderer/src/ui/chart.tsx
  renderer/src/validation.test.ts
  skills/prefab-ui/references/charts.md
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/renderer/app.html
  tests/components/test_chart.py
Due: ty, tsc

Regenerate bundled renderer
  src/prefab_ui/renderer/app.html
Due: none

Add chart value formatting (#454)
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/components/pie-chart.mdx
  docs/components/radial-chart.mdx
  docs/examples/cross-filter.mdx
  docs/examples/expense-tracker.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/protocol/pie-chart.mdx
  docs/protocol/radial-chart.mdx
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/presentation/cost_overview.py
  renderer/schemas/fixtures/components/AreaChart.json
  renderer/schemas/fixtures/components/BarChart.json
  renderer/schemas/fixtures/components/LineChart.json
  renderer/schemas/fixtures/components/PieChart.json
  renderer/schemas/fixtures/components/RadialChart.json
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  renderer/src/ui/chart.tsx
  renderer/src/validation.test.ts
  skills/prefab-ui/references/charts.md
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/renderer/app.html
  tests/components/test_chart.py
Due: ty, tsc

Align sortable DataTable headers
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/components/data-table-logic.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Reset sortable header direction
  renderer/src/components/data-table-logic.test.ts
  renderer/src/components/data-table-logic.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Rebuild renderer bundle
  src/prefab_ui/renderer/app.html
Due: none

Align sortable DataTable headers (#455)
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/components/data-table-logic.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Downgrade recent renderer dependencies
  renderer/package-lock.json
Due: none

Downgrade recent renderer dependencies (#456)
  renderer/package-lock.json
Due: none

Add chart tooltip value spacing
  renderer/src/ui/chart.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add chart tooltip value spacing (#457)
  renderer/src/ui/chart.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add Marvin test failure workflow
  .github/workflows/marvin-test-failure.yml
Due: none

Gate Marvin failure analysis to PR runs
  .github/workflows/marvin-test-failure.yml
Due: none

Add Marvin test failure analysis workflow (#458)
  .github/workflows/marvin-test-failure.yml
Due: none

Label array wire types by item type, not hard-coded Action[]
  docs/components/accordion.mdx
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/calendar.mdx
  docs/components/column.mdx
  docs/components/dashboard-grid.mdx
  docs/components/data-table.mdx
  docs/components/drop-zone.mdx
  docs/components/grid.mdx
  docs/components/histogram.mdx
  docs/components/line-chart.mdx
  docs/components/pie-chart.mdx
  docs/components/radar-chart.mdx
  docs/components/radial-chart.mdx
  docs/components/row.mdx
  docs/components/scatter-chart.mdx
  docs/components/slider.mdx
  docs/components/sparkline.mdx
  tools/generate_protocol_ref.py
Due: none

Dedupe repeated branches in protocol-ref unions
  docs/components/calendar.mdx
  docs/components/metric.mdx
  tools/generate_protocol_ref.py
Due: none

Allow LineChart series to be a reactive template
  renderer/src/components/charts.tsx
  renderer/src/schemas/chart.ts
  src/prefab_ui/components/charts/__init__.py
Due: ty, tsc

Add pievisible pipe for dynamic pie Other slices
  renderer/src/expression-pipes.test.ts
  renderer/src/expression.ts
Due: tsc

Change popover
  renderer/src/app.tsx
  renderer/src/components/compound.tsx
  renderer/src/style.css
  renderer/src/ui/popover.tsx
Due: tsc

add axis labels
  renderer/src/components/charts.tsx
  renderer/src/schemas/chart.ts
  renderer/src/ui/chart.tsx
  src/prefab_ui/components/charts/__init__.py
  tests/components/test_chart.py
Due: ty, tsc

fix: inject data globals into streaming renderer
  renderer/src/bridge.ts
  renderer/src/pyodide/executor.test.ts
  renderer/src/pyodide/executor.ts
Due: tsc

style: format executor data helper
  renderer/src/pyodide/executor.ts
Due: tsc

fix: handle partial streaming data
  renderer/src/pyodide/executor.test.ts
  renderer/src/pyodide/executor.ts
  src/prefab_ui/renderer/app.html
Due: tsc

feat: support action chaining with pipe operator
  src/prefab_ui/actions/base.py
  tests/test_actions.py
Due: ty

chore: update action chaining artifacts
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  tests/actions/test_base.py
  tests/test_actions.py
Due: ty

ci: bump actions/checkout v6 -> v7 in marvin-label-triage
  .github/workflows/marvin-label-triage.yml
Due: none

fix: center zero-value ring labels
  renderer/src/components/ring.test.ts
  renderer/src/components/ring.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

docs: fix the template expression counter example
  docs/concepts/expressions.mdx
Due: none

docs: regenerate playground examples
  renderer/src/playground/examples.json
Due: none

Pin quarantined renderer dependencies
  renderer/package-lock.json
  renderer/package.json
  tests/test_app_tools.py
Due: ty

feat: support action chaining with pipe operator (#485)
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  src/prefab_ui/actions/base.py
  tests/actions/test_base.py
Due: ty

docs: fix the template expression counter example (#501)
  docs/concepts/expressions.mdx
  renderer/src/playground/examples.json
Due: none

fix(renderer): inject data globals into streaming execution (#480)
  renderer/src/bridge.ts
  renderer/src/pyodide/executor.test.ts
  renderer/src/pyodide/executor.ts
  src/prefab_ui/renderer/app.html
Due: tsc
