Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Regenerate playground artifacts (remove todo example references)
  docs/playground-app.js
  renderer/src/playground/examples.json
Due: none

Fix conditions treating undefined variables as truthy
  docs/renderer.js
  renderer/src/conditions.ts
Due: tsc

Revamp slider docs: lead with value, show binding early, drop confusing progress bar
  docs/components/slider.mdx
  docs/playground-app.js
  renderer/src/playground/examples.json
Due: none

Add file watcher to `prefab dev docs` for automatic rebuilds
  src/prefab_ui/cli/cli.py
Due: ty

Fix Tailwind v4 warnings from recharts attribute selectors
  docs/playground-app.js
  docs/renderer.js
  renderer/src/ui/chart.tsx
Due: tsc

Add todo list example app
  docs/docs.json
  docs/examples/todo.mdx
Due: none

Add show/hide toggle, remove input borders, clean up Python formatting
  docs/examples/todo.mdx
Due: none

Narrow todo cards, drop separator, add flex-wrap
  docs/examples/todo.mdx
Due: none

Make add-group card square with w-56
  docs/examples/todo.mdx
Due: none

Allow template expressions in state action paths
  docs/examples/todo.mdx
Due: none

Fix empty-state card: centered + with proper sizing
  docs/examples/todo.mdx
Due: none

Add vertical spacing between todo items
  docs/examples/todo.mdx
Due: none

Fix todo input ring shadow (ring-0 needed in Tailwind v4)
  docs/examples/todo.mdx
Due: none

Fix nested ForEach rendering and add not/and/or expression keywords
  docs/playground-app.js
  docs/renderer.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Multi-group todo app with inline editing and validation
  docs/examples/todo.mdx
  docs/playground-app.js
  docs/renderer.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Widen todo cards and increase content spacing
  docs/examples/todo.mdx
Due: none

Update todo example to use let bindings instead of State
  docs/examples/todo.mdx
  docs/playground-app.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add Separator spacing prop, resolve CSS kwargs Python-side
  CLAUDE.md
  docs/components/separator.mdx
  docs/examples/todo.mdx
  docs/playground-app.js
  docs/protocol/separator.mdx
  docs/renderer.js
  docs/styles/style.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/components/separator.py
Due: ty

Add my-*/mx-* classes to Tailwind safelist
  docs/playground-app.js
  docs/renderer.js
  renderer/src/index.css
  renderer/src/playground/examples.json
Due: none

Polish todo example: full-card + button, conditional separator, spacing tweaks
  docs/examples/todo.mdx
  docs/playground-app.js
  renderer/src/playground/examples.json
Due: none

Switch todo example to wide mode for three-card layout
  docs/examples/todo.mdx
Due: none

Use Grid for auto-wrapping layout, add delete-list button, conditional separator
  docs/examples/todo.mdx
  renderer/src/playground/examples.json
Due: none

Render Form as actual <form> element for Enter-to-submit
  docs/examples/todo.mdx
  docs/playground-app.js
  docs/renderer.js
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/examples.json
Due: tsc

Render Form as actual <form> element for Enter-to-submit (#64)
  docs/examples/todo.mdx
  docs/playground-app.js
  docs/renderer.js
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/examples.json
Due: tsc

Ship MCP renderer as self-contained HTML bundle
  .pre-commit-config.yaml
  loq.toml
  renderer/mcp.html
  renderer/src/app.tsx
  renderer/vite.config.mcp.ts
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  tests/test_renderer.py
Due: ty, tsc

Fix Windows encoding error reading bundled HTML
  src/prefab_ui/renderer/__init__.py
Due: ty

Ship MCP renderer as self-contained HTML bundle (#66)
  .pre-commit-config.yaml
  loq.toml
  renderer/mcp.html
  renderer/src/app.tsx
  renderer/vite.config.mcp.ts
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  tests/test_renderer.py
Due: ty, tsc

Preserve playground state across code edits, debounce doc watcher
  docs/examples/todo.mdx
  docs/playground-app.js
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Preserve playground state across code edits, debounce doc watcher (#67)
  docs/examples/todo.mdx
  docs/playground-app.js
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Add Container layout component
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/index.css
  renderer/src/schemas/container.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Container.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/container.py
  tests/test_components.py
Due: ty, tsc

Add Container documentation
  docs/components/container.mdx
  docs/docs.json
  docs/playground-app.js
  docs/protocol/container.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

update container
  docs/components/container.mdx
  renderer/src/playground/examples.json
Due: none

Add Container layout component (#68)
  docs/components/container.mdx
  docs/docs.json
  docs/playground-app.js
  docs/protocol/container.mdx
  docs/renderer.js
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/container.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Container.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/container.py
  tests/test_components.py
Due: ty, tsc

Add Slot component for rendering dynamic component trees from state
  docs/components/slot.mdx
  docs/docs.json
  docs/protocol/slot.mdx
  renderer/src/components/control-flow.tsx
  renderer/src/components/registry.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/slot.ts
  renderer/src/slot.test.ts
  schemas/fixtures/components/Slot.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/slot.py
  tests/test_components.py
Due: ty, tsc

Fix premature action spec interpolation and controlled form state
  renderer/src/actions.ts
  renderer/src/components/form.tsx
  renderer/src/renderer.tsx
  renderer/src/slot.test.ts
Due: tsc

Add on_change action docs for form components
  docs/components/checkbox.mdx
  docs/components/radio.mdx
  docs/components/select.mdx
  docs/components/slider.mdx
  docs/components/slot.mdx
  docs/components/switch.mdx
  docs/playground-app.js
  docs/renderer.js
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add cursor-pointer to interactive form controls
  renderer/src/ui/checkbox.tsx
  renderer/src/ui/radio-group.tsx
  renderer/src/ui/select.tsx
  renderer/src/ui/slider.tsx
  renderer/src/ui/switch.tsx
Due: tsc

Replace textarea+Shiki editor with CodeMirror 6
  renderer/package-lock.json
  renderer/package.json
  renderer/src/playground/editor.tsx
Due: tsc

Rebuild docs/playground-app.js
  docs/playground-app.js
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
