Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Move actions overview into Client Interactivity section
  docs/actions/overview.mdx
  docs/docs.json
Due: none

Rename action pages and add MCP prefixes
  docs/actions/call-tool.mdx
  docs/actions/fetch.mdx
  docs/actions/send-message.mdx
  docs/actions/update-context.mdx
  docs/actions/update-state.mdx
  docs/docs.json
  renderer/package-lock.json
  renderer/src/playground/examples.json
Due: none

Add /marvin comment workflows for issues and PRs
  .github/actions/run-claude/action.yml
  .github/scripts/mention/gh-get-review-threads.sh
  .github/scripts/mention/gh-resolve-review-thread.sh
  .github/scripts/pr-review/pr-comment.sh
  .github/scripts/pr-review/pr-diff.sh
  .github/scripts/pr-review/pr-existing-comments.sh
  .github/scripts/pr-review/pr-remove-comment.sh
  .github/scripts/pr-review/pr-review.sh
  .github/workflows/marvin-comment-on-issue.yml
  .github/workflows/marvin-comment-on-pr.yml
Due: none

Reorganize docs sidebar navigation (#142)
  docs/actions/call-tool.mdx
  docs/actions/fetch.mdx
  docs/actions/overview.mdx
  docs/actions/send-message.mdx
  docs/actions/update-context.mdx
  docs/actions/update-state.mdx
  docs/docs.json
  renderer/package-lock.json
  renderer/src/playground/examples.json
Due: none

Add /marvin comment workflows for issues and PRs (#143)
  .github/actions/run-claude/action.yml
  .github/scripts/mention/gh-get-review-threads.sh
  .github/scripts/mention/gh-resolve-review-thread.sh
  .github/scripts/pr-review/pr-comment.sh
  .github/scripts/pr-review/pr-diff.sh
  .github/scripts/pr-review/pr-existing-comments.sh
  .github/scripts/pr-review/pr-remove-comment.sh
  .github/scripts/pr-review/pr-review.sh
  .github/workflows/marvin-comment-on-issue.yml
  .github/workflows/marvin-comment-on-pr.yml
Due: none

Fix tooltip portal and updateContext error handling
  renderer/src/actions.ts
  renderer/src/ui/tooltip.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Rename ActionBase to Action and move MCP actions to dedicated module
  examples/hitchhikers-guide/mcp_server.py
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/base.py
  src/prefab_ui/actions/fetch.py
  src/prefab_ui/actions/file.py
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/actions/navigation.py
  src/prefab_ui/actions/state.py
  src/prefab_ui/actions/timing.py
  src/prefab_ui/actions/ui.py
  src/prefab_ui/components/dialog.py
  src/prefab_ui/components/drop_zone.py
  tests/test_actions.py
  tests/test_contract.py
Due: ty

Update docs for action cleanup and add FastMCP host communication guide
  README.md
  docs/_preview-build/generate_protocol_pages.py
  docs/actions/call-tool.mdx
  docs/actions/open-file-picker.mdx
  docs/actions/overview.mdx
  docs/actions/send-message.mdx
  docs/actions/update-context.mdx
  docs/components/dialog.mdx
  docs/components/drop-zone.mdx
  docs/components/form.mdx
  docs/components/popover.mdx
  docs/expressions/context.mdx
  docs/overview.mdx
  docs/running/fastmcp.mdx
  docs/testing.mdx
  skills/writing-prefab-python/SKILL.md
  skills/writing-prefab-python/references/forms.md
Due: none

Clean up action types and fix renderer issues (#145)
  README.md
  docs/_preview-build/generate_protocol_pages.py
  docs/actions/call-tool.mdx
  docs/actions/open-file-picker.mdx
  docs/actions/overview.mdx
  docs/actions/send-message.mdx
  docs/actions/update-context.mdx
  docs/components/dialog.mdx
  docs/components/drop-zone.mdx
  docs/components/form.mdx
  docs/components/popover.mdx
  docs/expressions/context.mdx
  docs/overview.mdx
  docs/running/fastmcp.mdx
  docs/testing.mdx
  examples/hitchhikers-guide/mcp_server.py
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/ui/tooltip.tsx
  scripts/generate_schemas.py
  skills/writing-prefab-python/SKILL.md
  skills/writing-prefab-python/references/forms.md
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/base.py
  src/prefab_ui/actions/fetch.py
  src/prefab_ui/actions/file.py
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/actions/navigation.py
  src/prefab_ui/actions/state.py
  src/prefab_ui/actions/timing.py
  src/prefab_ui/actions/ui.py
  src/prefab_ui/components/dialog.py
  src/prefab_ui/components/drop_zone.py
  src/prefab_ui/renderer/app.html
  tests/test_actions.py
  tests/test_contract.py
Due: ty, tsc

Move charts and control flow to dedicated submodules
  docs/actions/update-state.mdx
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/conditional.mdx
  docs/components/foreach.mdx
  docs/components/line-chart.mdx
  docs/components/pie-chart.mdx
  docs/components/radar-chart.mdx
  docs/components/radial-chart.mdx
  docs/expressions/context.mdx
  docs/running/api.mdx
  docs/running/fastmcp.mdx
  examples/hitchhikers-guide/api_server.py
  examples/hitchhikers-guide/mcp_server.py
  examples/todo/app.py
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/examples.ts
  schemas/manifest.json
  skills/writing-prefab-python/SKILL.md
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/control_flow/__init__.py
  src/prefab_ui/components/control_flow/conditional.py
  src/prefab_ui/components/control_flow/foreach.py
  tests/components/test_foreach.py
  tests/test_conditional.py
  tests/test_define_use_state.py
Due: ty, tsc

Include submodule components in schema generation and contract tests
  docs/_preview-build/generate_protocol_pages.py
  schemas/manifest.json
  scripts/generate_schemas.py
  tests/test_contract.py
Due: ty

Move charts and control flow to dedicated submodules (#146)
  docs/_preview-build/generate_protocol_pages.py
  docs/actions/update-state.mdx
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/conditional.mdx
  docs/components/foreach.mdx
  docs/components/line-chart.mdx
  docs/components/pie-chart.mdx
  docs/components/radar-chart.mdx
  docs/components/radial-chart.mdx
  docs/expressions/context.mdx
  docs/running/api.mdx
  docs/running/fastmcp.mdx
  examples/hitchhikers-guide/api_server.py
  examples/hitchhikers-guide/mcp_server.py
  examples/todo/app.py
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/examples.ts
  scripts/generate_schemas.py
  skills/writing-prefab-python/SKILL.md
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/control_flow/__init__.py
  src/prefab_ui/components/control_flow/conditional.py
  src/prefab_ui/components/control_flow/foreach.py
  tests/components/test_foreach.py
  tests/test_conditional.py
  tests/test_contract.py
  tests/test_define_use_state.py
Due: ty, tsc

Add installation guide and versioning policy
  docs/docs.json
  docs/installation.mdx
  docs/welcome.mdx
Due: none

Put uv install command first since it's recommended
  docs/installation.mdx
Due: none

Strengthen active development language in versioning policy
  docs/installation.mdx
Due: none

Add installation guide and versioning policy (#147)
  docs/docs.json
  docs/installation.mdx
  docs/welcome.mdx
Due: none

Add dashboard examples and chart improvements
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/docs.json
  docs/examples/cross-filter.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  renderer/src/ui/chart.tsx
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  schemas/manifest.json
  src/prefab_ui/components/charts/__init__.py
Due: ty, tsc

Fix contract tests: add ScatterChart to schema generator, regenerate fixtures
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  schemas/manifest.json
  scripts/generate_schemas.py
Due: none

Add dashboard examples and chart improvements (#160)
  docs/components/area-chart.mdx
  docs/components/bar-chart.mdx
  docs/components/line-chart.mdx
  docs/components/metric.mdx
  docs/docs.json
  docs/examples/cross-filter.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/area-chart.mdx
  docs/protocol/bar-chart.mdx
  docs/protocol/line-chart.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  renderer/src/ui/chart.tsx
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  scripts/generate_schemas.py
  src/prefab_ui/components/charts/__init__.py
Due: ty, tsc

Add PyPI Clickhouse example
  examples/pypi-downloads/.gitignore
  examples/pypi-downloads/README.md
  examples/pypi-downloads/api_server.py
  examples/pypi-downloads/dashboard.py
  examples/pypi-downloads/data.py
  examples/pypi-downloads/pyproject.toml
  examples/pypi-downloads/query.py
  examples/pypi-downloads/query.sql
Due: none

Ruff format
  examples/pypi-downloads/dashboard.py
  examples/pypi-downloads/data.py
Due: none

Add PyPI Clickhouse example (#161)
  examples/pypi-downloads/.gitignore
  examples/pypi-downloads/README.md
  examples/pypi-downloads/api_server.py
  examples/pypi-downloads/dashboard.py
  examples/pypi-downloads/data.py
  examples/pypi-downloads/pyproject.toml
  examples/pypi-downloads/query.py
  examples/pypi-downloads/query.sql
Due: none

Trim consecutive blank lines in html_renderer.py to fit loq limit
  docs-build/html_renderer.py
Due: none

Rewrite Building UIs → Composing Interfaces and reorganize Getting Started
  docs/building-uis.mdx
  docs/docs.json
  docs/getting-started/composition.mdx
  docs/getting-started/installation.mdx
  docs/getting-started/quickstart.mdx
  renderer/src/playground/examples.json
Due: none

Tighten quickstart around the install-run-iterate loop
  docs/getting-started/quickstart.mdx
Due: none

Remove testing/Simulator and delete testing docs page
  docs/docs.json
  docs/getting-started/quickstart.mdx
  docs/testing.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  skills/writing-prefab-python/SKILL.md
  skills/writing-prefab-python/references/testing.md
  src/prefab_ui/testing.py
  tests/test_simulator.py
Due: ty

Add variant and min to Progress component
  docs/components/progress.mdx
  docs/examples/the-button.mdx
  docs/expressions/pipes.mdx
  docs/getting-started/composition.mdx
  docs/protocol/progress.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/progress.ts
  renderer/src/style-nova.css
  renderer/src/ui/progress.tsx
  schemas/fixtures/components/Progress.json
  src/prefab_ui/components/progress.py
  tests/components/test_progress.py
Due: ty, tsc

Add threshold meter example and reorganize example groups
  docs/docs.json
  docs/examples/threshold-meter.mdx
  renderer/src/playground/examples.json
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
