Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add GridItem for spanning cells in auto-flow Grid layouts
  renderer/src/components/layout.tsx
  renderer/src/components/registry.ts
  renderer/src/schemas/grid_item.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/GridItem.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/grid.py
  tests/components/test_grid.py
Due: ty, tsc

Add GridItem docs and clarify Grid vs Dashboard distinction
  docs/components/dashboard-grid.mdx
  docs/components/grid.mdx
  docs/protocol/grid-item.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Refresh showcase with Metric, Ring, PieChart, Tabs, Accordion, Combobox, DatePicker
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Brighten color palette, refresh showcase, add Ring indicator_class
  docs/assets/showcase.png
  docs/components/ring.mdx
  docs/protocol/ring.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  renderer/src/components/layout.tsx
  renderer/src/components/ring.tsx
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/ring.ts
  renderer/src/style-nova.css
  src/prefab_ui/components/ring.py
Due: ty, tsc

Enhance Prefab framework description in README
  README.md
Due: none

Update welcome and README intro to highlight MCP Apps and dashboards
  README.md
  docs/welcome.mdx
Due: none

Fix Form.from_model dropping callable tool references
  src/prefab_ui/components/form.py
  tests/test_actions.py
  tests/test_form_model.py
Due: ty

Remove dead _get_initial_value and fix Calendar value serialization
  docs-build/render_previews.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/calendar.py
  src/prefab_ui/components/checkbox.py
  src/prefab_ui/components/drop_zone.py
  src/prefab_ui/components/input.py
  src/prefab_ui/components/pages.py
  src/prefab_ui/components/slider.py
  src/prefab_ui/components/switch.py
  src/prefab_ui/components/tabs.py
  src/prefab_ui/components/textarea.py
  tests/components/test_calendar.py
  tests/components/test_drop_zone.py
Due: ty

Collect FormData on form submit and fix Select/RadioGroup state seeding
  renderer/src/auto-name.test.ts
  renderer/src/auto-name.ts
  renderer/src/prop-transforms.ts
  renderer/src/renderer.tsx
Due: tsc

Replace result_key with $result variable on CallTool and Fetch
  docs/actions/call-tool.mdx
  docs/actions/fetch.mdx
  docs/components/slot.mdx
  docs/concepts/actions.mdx
  docs/concepts/state.mdx
  docs/docs.json
  docs/expressions/context.mdx
  docs/protocol/call-tool.mdx
  docs/protocol/fetch.mdx
  docs/protocol/tool-call.mdx
  docs/reactive/result.mdx
  docs/running/api.mdx
  docs/running/fastmcp.mdx
  examples/hitchhikers-guide/api_server.py
  examples/hitchhikers-guide/mcp_server.py
  examples/pypi-downloads/api_server.py
  renderer/src/actions-fetch.test.ts
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/app.tsx
  renderer/src/schemas/actions.ts
  src/prefab_ui/actions/fetch.py
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/form.py
  src/prefab_ui/components/slot.py
  src/prefab_ui/rx/__init__.py
  tests/actions/test_fetch.py
  tests/actions/test_mcp.py
  tests/test_form_model.py
Due: ty, tsc

Add button_type prop and fix Form.from_model() double-fire bug
  renderer/src/prop-transforms.ts
  renderer/src/schemas/button.ts
  src/prefab_ui/components/button.py
  src/prefab_ui/components/form.py
  tests/test_actions.py
  tests/test_form_model.py
Due: ty, tsc

Update button and form docs for button_type and double-fire fix
  docs/components/button.mdx
  docs/components/form.mdx
  docs/protocol/button.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Remove prek from Marvin workflows
  .github/workflows/marvin-comment-on-issue.yml
  .github/workflows/marvin-comment-on-pr.yml
Due: none

Change "best button to press" variant from info to success on welcome.mdx
  docs/welcome.mdx
Due: none

Support resolver-driven unwrapResult on CallTool
  renderer/src/actions.ts
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
Due: ty, tsc

Change welcome button variant to success and add multi-line text
  docs/examples/the-button.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Remove failed whitespace-pre-line experiment from welcome button
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Document callable references and unwrapResult
  docs/actions/call-tool.mdx
  docs/protocol/call-tool.mdx
  docs/reactive/result.mdx
Due: none

Always return ResolvedTool from resolver (no str | union)
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/app.py
  tests/actions/test_mcp.py
  tests/test_actions.py
  tests/test_form_model.py
Due: ty

Resolver-driven unwrapResult for CallTool (#238)
  docs/actions/call-tool.mdx
  docs/protocol/call-tool.mdx
  docs/reactive/result.mdx
  renderer/src/actions.ts
  src/prefab_ui/actions/mcp.py
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  tests/actions/test_mcp.py
  tests/test_actions.py
  tests/test_form_model.py
Due: ty, tsc

Replace Radix Tooltip with pure CSS to fix React error #185 in MCP sandbox
  renderer/src/components/compound.tsx
  renderer/src/style-nova.css
  renderer/src/ui/tooltip.tsx
  src/prefab_ui/renderer/app.html
Due: tsc
