Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Fix vertical carousel viewport sizing
  renderer/src/components/carousel.tsx
Due: tsc

Fix vertical carousel gap, add gutter controls position (#401)
  docs/components/carousel.mdx
  docs/protocol/carousel.mdx
  renderer/src/components/carousel-logic.test.ts
  renderer/src/components/carousel-logic.ts
  renderer/src/components/carousel.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/carousel.ts
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/carousel.py
  src/prefab_ui/renderer/app.html
  tests/components/test_carousel.py
  tools/preview-classes.html
Due: ty, tsc

Add CONTRIBUTING.md, issue templates, and prefab version --copy
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  AGENTS.md
  CONTRIBUTING.md
  src/prefab_ui/cli/cli.py
Due: ty

Add contributing guidelines, issue templates, version --copy (#403)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  AGENTS.md
  CONTRIBUTING.md
  src/prefab_ui/cli/cli.py
Due: ty

Reference CONTRIBUTING.md in CLAUDE.md
  CLAUDE.md
Due: none

Fix Pyodide sandbox on Windows
  .github/workflows/run-tests.yml
  src/prefab_ui/sandbox/_pyodide.py
  src/prefab_ui/sandbox/runner.js
  tests/test_generative.py
  tests/test_sandbox.py
Due: ty

Fix Pyodide sandbox on Windows (#405)
  .github/workflows/run-tests.yml
  src/prefab_ui/sandbox/_pyodide.py
  src/prefab_ui/sandbox/runner.js
  tests/test_generative.py
  tests/test_sandbox.py
Due: ty

Reference CONTRIBUTING.md in CLAUDE.md (#404)
  CLAUDE.md
Due: none

Fix missing period and text selectability on welcome page
  docs/welcome.mdx
Due: none

Add modulo operator to expressions, animate welcome showcase
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/expression.test.ts
  renderer/src/expression.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/renderer/app.html
  src/prefab_ui/rx/__init__.py
  tests/test_rx.py
Due: ty, tsc

Add % to _STRICT_RHS_OPS for correct parenthesization
  src/prefab_ui/rx/__init__.py
  tests/test_rx.py
Due: ty

Add modulo operator, animate welcome showcase (#407)
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/expression.test.ts
  renderer/src/expression.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/renderer/app.html
  src/prefab_ui/rx/__init__.py
  tests/test_rx.py
Due: ty, tsc

Fix DataTable search, sort removal, and row deselect
  docs/components/data-table.mdx
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/components/data-table-logic.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Fix DataTable search, sort removal, and row deselect (#408)
  docs/components/data-table.mdx
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  examples/hitchhikers-guide/dashboard.py
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/components/data-table-logic.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/renderer/app.html
Due: tsc

Move presentation examples to examples/presentation/
  examples/dashboard.py
  examples/growth.py
  examples/peak_vs_target.py
  examples/presentation/cost_breakdown.py
  examples/presentation/fleet_performance.py
  examples/presentation/platform_health.py
  examples/presentation/revenue_trend.py
  examples/top_workspaces.py
Due: none

Fix Pages flash on first navigation, clamp Progress overflow
  renderer/src/components/compound.tsx
  renderer/src/ui/progress.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Fix Pages flash on first navigation, clamp Progress overflow (#410)
  renderer/src/components/compound.tsx
  renderer/src/ui/progress.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add key_bindings, Kbd component, state-controlled Dialog, dismissible
  docs/components/dialog.mdx
  docs/components/kbd.mdx
  docs/docs.json
  docs/protocol/dialog.mdx
  docs/protocol/kbd.mdx
  docs/reference/app.mdx
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  renderer/src/app.tsx
  renderer/src/components/compound.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/kbd.ts
  renderer/src/state-context.tsx
  renderer/src/ui/dialog.tsx
  renderer/src/ui/kbd.tsx
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/dialog.py
  src/prefab_ui/components/kbd.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/shortcuts.py
Due: ty, tsc

Load key bindings from tool results for MCP bridge mode
  renderer/src/app.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Clear stale key bindings when tool result omits them
  renderer/src/app.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add keyboard shortcuts, Kbd component, state-controlled Dialog (#413)
  docs/components/dialog.mdx
  docs/components/kbd.mdx
  docs/docs.json
  docs/protocol/dialog.mdx
  docs/protocol/kbd.mdx
  docs/reference/app.mdx
  docs/snippets/gen/welcome/code_h2g2_dashboard.mdx
  docs/welcome.mdx
  renderer/src/app.tsx
  renderer/src/components/compound.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/kbd.ts
  renderer/src/state-context.tsx
  renderer/src/ui/dialog.tsx
  renderer/src/ui/kbd.tsx
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/dialog.py
  src/prefab_ui/components/kbd.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/shortcuts.py
Due: ty, tsc

Expand docs examples and fix broken previews
  docs/docs.json
  docs/examples/actions.mdx
  docs/examples/conditional.mdx
  docs/examples/cross-filter.mdx
  docs/examples/deploy-pipeline.mdx
  docs/examples/dynamic-list.mdx
  docs/examples/expense-tracker.mdx
  docs/examples/file-upload.mdx
  docs/examples/reactive-binding.mdx
  docs/examples/server-dashboard.mdx
  docs/examples/the-button.mdx
  docs/examples/todo.mdx
  renderer/src/playground/examples.json
  tools/preview-classes.html
Due: none

Unify presentation slide heights and add example READMEs
  examples/mini/README.md
  examples/presentation/README.md
  examples/presentation/cost_overview.py
  examples/presentation/fleet_performance.py
  examples/presentation/slideshow.py
Due: none

Fix slider collapse in docs previews
  docs/concepts/custom-handlers.mdx
  renderer/src/embed.tsx
  renderer/src/playground/examples.json
Due: tsc

Auto-sync built assets into Mintlify dev server cache
  src/prefab_ui/cli/build_helpers.py
  src/prefab_ui/cli/cli.py
Due: ty

Gate Mintlify cache sync on cache belonging to this project
  src/prefab_ui/cli/build_helpers.py
Due: ty

Fix docs preview slider collapse, auto-sync Mintlify cache (#415)
  docs/concepts/custom-handlers.mdx
  renderer/src/embed.tsx
  renderer/src/playground/examples.json
  src/prefab_ui/cli/build_helpers.py
  src/prefab_ui/cli/cli.py
Due: ty, tsc

Guard playground localStorage access, extract ExamplePicker
  renderer/src/playground/example-picker.tsx
  renderer/src/playground/playground.tsx
Due: tsc

Make playground code panel collapsible and resizable
  renderer/src/playground/playground.tsx
Due: tsc

Keep errors visible when collapsed, drag via pointer capture
  renderer/src/playground/playground.tsx
Due: tsc

Make playground code panel collapsible and resizable (#416)
  renderer/src/playground/example-picker.tsx
  renderer/src/playground/playground.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Stop fighting app.html merge conflicts
  .gitattributes
  CONTRIBUTING.md
Due: none

Install merge.ours driver automatically via prek
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Stop fighting app.html merge conflicts (#417)
  .gitattributes
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Note generate-notes API in release workflow docs
  CLAUDE.md
Due: none

Note generate-notes API in release workflow docs (#418)
  CLAUDE.md
Due: none

Add defaults kwarg to Form.from_model for runtime prefill
  docs/components/form.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  skills/prefab-ui/references/forms.md
  src/prefab_ui/components/form.py
  tests/test_form_model.py
  tools/render_previews.py
Due: ty
