Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Expand column docs: separate width, alignment, styling, and pattern sections
  docs/components/data-table.mdx
Due: none

DataTable: accept pandas/polars DataFrame as rows
  docs/components/data-table.mdx
  pyproject.toml
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
  uv.lock
Due: ty

Computed state: named derived values from expressions (#285)
  docs-build/render_previews.py
  docs/concepts/state.mdx
  renderer/src/computed.test.ts
  renderer/src/computed.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/state.ts
  renderer/src/testing/state-store.ts
  src/prefab_ui/app.py
  src/prefab_ui/rx/__init__.py
  tests/rx/__init__.py
  tests/rx/test_computed.py
Due: ty, tsc

Improve row selection and row click doc examples
  docs/components/data-table.mdx
Due: none

DataTable: row selection checkboxes and on_row_click
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/prop-transforms.ts
  renderer/src/schemas/data_table.ts
  schemas/fixtures/components/DataTable.json
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Remove selectable checkboxes (needs TableState for usefulness)
  docs/components/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/schemas/data_table.ts
  schemas/fixtures/components/DataTable.json
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Watch component for reacting to state changes (#286)
  docs/components/watch.mdx
  docs/concepts/actions.mdx
  docs/concepts/state.mdx
  docs/docs.json
  docs/protocol/watch.mdx
  renderer/src/components/registry.ts
  renderer/src/components/watch.tsx
  renderer/src/playground/bundle.json
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/watch.ts
  schemas/fixtures/components/Watch.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/watch.py
  tests/components/test_watch.py
Due: ty, tsc

DataTable: on_row_click (#295)
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/components/data-display.tsx
  renderer/src/prop-transforms.ts
  renderer/src/schemas/data_table.ts
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
Due: ty, tsc

Remove Watch component
  docs/components/watch.mdx
  docs/concepts/actions.mdx
  docs/concepts/state.mdx
  docs/docs.json
  docs/protocol/watch.mdx
  renderer/src/components/registry.ts
  renderer/src/components/watch.tsx
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/watch.ts
  schemas/fixtures/components/Watch.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/watch.py
  tests/components/test_watch.py
Due: ty, tsc

DataTable sprint: search, column widths/alignment/styling, cell formatting, row click, DataFrame support
  docs/components/data-table.mdx
  docs/examples/sales-dashboard.mdx
  docs/protocol/data-table-column.mdx
  docs/protocol/data-table.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  pyproject.toml
  renderer/src/components/data-display.tsx
  renderer/src/demo-data.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/data_table.ts
  schemas/fixtures/components/DataTable.json
  src/prefab_ui/components/data_table.py
  tests/components/test_table.py
  uv.lock
Due: ty, tsc

Remove Computed state
  docs/concepts/expression-reference.mdx
  docs/concepts/state.mdx
  docs/expressions/context.mdx
  renderer/src/computed.test.ts
  renderer/src/computed.ts
  renderer/src/state.ts
  renderer/src/testing/state-store.ts
  src/prefab_ui/app.py
  src/prefab_ui/rx/__init__.py
  tests/rx/test_computed.py
Due: ty, tsc

Allow reactive expressions in variant fields (Literal | RxStr)
  renderer/src/schemas/alert.ts
  renderer/src/schemas/badge.ts
  renderer/src/schemas/button.ts
  renderer/src/schemas/chart.ts
  renderer/src/schemas/loader.ts
  renderer/src/schemas/progress.ts
  renderer/src/schemas/ring.ts
  renderer/src/schemas/slider.ts
  renderer/src/schemas/tabs.ts
  src/prefab_ui/components/alert.py
  src/prefab_ui/components/badge.py
  src/prefab_ui/components/button.py
  src/prefab_ui/components/charts/__init__.py
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/ring.py
  src/prefab_ui/components/slider.py
  src/prefab_ui/components/tabs.py
Due: ty, tsc

Document npm ci requirement for renderer dev setup
  dev-docs/renderer-build-release.md
Due: none

Add Dot component, Progress/Ring target markers, compact number pipe
  .claude/projects/-Users-jlowin-Developer-prefab/memory/project_budget_allocator_todos.md
  docs/components/dot.mdx
  docs/components/progress.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/docs.json
  docs/protocol/dot.mdx
  docs/protocol/progress.mdx
  docs/protocol/ring.mdx
  renderer/src/components/registry.ts
  renderer/src/components/ring.tsx
  renderer/src/expression.test.ts
  renderer/src/expression.ts
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/prop-transforms.ts
  renderer/src/schemas/dot.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/progress.ts
  renderer/src/schemas/ring.ts
  renderer/src/style-nova-indicators.css
  renderer/src/style-nova.css
  renderer/src/ui/dot.tsx
  renderer/src/ui/progress.tsx
  schemas/fixtures/components/Dot.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/dot.py
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/ring.py
  src/prefab_ui/rx/__init__.py
  tests/test_rx.py
Due: ty, tsc

Fix Progress target marker, vertical orientation, and min/max defaults
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/concepts/composition.mdx
  docs/concepts/expression-reference.mdx
  docs/concepts/expressions.mdx
  docs/examples/the-button.mdx
  docs/examples/threshold-meter.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/protocol/progress.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style-nova-indicators.css
  renderer/src/style-nova.css
  renderer/src/ui/progress.tsx
  schemas/fixtures/components/Progress.json
  src/prefab_ui/components/progress.py
  tests/components/test_progress.py
Due: ty, tsc

Ring target docs, dot rounded shape fix, dot icon
  docs/components/dot.mdx
  docs/components/ring.mdx
  renderer/src/playground/examples.json
  renderer/src/style-nova-indicators.css
Due: none

Resolve min Python-side for Progress and Ring
  docs/components/progress.mdx
  docs/components/ring.mdx
  docs/protocol/progress.mdx
  docs/protocol/ring.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/prop-transforms.ts
  renderer/src/schemas/progress.ts
  renderer/src/schemas/ring.ts
  schemas/fixtures/components/Ring.json
  src/prefab_ui/components/progress.py
  src/prefab_ui/components/ring.py
  tests/components/test_progress.py
  tests/components/test_ring.py
Due: ty, tsc

Redesign theming: class hierarchy, accent types, playground PrefabApp support
  docs-build/generate_playground_bundle.py
  docs/playground.mdx
  docs/serve.mdx
  docs/styling/theming.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/playground.tsx
  renderer/src/playground/pyodide.ts
  renderer/src/playground/theme-picker.tsx
  renderer/src/themes.ts
  src/prefab_ui/__init__.py
  src/prefab_ui/cli/cli.py
  src/prefab_ui/themes.py
  src/prefab_ui/themes/__init__.py
  src/prefab_ui/themes/base.py
  src/prefab_ui/themes/basic.py
  src/prefab_ui/themes/presentation.py
  tests/test_themes.py
Due: ty, tsc

Add font and font_mono fields to Theme
  renderer/src/playground/bundle.json
  renderer/src/themes.ts
  src/prefab_ui/themes/base.py
  src/prefab_ui/themes/basic.py
Due: ty, tsc

Add theming architecture dev-docs
  dev-docs/theming-architecture.md
Due: none

Add custom JavaScript handlers for pipes and actions
  docs/concepts/custom-handlers.mdx
  docs/docs.json
  examples/peak_vs_target.py
  renderer/src/actions.ts
  renderer/src/app.tsx
  renderer/src/custom-handlers.test.ts
  renderer/src/custom-handlers.ts
  renderer/src/expression.ts
  renderer/src/schemas/actions.ts
  schemas/fixtures/actions/callHandler.json
  schemas/manifest.json
  scripts/generate_schemas.py
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/actions/custom.py
  src/prefab_ui/app.py
  tests/actions/test_custom.py
Due: ty, tsc

Document CallHandler in actions reference
  docs/concepts/actions.mdx
Due: none

Add CallHandler action reference page
  docs/actions/call-handler.mdx
  docs/docs.json
Due: none

Add linked sliders example, fix handler ctx.event shape
  docs/concepts/custom-handlers.mdx
  docs/protocol/call-handler.mdx
  examples/linked_sliders.py
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Fix linked_sliders example: pass view to PrefabApp, add CallHandler to contract test
  examples/linked_sliders.py
  tests/test_contract.py
Due: ty

Fix linked sliders: proportional redistribution, 5 categories, 0.01% step
  examples/linked_sliders.py
  src/prefab_ui/renderer/app.html
Due: none
