Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, typescript, css]
        exclude: ^renderer/src/ui/  # generated shadcn components

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: bash -c 'uv run loq || printf "\nloq violations not enforced... yet!\n"'
        language: system
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

Escape {{ }} template syntax in Protocol Reference descriptions
  docs/_preview-build/generate_protocol_ref.py
  docs/apps/actions/call-tool.mdx
  docs/apps/actions/set-state.mdx
  docs/apps/components/alert.mdx
  docs/apps/components/badge.mdx
  docs/apps/components/button.mdx
  docs/apps/components/checkbox.mdx
  docs/apps/components/code.mdx
  docs/apps/components/data-table.mdx
  docs/apps/components/image.mdx
  docs/apps/components/input.mdx
  docs/apps/components/label.mdx
  docs/apps/components/layout.mdx
  docs/apps/components/markdown.mdx
  docs/apps/components/progress.mdx
  docs/apps/components/select.mdx
  docs/apps/components/slider.mdx
  docs/apps/components/switch.mdx
  docs/apps/components/textarea.mdx
  docs/apps/components/typography.mdx
Due: none

Reposition as the agentic frontend framework
  README.md
  docs/apps/overview.mdx
  docs/welcome.mdx
  pyproject.toml
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.ts
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
Due: ty, tsc

Fix acorn parse error in ComponentPreview snippet
  docs/snippets/component-preview.mdx
Due: none

Add prefab CLI with playground command
  pyproject.toml
  src/prefab_ui/__init__.py
  src/prefab_ui/cli/__init__.py
  src/prefab_ui/cli/__main__.py
  src/prefab_ui/cli/cli.py
  uv.lock
Due: ty

Reposition as the agentic frontend framework (#10)
  README.md
  docs/apps/overview.mdx
  docs/welcome.mdx
  pyproject.toml
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.ts
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
Due: ty, tsc

Document playground features and CLI usage
  docs/apps/playground.mdx
Due: none

Remove bottom margin from CodeGroup inside preview card
  docs/snippets/component-preview.mdx
Due: none

Fix acorn parse error in ComponentPreview snippet (#9)
  docs/snippets/component-preview.mdx
Due: none

Add prefab CLI with playground command (#11)
  docs/apps/playground.mdx
  pyproject.toml
  src/prefab_ui/__init__.py
  src/prefab_ui/cli/__init__.py
  src/prefab_ui/cli/__main__.py
  src/prefab_ui/cli/cli.py
  uv.lock
Due: ty

Add Define, Use, and State for reusable component templates
  renderer/src/app.tsx
  renderer/src/components/control-flow.tsx
  renderer/src/components/registry.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/state.ts
  schemas/fixtures/components/State.json
  schemas/manifest.json
  src/prefab_ui/__init__.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/state.py
  src/prefab_ui/define.py
  src/prefab_ui/response.py
  src/prefab_ui/use.py
  tests/test_define_use_state.py
Due: ty, tsc

Improve Accordion defaults and docs
  docs/apps/components/accordion.mdx
  renderer/src/ui/accordion.tsx
  src/prefab_ui/components/accordion.py
Due: ty, tsc

Add docs for State component and reusable components pattern
  docs/apps/components/state.mdx
  docs/apps/patterns/reusable-components.mdx
  docs/docs.json
Due: none

Polish accordion styling and add open_item example section
  docs/apps/components/accordion.mdx
  renderer/src/ui/accordion.tsx
Due: tsc

Rename Accordion API: multiple flag and default_open_items
  docs/apps/components/accordion.mdx
  src/prefab_ui/components/accordion.py
Due: ty

Add named value example to Default Open section
  docs/apps/components/accordion.mdx
Due: none

Replace Protocol Reference cards with inline JSON schema
  docs/apps/components/accordion.mdx
Due: none

Use $ prefix for internal scope keys, always emit state in Use wrapper
  docs/apps/components/state.mdx
  renderer/src/renderer.tsx
  src/prefab_ui/use.py
  tests/test_define_use_state.py
Due: ty, tsc

Simplify Accordion wire format: multiple bool, defaultValues array
  docs/apps/components/accordion.mdx
  renderer/src/components/compound.tsx
  renderer/src/demo-data.ts
  renderer/src/playground/bundle.json
  renderer/src/schemas/accordion.ts
  schemas/fixtures/components/Accordion.json
  src/prefab_ui/components/accordion.py
  tests/test_components.py
Due: ty, tsc

Add Define, Use, and State for reusable component templates (#12)
  docs/apps/components/state.mdx
  docs/apps/patterns/reusable-components.mdx
  docs/docs.json
  renderer/src/app.tsx
  renderer/src/components/control-flow.tsx
  renderer/src/components/registry.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/state.ts
  schemas/fixtures/components/State.json
  schemas/manifest.json
  src/prefab_ui/__init__.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/state.py
  src/prefab_ui/define.py
  src/prefab_ui/response.py
  src/prefab_ui/use.py
  tests/test_define_use_state.py
Due: ty, tsc

Add component docs writing guide and fix heading
  docs/apps/components/accordion.mdx
  docs/development/writing-component-docs.md
Due: none

Add development guide to docs navigation
  docs/development/writing-component-docs.mdx
  docs/docs.json
Due: none

Improve Accordion component: API, styling, and docs (#13)
  docs/apps/components/accordion.mdx
  docs/development/writing-component-docs.mdx
  docs/docs.json
  renderer/src/components/compound.tsx
  renderer/src/demo-data.ts
  renderer/src/playground/bundle.json
  renderer/src/schemas/accordion.ts
  renderer/src/ui/accordion.tsx
  schemas/fixtures/components/Accordion.json
  src/prefab_ui/components/accordion.py
  tests/test_components.py
Due: ty, tsc

Update badge component docs with Basic Usage section and inline JSON schema
  docs/apps/components/badge.mdx
Due: none

Add data interpolation section to accordion docs
  docs/apps/components/accordion.mdx
Due: none

Update button component docs with Basic Usage section and inline JSON schema
  docs/apps/components/button.mdx
Due: none

Update alert component docs with Basic Usage section and inline JSON schema
  docs/apps/components/alert.mdx
Due: none

Update input component docs with Basic Usage section and inline JSON schema
  docs/apps/components/input.mdx
Due: none

Update checkbox component docs with Basic Usage section and inline JSON schema
  docs/apps/components/checkbox.mdx
Due: none

Update button-group component docs with Basic Usage section and inline JSON schema
  docs/apps/components/button-group.mdx
Due: none

Update card component docs with Basic Usage section and inline JSON schema
  docs/apps/components/card.mdx
Due: none

Update calendar component docs with Basic Usage section and inline JSON schema
  docs/apps/components/calendar.mdx
Due: none

Update data-table component docs with Basic Usage section and inline JSON schema
  docs/apps/components/data-table.mdx
Due: none

Update code component docs with Basic Usage section and inline JSON schema
  docs/apps/components/code.mdx
Due: none

Update date-picker component docs with Basic Usage section and inline JSON schema
  docs/apps/components/date-picker.mdx
Due: none

Update dialog component docs with Basic Usage section and inline JSON schema
  docs/apps/components/dialog.mdx
Due: none

Update foreach component docs with Basic Usage section and inline JSON schema
  docs/apps/components/foreach.mdx
Due: none

Update image component docs with Basic Usage section and inline JSON schema
  docs/apps/components/image.mdx
Due: none

Update label component docs with Basic Usage section and inline JSON schema
  docs/apps/components/label.mdx
Due: none

Update markdown component docs with Basic Usage section and inline JSON schema
  docs/apps/components/markdown.mdx
Due: none
