Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, ts, css]
        exclude: ^(renderer/src/ui/|docs/(embed|renderer)\.js|docs/_renderer/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: uv run loq
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(docs/(embed|renderer|playground)\.js|docs/_renderer/.*|src/prefab_ui/renderer/app\.html)$
        additional_dependencies:
          - tomli

Add defaults kwarg to Form.from_model for runtime prefill (#421)
  docs/components/form.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  skills/prefab-ui/references/forms.md
  src/prefab_ui/components/form.py
  src/prefab_ui/renderer/app.html
  tests/test_form_model.py
  tools/render_previews.py
Due: ty

Fix ty 0.0.32 error in PyodideSandbox stderr handling
  src/prefab_ui/sandbox/_pyodide.py
Due: ty

Update uv.lock with upgraded dependencies
  uv.lock
Due: none

Fix ty 0.0.32 upgrade failure in PyodideSandbox (#429)
  src/prefab_ui/sandbox/_pyodide.py
  uv.lock
Due: ty

Add PrefabApp.css field; emit stylesheets + css over the wire; compile themes to CSS
  docs/styling/themes.mdx
  renderer/src/app.tsx
  renderer/src/embed.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  renderer/src/pyodide/executor.ts
  renderer/src/themes.ts
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/themes/base.py
  tests/test_app.py
  tests/test_themes.py
Due: ty, tsc

Remove unused theme imports after backward-compat removal
  renderer/src/app.tsx
  renderer/src/embed.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

fix(skills): package skills in build
  pyproject.toml
  src/prefab_ui/generative.py
Due: ty

fix(renderer): right-align sortable column headers
  renderer/src/components/data-display.tsx
  renderer/src/components/data-table-logic.test.ts
  renderer/src/components/data-table-logic.ts
Due: tsc

Fix result callback interpolation
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Export MCP actions
  src/prefab_ui/actions/__init__.py
  tests/actions/test_mcp.py
Due: ty

Preserve event in action callbacks
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  src/prefab_ui/renderer/app.html
Due: tsc

Regenerate renderer bundle
  src/prefab_ui/renderer/app.html
Due: none

Tighten style wire format
  dev-docs/generative-ui-architecture.md
  dev-docs/theming-architecture.md
  docs/reference/app.mdx
  renderer/src/app.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  renderer/src/pyodide/executor.ts
  renderer/src/shared-app-utils.ts
  renderer/src/style-assets.ts
  skills/prefab-ui/SKILL.md
  src/prefab_ui/app.py
  tests/test_app.py
  tests/test_themes.py
Due: ty, tsc

Fix result callback interpolation (#447)
  docs/protocol/call-tool.mdx
  docs/protocol/request-display-mode.mdx
  renderer/src/actions.test.ts
  renderer/src/actions.ts
  renderer/src/playground/bundle.json
  src/prefab_ui/actions/__init__.py
  src/prefab_ui/renderer/app.html
  tests/actions/test_mcp.py
Due: ty, tsc

Address style review comments
  src/prefab_ui/app.py
  tests/test_themes.py
Due: ty

Compile dict themes in HTML output
  src/prefab_ui/app.py
  tests/test_themes.py
Due: ty

Preserve legacy theme wire input
  src/prefab_ui/app.py
  tests/test_app.py
Due: ty

Regenerate artifacts after main merge
  renderer/src/playground/bundle.json
  src/prefab_ui/renderer/app.html
Due: none

Address theme preview review
  docs/styling/themes.mdx
  renderer/src/playground/bundle.json
  src/prefab_ui/app.py
  tests/test_app.py
  tests/test_render_previews.py
  tools/render_previews.py
Due: ty

Fix preview test import
  tests/test_render_previews.py
  tools/render_previews.py
Due: ty

Address preview stylesheet review
  renderer/src/embed.tsx
  renderer/src/playground/bundle.json
  src/prefab_ui/app.py
  tests/test_app.py
Due: ty, tsc

Add dependency cooldowns
  pyproject.toml
  renderer/.npmrc
  uv.lock
Due: none

Apply preview wire mode
  renderer/src/embed.tsx
Due: tsc

Refine preview wire assets
  renderer/src/embed.tsx
Due: tsc

Clarify theme HTML output
  src/prefab_ui/app.py
Due: ty

Use npm before cutoff in workflows
  .github/workflows/publish-renderer.yml
  .github/workflows/regenerate-docs.yml
  .github/workflows/run-renderer-tests.yml
  .github/workflows/run-static.yml
  .github/workflows/run-upgrade-checks.yml
  renderer/.npmrc
Due: none

Handle legacy preview theme assets
  renderer/src/pyodide/executor.test.ts
  renderer/src/pyodide/executor.ts
  renderer/src/style-assets.test.ts
  renderer/src/style-assets.ts
Due: tsc

Check npm lockfile package age
  .github/scripts/check-npm-package-age.mjs
  .github/workflows/publish-renderer.yml
  .github/workflows/regenerate-docs.yml
  .github/workflows/run-renderer-tests.yml
  .github/workflows/run-static.yml
  .github/workflows/run-upgrade-checks.yml
Due: none

Clarify Pyodide wire forwarding
  renderer/src/pyodide/executor.ts
Due: tsc

Format npm age check script
  .github/scripts/check-npm-package-age.mjs
Due: none

Preserve forced renderer mode
  renderer/src/app.tsx
  renderer/src/style-assets.test.ts
  renderer/src/style-assets.ts
Due: tsc

Add dependency cooldowns (#450)
  .github/scripts/check-npm-package-age.mjs
  .github/workflows/publish-renderer.yml
  .github/workflows/regenerate-docs.yml
  .github/workflows/run-renderer-tests.yml
  .github/workflows/run-static.yml
  .github/workflows/run-upgrade-checks.yml
  pyproject.toml
  uv.lock
Due: none

Include css and stylesheets in the wire format (#431)
  dev-docs/generative-ui-architecture.md
  dev-docs/theming-architecture.md
  docs/reference/app.mdx
  docs/styling/themes.mdx
  renderer/src/app.tsx
  renderer/src/embed.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/playground.tsx
  renderer/src/pyodide/executor.test.ts
  renderer/src/pyodide/executor.ts
  renderer/src/shared-app-utils.ts
  renderer/src/style-assets.test.ts
  renderer/src/style-assets.ts
  renderer/src/themes.ts
  skills/prefab-ui/SKILL.md
  src/prefab_ui/app.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/themes/base.py
  tests/test_app.py
  tests/test_render_previews.py
  tests/test_themes.py
  tools/render_previews.py
Due: ty, tsc

Clarify DataTable row click docs
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/data_table.py
  src/prefab_ui/renderer/app.html
Due: ty

Support latest ty
  pyproject.toml
  src/prefab_ui/app.py
  src/prefab_ui/components/form.py
  src/prefab_ui/shortcuts.py
  tests/test_sandbox.py
  uv.lock
Due: ty

Clarify DataTable row click docs
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/data_table.py
Due: ty

Clarify DataTable row click docs (#453)
  docs/components/data-table.mdx
  docs/protocol/data-table.mdx
  renderer/src/playground/bundle.json
  skills/prefab-ui/SKILL.md
  src/prefab_ui/components/data_table.py
  src/prefab_ui/renderer/app.html
Due: ty

Keep component kwargs snake case
  src/prefab_ui/app.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/form.py
  src/prefab_ui/components/input.py
  src/prefab_ui/components/textarea.py
  src/prefab_ui/shortcuts.py
  tests/test_contract.py
Due: ty
