Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5, javascript, tsx, typescript, css]
        exclude: ^renderer/src/ui/  # generated shadcn components

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run --isolated ty check
        language: system
        types: [python]
        files: ^src/|^tests/
        pass_filenames: false
        require_serial: true

      - id: tsc
        name: tsc (renderer type check)
        entry: bash -c 'cd renderer && npx tsc --noEmit'
        language: system
        files: ^renderer/.*\.(ts|tsx)$
        pass_filenames: false
        require_serial: true

      - id: loq
        name: loq (file size limits)
        entry: bash -c 'uv run loq || printf "\nloq violations not enforced... yet!\n"'
        language: system
        pass_filenames: false
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: prevent commits to main
        args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

Snazzy syntax themes, 4-space Python tabs, no line wrapping
  docs/playground-app.js
  renderer/src/playground/editor.tsx
Due: tsc

Replace playground editor with CodeMirror 6 (#71)
  docs/playground-app.js
  docs/renderer.js
  renderer/package-lock.json
  renderer/package.json
  renderer/src/playground/editor.tsx
Due: tsc

Add PrefabApp class with for_mcp() delivery method
  src/prefab_ui/__init__.py
  src/prefab_ui/app.py
  src/prefab_ui/response.py
  tests/test_app.py
Due: ty

Update tagline to "even a human can use"
  README.md
  docs/docs.json
  docs/overview.mdx
  docs/welcome.mdx
  pyproject.toml
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
Due: ty, tsc

Update tagline to "even a human can use" (#79)
  README.md
  docs/docs.json
  docs/overview.mdx
  docs/welcome.mdx
  pyproject.toml
  renderer/src/playground/playground.tsx
  src/prefab_ui/__init__.py
Due: ty, tsc

Remove UIResponse, migrate all references to PrefabApp
  src/prefab_ui/__init__.py
  src/prefab_ui/define.py
  src/prefab_ui/response.py
  tests/test_define_use_state.py
  tests/test_response.py
  tests/test_simulator.py
Due: ty

Redesign PrefabApp as pure data object with html() and csp()
  examples/todo/app.py
Due: none

Redesign PrefabApp as pure data object with html() and csp()
  renderer/src/app.tsx
  src/prefab_ui/app.py
  src/prefab_ui/cli/cli.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  tests/test_app.py
Due: ty, tsc

Fix Grid auto-fit and bump todo min column width
  docs/examples/todo.mdx
  examples/todo/app.py
  renderer/src/components/layout.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add local preview docs for prefab serve and PrefabApp
  docs/docs.json
  docs/serve.mdx
Due: none

Redesign PrefabApp as pure data object (#78)
  docs/docs.json
  docs/examples/todo.mdx
  docs/renderer.js
  docs/serve.mdx
  examples/todo/app.py
  renderer/src/app.tsx
  renderer/src/components/layout.tsx
  src/prefab_ui/__init__.py
  src/prefab_ui/app.py
  src/prefab_ui/cli/cli.py
  src/prefab_ui/define.py
  src/prefab_ui/renderer/__init__.py
  src/prefab_ui/renderer/app.html
  src/prefab_ui/response.py
  tests/test_app.py
  tests/test_define_use_state.py
  tests/test_response.py
  tests/test_simulator.py
Due: ty, tsc

Fix early tool-result delivery in MCP Apps hosts
  docs/examples/todo.mdx
  renderer/src/app.tsx
  renderer/src/early-bridge.ts
  renderer/src/main.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Fix early tool-result delivery in MCP Apps hosts (#80)
  docs/examples/todo.mdx
  renderer/src/app.tsx
  renderer/src/early-bridge.ts
  renderer/src/main.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add py.typed marker, README, and project URLs for PyPI
  pyproject.toml
  src/prefab_ui/py.typed
Due: none

Add kitchen sink showcase to welcome page and fix renderer overflow bugs
  README.md
  docs/_preview-build/render_previews.py
  docs/playground-app.js
  docs/renderer.js
  docs/snippets/component-preview.mdx
  docs/welcome.mdx
  renderer/src/components/charts.tsx
  renderer/src/components/data-display.tsx
  renderer/src/components/layout.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style-nova.css
  renderer/src/ui/chart.tsx
Due: tsc

Add doc asset images
  docs/assets/hello-world-card.png
  docs/assets/showcase.png
Due: none

Generate CodeGroup in build script, simplify ComponentPreview
  docs/_preview-build/render_previews.py
Due: none

WIP
  docs/components/button.mdx
Due: none

Update README copy to match welcome page
  README.md
Due: none

Clarify that showcase code is from the doc build process
  docs/welcome.mdx
Due: none

Break long lines in welcome showcase code block
  docs/playground-app.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Remove interactive docs link from README
  README.md
Due: none

Add set_initial_state as a real public API
  docs/_preview-build/render_previews.py
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  tests/test_app.py
Due: ty

Add set_initial_state as a real public API (#84)
  docs/_preview-build/render_previews.py
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  tests/test_app.py
Due: ty

Fix npm publish tag for prerelease versions
  .github/workflows/publish-renderer.yml
Due: none

Add contents: read permission for PyPI publish checkout
  .github/workflows/publish.yml
Due: none

Derive npm version from git tag
  .github/workflows/publish-renderer.yml
Due: none

Use next/latest dist-tags, not alpha/beta/rc
  .github/workflows/publish-renderer.yml
Due: none

Publish npm as plain semver (strip PEP 440 suffix), tag latest
  .github/workflows/publish-renderer.yml
Due: none

Fix npm publish tag for prerelease versions (#85)
  .github/workflows/publish-renderer.yml
  .github/workflows/publish.yml
Due: none

Pass NODE_AUTH_TOKEN to npm publish step
  .github/workflows/publish-renderer.yml
Due: none

Fix relative image URLs for PyPI; add npm package README
  README.md
  renderer/README.md
Due: none

Simplify npm README
  renderer/README.md
Due: none

Add style prop to Div and Span
  docs/components/div-span.mdx
  docs/protocol/div.mdx
  docs/protocol/span.mdx
  renderer/src/components/layout.tsx
  renderer/src/schemas/div.ts
  src/prefab_ui/components/div.py
  tests/test_components.py
Due: ty, tsc

Move set_initial_state to prefab_ui.app
  docs/_preview-build/render_previews.py
  docs/actions/set-state.mdx
  docs/components/calendar.mdx
  docs/components/conditional.mdx
  docs/components/date-picker.mdx
  docs/components/foreach.mdx
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/components/slot.mdx
  docs/examples/todo.mdx
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/expressions/templates.mdx
  docs/playground-app.js
  docs/renderer.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  tests/test_app.py
Due: ty

Add style prop to Div/Span; move set_initial_state to prefab_ui.app (#92)
  .github/workflows/publish-renderer.yml
  README.md
  docs/_preview-build/render_previews.py
  docs/actions/set-state.mdx
  docs/components/calendar.mdx
  docs/components/conditional.mdx
  docs/components/date-picker.mdx
  docs/components/div-span.mdx
  docs/components/foreach.mdx
  docs/components/progress.mdx
  docs/components/slider.mdx
  docs/components/slot.mdx
  docs/examples/todo.mdx
  docs/expressions/context.mdx
  docs/expressions/operators.mdx
  docs/expressions/overview.mdx
  docs/expressions/pipes.mdx
  docs/expressions/templates.mdx
  docs/playground-app.js
  docs/protocol/div.mdx
  docs/protocol/span.mdx
  docs/renderer.js
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/README.md
  renderer/src/components/layout.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/div.ts
  src/prefab_ui/app.py
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/base.py
  src/prefab_ui/components/div.py
  tests/test_app.py
  tests/test_components.py
Due: ty, tsc
