Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Migrate renderer from Radix UI to Base UI
  docs/components/calendar.mdx
  docs/components/checkbox.mdx
  docs/components/drop-zone.mdx
  docs/components/field.mdx
  docs/components/radio.mdx
  docs/examples/todo.mdx
  renderer/package-lock.json
  renderer/package.json
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  renderer/src/components/compound.tsx
  renderer/src/index.css
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/playground/playground.tsx
  renderer/src/playground/theme-picker.tsx
  renderer/src/renderer.tsx
  renderer/src/style-nova.css
  renderer/src/ui/accordion.tsx
  renderer/src/ui/badge.tsx
  renderer/src/ui/button.tsx
  renderer/src/ui/checkbox.tsx
  renderer/src/ui/dialog.tsx
  renderer/src/ui/hover-card.tsx
  renderer/src/ui/label.tsx
  renderer/src/ui/popover.tsx
  renderer/src/ui/progress.tsx
  renderer/src/ui/radio-group.tsx
  renderer/src/ui/select.tsx
  renderer/src/ui/separator.tsx
  renderer/src/ui/slider.tsx
  renderer/src/ui/switch.tsx
  renderer/src/ui/tabs.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Migrate tooltip to Base UI, fix Select click-outside-to-close
  renderer/src/style-nova.css
  renderer/src/ui/select.tsx
  renderer/src/ui/tooltip.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Fix DatePicker and Combobox trigger widths
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Revert trigger widths to w-full for form alignment
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/compound-calendar.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Make Select trigger w-full, use w-fit in standalone doc examples
  docs/components/combobox.mdx
  docs/components/date-picker.mdx
  docs/components/select.mdx
  renderer/src/playground/examples.json
  renderer/src/ui/select.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add w-fit mx-auto to standalone doc examples for Select, Combobox, DatePicker
  docs/components/combobox.mdx
  docs/components/date-picker.mdx
  docs/components/select.mdx
  renderer/src/playground/examples.json
Due: none

Replace accordion hover:underline with hover:bg-muted
  renderer/src/style-nova.css
  src/prefab_ui/renderer/app.html
Due: none

Select: default below trigger, alignment props, option groups
  docs/components/select.mdx
  docs/protocol/select-group.mdx
  docs/protocol/select-label.mdx
  docs/protocol/select.mdx
  renderer/src/components/form.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/prop-transforms.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/select.ts
  renderer/src/ui/select.tsx
  schemas/fixtures/components/SelectGroup.json
  schemas/fixtures/components/SelectLabel.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/select.py
  src/prefab_ui/renderer/app.html
  tests/components/test_select.py
Due: ty, tsc

Fix combobox search input not accepting keyboard input
  renderer/src/components/combobox-wrapper.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Add SelectSeparator, standalone SelectLabel, and invalid prop to Select
  docs/actions/update-context.mdx
  docs/components/conditional.mdx
  docs/components/pages.mdx
  docs/components/select.mdx
  docs/concepts/composition.mdx
  docs/docs.json
  docs/examples/cross-filter.mdx
  docs/protocol/select-separator.mdx
  docs/protocol/select.mdx
  renderer/src/components/form.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/select.ts
  renderer/src/ui/select.tsx
  schemas/fixtures/components/Select.json
  schemas/fixtures/components/SelectSeparator.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/select.py
  src/prefab_ui/renderer/app.html
  tests/components/test_select.py
Due: ty, tsc

Rewrite Combobox on Base UI primitive, add groups/labels/separators
  docs/components/combobox.mdx
  docs/docs.json
  docs/protocol/combobox-group.mdx
  docs/protocol/combobox-label.mdx
  docs/protocol/combobox-separator.mdx
  docs/protocol/combobox.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/prop-transforms.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/combobox.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Combobox.json
  schemas/fixtures/components/ComboboxGroup.json
  schemas/fixtures/components/ComboboxLabel.json
  schemas/fixtures/components/ComboboxSeparator.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/combobox.py
  src/prefab_ui/renderer/app.html
  tests/components/test_combobox.py
Due: ty, tsc

Add Disabled State, Disabled Options, and Invalid State sections to Select docs
  docs/components/select.mdx
  renderer/src/playground/examples.json
Due: none

Add comprehensive Combobox documentation sections
  docs/components/combobox.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/playground/examples.json
Due: none

Fix Select label display, click-outside, and group label styling
  docs/components/select.mdx
  renderer/src/components/form.tsx
  renderer/src/playground/examples.json
  renderer/src/ui/select.tsx
  src/prefab_ui/renderer/app.html
Due: tsc

Select: default below trigger, alignment props, option groups (#249)
  docs/actions/update-context.mdx
  docs/components/conditional.mdx
  docs/components/pages.mdx
  docs/components/select.mdx
  docs/concepts/composition.mdx
  docs/docs.json
  docs/examples/cross-filter.mdx
  docs/protocol/select-group.mdx
  docs/protocol/select-label.mdx
  docs/protocol/select-separator.mdx
  docs/protocol/select.mdx
  renderer/src/components/form.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/prop-transforms.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/index.ts
  renderer/src/schemas/select.ts
  renderer/src/ui/select.tsx
  schemas/fixtures/components/Select.json
  schemas/fixtures/components/SelectGroup.json
  schemas/fixtures/components/SelectLabel.json
  schemas/fixtures/components/SelectSeparator.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/select.py
  src/prefab_ui/renderer/app.html
  tests/components/test_select.py
Due: ty, tsc

Fix Combobox: manual filtering, shadow DOM click-outside, groups/separators
  docs/components/combobox.mdx
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/style-nova.css
  src/prefab_ui/renderer/app.html
Due: tsc

Rewrite Combobox on Base UI primitive (#251)
  docs/components/combobox.mdx
  docs/docs.json
  docs/protocol/combobox-group.mdx
  docs/protocol/combobox-label.mdx
  docs/protocol/combobox-separator.mdx
  docs/protocol/combobox.mdx
  docs/snippets/gen/welcome/code_showcase.mdx
  docs/welcome.mdx
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/prop-transforms.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/combobox.ts
  renderer/src/schemas/index.ts
  renderer/src/style-nova.css
  schemas/fixtures/components/Combobox.json
  schemas/fixtures/components/ComboboxGroup.json
  schemas/fixtures/components/ComboboxLabel.json
  schemas/fixtures/components/ComboboxSeparator.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/combobox.py
  src/prefab_ui/renderer/app.html
  tests/components/test_combobox.py
Due: ty, tsc

Fix Select size='sm' to be visually distinct from default
  renderer/src/style-nova.css
Due: none

Redesign Field as composable form wrapper
  docs/components/field.mdx
  docs/concepts/state.mdx
  docs/protocol/field-content.mdx
  docs/protocol/field-description.mdx
  docs/protocol/field-error.mdx
  docs/protocol/field-title.mdx
  renderer/src/components/field-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/prop-transforms.ts
  renderer/src/schemas/field.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Field.json
  schemas/fixtures/components/FieldContent.json
  schemas/fixtures/components/FieldDescription.json
  schemas/fixtures/components/FieldError.json
  schemas/fixtures/components/FieldTitle.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/field.py
  tests/components/test_field.py
Due: ty, tsc

Split ChoiceCard from Field as a separate component type
  docs/components/choice-card.mdx
  docs/components/field.mdx
  docs/components/switch.mdx
  docs/concepts/state.mdx
  docs/docs.json
  docs/protocol/choice-card.mdx
  docs/protocol/field-content.mdx
  renderer/src/components/field-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/field.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/ChoiceCard.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/field.py
  tests/components/test_field.py
Due: ty, tsc

FieldError auto-hides when field is valid, improve validation docs
  docs/components/choice-card.mdx
  docs/components/field.mdx
  renderer/src/playground/examples.json
  renderer/src/style-nova.css
Due: none

Fix OpenLink and Fetch __init__ to accept Rx values
  src/prefab_ui/actions/fetch.py
  src/prefab_ui/actions/navigation.py
Due: ty

Fix get_renderer_head extracting wrong </head> from bundled JS
  src/prefab_ui/renderer/__init__.py
Due: ty

Update hello world example to use Rx, add build_showcase script
  docs/welcome.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  scripts/build_showcase.py
Due: none

Fix app width collapsing in ext-apps iframe context
  renderer/src/index.css
  src/prefab_ui/renderer/app.html
Due: none

Fix app width collapsing in ext-apps iframe context (#259)
  renderer/src/index.css
  src/prefab_ui/renderer/app.html
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
