Repository PrefectHQ/prefab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, tsc

ty:
  name: ty check
  entry: uv run --isolated ty check
  language: system
  pass_filenames: false
  require_serial: true

tsc:
  name: tsc (renderer type check)
  entry: bash -c 'cd renderer && npx tsc --noEmit'
  language: system
  pass_filenames: false
  require_serial: true

Default renderer URL to CDN, add get_renderer_csp() (#23)
  README.md
  docs/welcome.mdx
  renderer/package-lock.json
  renderer/package.json
  src/prefab_ui/renderer/__init__.py
  tests/test_renderer.py
Due: ty

Migrate progress.tsx to shadcn v4 cn-* classes
  renderer/src/ui/progress.tsx
Due: tsc

Migrate dialog.tsx to shadcn v4 cn-* classes
  renderer/src/ui/dialog.tsx
Due: tsc

Migrate accordion.tsx to shadcn v4 cn-* classes
  renderer/src/ui/accordion.tsx
Due: tsc

Migrate tabs.tsx to shadcn v4 cn-* classes
  renderer/src/ui/tabs.tsx
Due: tsc

Migrate table.tsx to shadcn v4 cn-* classes
  renderer/src/ui/table.tsx
Due: tsc

Migrate popover.tsx to shadcn v4 cn-* classes
  renderer/src/ui/popover.tsx
Due: tsc

Migrate tooltip.tsx to shadcn v4 cn-* classes
  renderer/src/ui/tooltip.tsx
Due: tsc

Migrate separator.tsx to shadcn v4 cn-* classes
  renderer/src/ui/separator.tsx
Due: tsc

Migrate calendar.tsx to shadcn v4 cn-* classes
  renderer/src/ui/calendar.tsx
Due: tsc

Add Icon component and Alert icon support
  loq.toml
  renderer/src/components/alert-wrapper.tsx
  renderer/src/components/icon-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/lib/icons.tsx
  renderer/src/schemas/alert.ts
  renderer/src/schemas/icon.ts
  renderer/src/schemas/index.ts
  renderer/src/ui/alert.tsx
  schemas/fixtures/components/Icon.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/alert.py
  src/prefab_ui/components/icon.py
Due: ty, tsc

Add variant prop to Tabs (default/line)
  renderer/src/components/compound.tsx
  renderer/src/schemas/tabs.ts
  schemas/fixtures/components/Tabs.json
  src/prefab_ui/components/tabs.py
Due: ty, tsc

Add two-month range calendar and DatePicker calendar icon
  renderer/src/components/compound.tsx
Due: tsc

Add Spinner loading indicator component
  renderer/src/components/registry.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/spinner.ts
  renderer/src/ui/spinner.tsx
  schemas/fixtures/components/Spinner.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/spinner.py
Due: ty, tsc

Add choice card layout to Switch
  renderer/src/components/form.tsx
  renderer/src/schemas/switch.ts
  src/prefab_ui/components/switch.py
Due: ty, tsc

Align heading typography with shadcn v4
  renderer/src/components/typography.tsx
Due: tsc

Add Combobox searchable select component
  renderer/src/components/combobox-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/renderer.tsx
  renderer/src/schemas/combobox.ts
  renderer/src/schemas/index.ts
  schemas/fixtures/components/Combobox.json
  schemas/fixtures/components/ComboboxOption.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/combobox.py
Due: ty, tsc

Add icon prop to Button and update docs
  docs/apps/components/button.mdx
  renderer/src/components/button-wrapper.tsx
  renderer/src/components/registry.ts
  renderer/src/schemas/button.ts
  src/prefab_ui/components/button.py
Due: ty, tsc

Regenerate protocol docs and playground bundle for new components
  docs/apps/components/tabs.mdx
  docs/apps/patterns/data-display.mdx
  docs/apps/protocol/alert-title.mdx
  docs/apps/protocol/alert.mdx
  docs/apps/protocol/badge.mdx
  docs/apps/protocol/block-quote.mdx
  docs/apps/protocol/button.mdx
  docs/apps/protocol/checkbox.mdx
  docs/apps/protocol/code.mdx
  docs/apps/protocol/combobox-option.mdx
  docs/apps/protocol/combobox.mdx
  docs/apps/protocol/h1.mdx
  docs/apps/protocol/h2.mdx
  docs/apps/protocol/h3.mdx
  docs/apps/protocol/h4.mdx
  docs/apps/protocol/heading.mdx
  docs/apps/protocol/icon.mdx
  docs/apps/protocol/image.mdx
  docs/apps/protocol/inline-code.mdx
  docs/apps/protocol/input.mdx
  docs/apps/protocol/label.mdx
  docs/apps/protocol/large.mdx
  docs/apps/protocol/lead.mdx
  docs/apps/protocol/markdown.mdx
  docs/apps/protocol/p.mdx
  docs/apps/protocol/progress.mdx
  docs/apps/protocol/radio.mdx
  docs/apps/protocol/select-option.mdx
  docs/apps/protocol/select.mdx
  docs/apps/protocol/slider.mdx
  docs/apps/protocol/small.mdx
  docs/apps/protocol/span.mdx
  docs/apps/protocol/spinner.mdx
  docs/apps/protocol/switch.mdx
  docs/apps/protocol/text.mdx
  docs/apps/protocol/textarea.mdx
  renderer/src/playground/bundle.json
Due: none

Use hyphenated examples for kebab-case icon descriptions
  docs/apps/components/button.mdx
  src/prefab_ui/components/button.py
  src/prefab_ui/components/icon.py
Due: ty

Fix Switch: pass size prop, use Field CSS for choice cards
  renderer/src/components/form.tsx
Due: tsc

Add docs for Icon, Spinner, Combobox; update Alert, Switch, Tabs docs
  docs/apps/components/alert.mdx
  docs/apps/components/combobox.mdx
  docs/apps/components/icon.mdx
  docs/apps/components/spinner.mdx
  docs/apps/components/switch.mdx
  docs/apps/components/tabs.mdx
  docs/apps/protocol/button.mdx
  docs/docs.json
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Add Reading the Selection example to Combobox docs
  docs/apps/components/combobox.mdx
Due: none

Use valid icon for Combobox docs page
  docs/apps/components/combobox.mdx
Due: none

Add Field component, remove choice card from Switch
  docs/apps/components/field.mdx
  docs/apps/components/switch.mdx
  docs/apps/protocol/field.mdx
  docs/apps/protocol/switch.mdx
  docs/docs.json
  renderer/src/components/field-wrapper.tsx
  renderer/src/components/form.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/field.ts
  renderer/src/schemas/index.ts
  renderer/src/schemas/switch.ts
  schemas/fixtures/components/Field.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/field.py
  src/prefab_ui/components/switch.py
Due: ty, tsc

Fix renderer for MCP host sandboxed iframes
  renderer/package-lock.json
  renderer/package.json
  renderer/src/components/data-display.tsx
  renderer/vite.config.ts
  src/prefab_ui/renderer/__init__.py
  tests/test_renderer.py
Due: ty, tsc

Fix renderer for MCP host sandboxed iframes (#27)
  renderer/package-lock.json
  renderer/package.json
  renderer/src/components/data-display.tsx
  renderer/vite.config.ts
  src/prefab_ui/renderer/__init__.py
  tests/test_renderer.py
Due: ty, tsc

Add chart components (Bar, Line, Area, Pie, Radar, Radial)
  docs/apps/components/area-chart.mdx
  docs/apps/components/bar-chart.mdx
  docs/apps/components/line-chart.mdx
  docs/apps/components/pie-chart.mdx
  docs/apps/components/radar-chart.mdx
  docs/apps/components/radial-chart.mdx
  docs/apps/protocol/area-chart.mdx
  docs/apps/protocol/bar-chart.mdx
  docs/apps/protocol/chart-series.mdx
  docs/apps/protocol/line-chart.mdx
  docs/apps/protocol/pie-chart.mdx
  docs/apps/protocol/radar-chart.mdx
  docs/apps/protocol/radial-chart.mdx
  docs/docs.json
  renderer/package-lock.json
  renderer/package.json
  renderer/src/components/charts.tsx
  renderer/src/components/registry.ts
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  renderer/src/schemas/index.ts
  renderer/src/theme.css
  renderer/src/ui/chart.tsx
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  schemas/fixtures/components/PieChart.json
  schemas/fixtures/components/RadarChart.json
  schemas/fixtures/components/RadialChart.json
  schemas/manifest.json
  src/prefab_ui/components/__init__.py
  src/prefab_ui/components/chart.py
Due: ty, tsc

Add chart customization options
  docs/apps/components/area-chart.mdx
  docs/apps/components/bar-chart.mdx
  docs/apps/components/line-chart.mdx
  docs/apps/components/pie-chart.mdx
  docs/apps/components/radar-chart.mdx
  docs/apps/components/radial-chart.mdx
  renderer/src/components/charts.tsx
  renderer/src/schemas/chart.ts
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  schemas/fixtures/components/PieChart.json
  schemas/fixtures/components/RadarChart.json
  schemas/fixtures/components/RadialChart.json
  src/prefab_ui/components/chart.py
Due: ty, tsc

Add chart customization options
  docs/apps/components/area-chart.mdx
  docs/apps/components/bar-chart.mdx
  docs/apps/components/line-chart.mdx
  docs/apps/components/pie-chart.mdx
  docs/apps/components/radar-chart.mdx
  docs/apps/components/radial-chart.mdx
  docs/apps/protocol/area-chart.mdx
  docs/apps/protocol/bar-chart.mdx
  docs/apps/protocol/line-chart.mdx
  docs/apps/protocol/pie-chart.mdx
  docs/apps/protocol/radar-chart.mdx
  docs/apps/protocol/radial-chart.mdx
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  schemas/fixtures/components/PieChart.json
  schemas/fixtures/components/RadarChart.json
  schemas/fixtures/components/RadialChart.json
  src/prefab_ui/components/chart.py
Due: ty, tsc

Add chart customization options (#30)
  docs/apps/components/area-chart.mdx
  docs/apps/components/bar-chart.mdx
  docs/apps/components/line-chart.mdx
  docs/apps/components/pie-chart.mdx
  docs/apps/components/radar-chart.mdx
  docs/apps/components/radial-chart.mdx
  docs/apps/protocol/area-chart.mdx
  docs/apps/protocol/bar-chart.mdx
  docs/apps/protocol/line-chart.mdx
  docs/apps/protocol/pie-chart.mdx
  docs/apps/protocol/radar-chart.mdx
  docs/apps/protocol/radial-chart.mdx
  renderer/src/components/charts.tsx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
  renderer/src/schemas/chart.ts
  schemas/fixtures/components/AreaChart.json
  schemas/fixtures/components/BarChart.json
  schemas/fixtures/components/LineChart.json
  schemas/fixtures/components/PieChart.json
  schemas/fixtures/components/RadarChart.json
  schemas/fixtures/components/RadialChart.json
  src/prefab_ui/components/chart.py
Due: ty, tsc

Align alert variants to use text color on neutral background
  renderer/src/style-nova.css
Due: none

Use Grid layout in badge variants example
  docs/apps/components/badge.mdx
Due: none

Increase badge grid gap to 4
  docs/apps/components/badge.mdx
Due: none

Increase badge grid gap to 8
  docs/apps/components/badge.mdx
Due: none

Share namespace across preview snippets in the same file
  docs/_preview-build/render_previews.py
  docs/apps/components/badge.mdx
Due: none

Regenerate preview JSON for chart and other docs
  docs/apps/actions/set-state.mdx
  docs/apps/components/area-chart.mdx
  docs/apps/components/calendar.mdx
  docs/apps/components/date-picker.mdx
  docs/apps/components/foreach.mdx
  docs/apps/components/line-chart.mdx
  docs/apps/components/pie-chart.mdx
  docs/apps/components/progress.mdx
  docs/apps/components/radial-chart.mdx
  docs/apps/components/slider.mdx
  docs/apps/components/state.mdx
  docs/apps/protocol/area-chart.mdx
  docs/apps/protocol/line-chart.mdx
  renderer/src/playground/bundle.json
  renderer/src/playground/examples.json
Due: none

Reorganize docs nav, add Define/Use reference page
  docs/components/define-use.mdx
  docs/docs.json
Due: none

Path conditions:
  ty: any of: ^src/|^tests/ and \.py$
  tsc: any of: ^renderer/.*\.(ts|tsx)$
